<div class="menu-left" [ngClass]="isMenuON === true ? 'menu-on' : 'menu-off'">
    <div class="menu-grid">
        <div class="grid-section-left">
            <div class="trigger">
                <img [class.img-active]="isMenuON === true" 
                src="../../../../assets/app_icons/icon_hamburger_001.png" 
                (click)="handleMenuCustomTrigger()" />
            </div>
            <img class="logo" src="../../../../assets/app_logos/fp_logo_03.png">
        </div>
    </div>
    <div class="scroll">
        <div class="menu-elements">
            <!-- User ( Not Connected ) -->
            <div *ngIf="userRole !== 1 && userRole !== 2">
                <a routerLink="/home" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>Home</p>
                </a>
                <a routerLink="/about" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_about_001.png" />
                    <p>About</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/tags" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>{{ 'title.tools' | translate }}</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>{{ 'title.links' | translate }}</p>
                </a>
            </div>
            <!-- User ( Connected ) -->
            <div *ngIf="userIsConnected && userRole === 1">
                <a routerLink="/home" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>Home</p>
                </a>
                <a routerLink="/about" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_about_001.png" />
                    <p>About</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/tags" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>{{ 'title.tools' | translate }}</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>{{ 'title.links' | translate }}</p>
                </a>
            </div>
            <!-- Administrator -->
            <div *ngIf="userIsConnected && userRole === 2">
                <a routerLink="/dashboard" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>{{ 'title.dashboard' | translate }}</p>
                </a>
                <a routerLink="/medias" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_franchises_001.png" />
                    <p>Media</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact: true}" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/tags" routerLinkActive="active" (click)="handleMenuTrigger()"
                    [routerLinkActiveOptions]="{exact: true}">
                    <img src="../../../../assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>{{ 'title.tools' | translate }}</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>{{ 'title.links' | translate }}</p>
                </a> 
            </div>
            <!-- User ( Not Connected ) -->
            <div *ngIf="userRole !== 1 && userRole !== 2">
                <a class="user" routerLink="/register" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/icon_artists_001.png" />
                    <p>{{ 'title.my-account' | translate }}</p>
                </a>
            </div>
            <!-- User ( Connected ) -->
            <div *ngIf="userIsConnected && userRole === 1">
                <a class="user" routerLink="/my-account" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/mood.png" />
                    <p>{{ 'title.my-account' | translate }}</p>
                </a>          
            </div>
            <!-- Administrator -->
            <div *ngIf="userIsConnected && userRole === 2">
                <a class="user" routerLink="/my-account" routerLinkActive="active" (click)="handleMenuTrigger()">
                    <img src="../../../../assets/app_icons/mood.png" />
                    <p>{{ 'title.my-account' | translate }}</p>
                </a>        
            </div>
        </div>
        <div class="menu-footer">
            <p>© {{currentYear}} <a routerLink="/about" (click)="handleMenuTrigger()">Flying PAD</a>
        </div>
    </div>
</div>