<div id="layout-central">
  <h2>Create Artist</h2> 
  <div class="artist-form">  
    <form [formGroup]="form" (ngSubmit)="onSubmit()">  
      <input #artistNameInput class="form-item" type="text" formControlName="name" placeholder="New Artist Name">
      <button class="form-item" type="submit" [disabled]="form.invalid">Submit</button>
      <div class="form-item checkbox">
          <div class="combo" *ngFor="let style of stylesGetAllResponse?.stylesList">
              <input type="checkbox" id="{{style.name}}" value="{{style.name}}" (change)="style.isChecked = !style.isChecked">
              <label for="{{style.name}}">{{style.name}}</label>
          </div>   
      </div>
    </form>
  </div>
</div>