.dashboard-menu {
    padding: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    .menu-element {
        width: 60px;
        margin: 5px;
        padding: 5px;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        background-color: var(--colorWhiteOpacity4);
        border: 3px solid var(--colorMainOpacity2);
        border-radius: 10px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        transition-duration: 250ms;

        img {
            display: block;
            margin: auto;
            height: 27px;
        }

        p {
            color: var(--colorMain);
            font-size: 10px;
            margin: 0;
        }
    }

    .menu-element:hover:not(.active) {
        background-color: var(--colorWhiteOpacity7);
        border: 3px solid var(--colorMainOpacity5);
        cursor: pointer;

        p {
            color: var(--colorMain);
        }
    }

    .active {
        background-color: var(--colorWhite);
        border: 3px solid var(--colorMain);

        p {
            color: var(--colorMain);
        }
    }
}