<div class="dashboard-menu">
    <div class="menu-element" (click)="handleDashBoardMenuState('status')" [class.active]="dashboardMenuState() === 'status'">
        <app-icon-mood size="27px" />
        <p>Status</p>
    </div>
    <div class="menu-element" (click)="handleDashBoardMenuState('statistics')"
        [class.active]="dashboardMenuState() === 'statistics'">
        <app-icon-statistics size="27px" />
        <p>Statistics</p>
    </div>
    @if(user.role === 2) {
    <div class="menu-element" (click)="handleDashBoardMenuState('edition')" [class.active]="dashboardMenuState() === 'edition'">
        <app-icon-edit size="27px" />
        <p>Edition</p>
    </div>
    }
    <div class="menu-element" (click)="handleDashBoardMenuState('account')" [class.active]="dashboardMenuState() === 'account'">
        <app-icon-user size="27px" />
        <p>{{ 'title.my-account' | translate }}</p>
    </div>
    <div class="menu-element" (click)="handleDashBoardMenuState('achievements')"
        [class.active]="dashboardMenuState() === 'achievements'">
        <app-icon-star size="27px" />
        <p>{{ 'title.achievements' | translate }}</p>
    </div>
</div>