.edition-menu
{
    margin-top: 10px;
    
    display: flex;
    justify-content: center;
    align-items: center;  

    a
    {
        margin: 10px;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;  

        font-size: 17px;
        color : var(--colorMain);

        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 15px;

        img
        {
            height: 40px;
        }
    }
    a:hover
    {
        background-color: rgba(255, 255, 255, 0.9);
        transition-duration: 500ms;
        cursor: pointer;
    }
    .active
    {
        background-color: rgba(255, 255, 255, 0.9);
    }
}

.mood-update-form
{
    margin-top: 10px;
    margin-bottom: 50px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    form
    {
        .form-item
        {
            padding: 8px;
            margin: 8px;
            border-radius: 7px;
            font-size: 14px;
        }
        input:focus
        {
            outline: none;
            border: 2px solid #413429;
        }
        button
        {
            width: 100px;
            border: 2px solid #413429;
            background-color: #6b5240;          
            text-align: center;
            letter-spacing: 1px;
            color:#ffffff;
        }
        button:hover
        {
            background-color: rgb(255, 255, 255);
            color:#6b5240;
            cursor: pointer;
            transition-duration: 500ms;
        }
        button:disabled 
        {
            background-color: rgba(192, 192, 192, 0.8);
            color: rgba(102, 102, 102);
            cursor: not-allowed;
        }
    }
}

.filter
{
    display: flex;
    justify-content: center;

    input
    {
        padding: 8px;
        margin: 8px;
        border-radius: 7px;
        font-size: 14px;
    }
    input:focus
    {
        outline: none;
        border: 2px solid #413429;
    }
}

.form-container
{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;

    .form-flex
    {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    
        color : #6b5240;
        text-align : left;	
        font-size: 14px;
    
        .form_cat_box
        {
            overflow-y: scroll;
    
            width: 250px;
            height: 350px;
    
            margin: 15px;
            padding: 25px;
    
            border: 1px solid #6b5240;
            border-radius: 10px;
            background-color: rgba(255, 255, 255, 0.4);
    
            .duo
            {
                display: flex;
                align-items: center;
                margin-bottom: 5px;
    
                input
                {
                    height: 20px;
                    width: 20px;
                }
        
                label
                {
                    margin-left: 15px;
                }
            }
        }
    }
}

.delete-button
{
    margin-bottom: 150px;

    span
    {
        background-color: rgba(255, 255, 255, 0.5);
        border: 1px solid black;
        border-radius : 5px;
        padding: 10px;
    }
    span:hover
    {
        background-color: rgba(107, 82, 64, 0.7);
        color: white;
        transition-duration: 500ms;
        cursor: pointer;
    }
}

.box-delete
{
    position: absolute;
    top: 155px;
    left: 50%;

    transform:translateX(-50%);

    background-color: rgb(255, 255, 255, 0.9);
    border: 1px solid var(--colorMain);
    border-radius: 15px;

    padding: 15px;
    z-index: 19;

    opacity: 0;
    pointer-events: none;
    transition-duration: 500ms;

    h1
    {
        font-size: 20px;
        color: rgb(142, 0, 0);
    }
    span
    {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(255, 255, 255, 0.9);
        border: 1px solid var(--colorMain);
        border-radius: 15px;
        height: 50px;
    }
    span:hover
    {
        background-color: rgba(107, 82, 64, 0.7);
        color: #fff;
        transition-duration: 500ms;
        cursor: pointer;
    }
}
.on-delete
{
    opacity: 1;
    pointer-events: initial;
    margin-bottom: 150px;
}