.edition-menu {
    margin-top: 10px;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        position: relative; 

        margin: 10px;
        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 17px;
        color: var(--colorMain);

        background-color: var(--colorWhiteOpacity4);
        border: 2px solid var(--colorMain);
        border-radius: 15px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        span {
            position: absolute;
            top: 77px;
            font-size: 12px;
            font-weight: bold;
        }

        img {
            height: 50px;
            width: 50px;
        }
    }

    a:not(.active):hover {
        background-color: var(--colorWhiteOpacity7);
        transition-duration: 500ms;
        cursor: pointer;
    }

    .active {
        background-color: var(--colorWhite);
    }
}

.thumbnail {
    position: sticky;
    top: 75px;
    
    opacity: 0.5;
    z-index: 19;
    
    display: block;
    width: 200px;
    margin: auto;
    margin-top: 25px;
    margin-bottom: 15px;
    
    background-color: var(--colorWhite);
    border: 1px solid var(--colorMain);
    border-radius: 5px;

    padding: 15px;
    padding-bottom: 12px;

    img {
        width: 100%;
    }
}
.thumbnail:hover {
    opacity: 1;
    transition-duration: 500ms;
}