<div class="edition-menu">
    <a (click)="triggerMoodEditionButton()" [class.active]="triggerMoodEdition === true">
        <span>INFO</span>
        <app-icon-mood size="50px" />
    </a>
    <a (click)="triggerMoodTagsEditionButton()" [class.active]="triggerMoodTagsEdition === true">
        <span>TAGS</span>
        <app-icon-tag size="50px" />
    </a>
    <a (click)="triggerMoodModelsEditionButton()" [class.active]="triggerMoodModelsEdition === true">
        <span>{{ 'title.models' | translate | uppercase }}</span>
        <app-icon-model size="50px" />
    </a>
    <a (click)="triggerMoodArtistsEditionButton()" [class.active]="triggerMoodArtistsEdition === true">
        <span>{{ 'title.artists' | translate | uppercase }}</span>
        <app-icon-artist size="50px" />
    </a>
</div>

<div class="thumbnail">
    @if(mood.type == 1){
        <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}" />
    }
    @if(mood.type == 2){
        <img src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg" />
    }
</div>

@if(triggerMoodEdition){
    <app-edition-info [mood]="mood" (triggerGallery)="handleShowGallery()" />
}
@if(triggerMoodTagsEdition){
    <app-edition-tags [mood]="mood" />
}
@if(triggerMoodModelsEdition){
    <app-edition-models [mood]="mood" />
}
@if(triggerMoodArtistsEdition){
    <app-edition-artists [mood]="mood" />
}

<app-bottom-bar [moodsGalleryType]="'edition'" (showDetails)="handleShowDetails()"/>