<div class="scripts">
    <h1>La Notation Musicale</h1>
    <div class="article_box">
        <p>Parce qu'au bout d'un moment, il n'est plus possible de tout retenir par coeur.</p>
        <p>Il sera donc nécessaire de déléguer une partie de notre mémoire à l'écrit.</p>
        <p>Et inversément, écrire quelque chose permet de mieux le retenir...</p>
    </div>
    <div class="article_box primary">
        <p>Aussi, le <u>système tonal</u> se développe au <b>XVII</b> ème siècle.</p>
        <p>Et il est lui-même issu d'un héritage millénaire qui remonte à l'antiquité.</p>
        <p>Et il continue d'évoluer encore aujourd'hui.</p>
    </div>
    <div class="article_box">
        <p>Pour dire que depuis le temps,</p>
        <p>Il y a bon nombre de personnes qui se sont penchés sur la question de la notation.</p>
        <p>Il existe ainsi, un vaste choix de systèmes d'écriture.</p>
    </div>
    <div class="article_box primary">
        <p>Et quelque part, pourquoi choisir ?</p>
        <p>Comprendre différents systèmes de notation permet d'élargir sa vision.</p>
        <p>de multiplier les sources potentielles d'approches et de savoir.</p>
    </div>
    <div class="article_box">
        <p><u>Alors, vite fait</u> : </p>
        <p>Le système tonal, ça s'est passé chez nous en Europe, pendant la Renaissance.</p>
        <p>Et trois pays se sont particulièrement démarqués dans la discipline :</p>
        <p> ▸ L'Allemagne,</p>
        <p> ▸ L'Italie,</p>
        <p> ▸ La France.</p>
    </div>
    <div class="article_box primary">
        <p>Vous constaterez que le vocabulaire musical est parsemé de termes provenant de ces trois cultures.</p>
        <p>Et bien qu'ayant un socle commun, chaque école a développé ses petites nuances.</p>
    </div>
    <div class="article_box">
        <p>Bref, ensuite durant le <b>XVIII</b> ème siècle, la musique tonale s'est exportée vers le monde anglo-saxon.</p>
        <p>D'abord vers l'Angleterre, ensuite les États-Unis.</p>
        <p>À partir de là, le système tonal a commencé à vivre sa petite vie indépendamment de chaque côté.</p>
    </div>
    <div class="article_box primary">
        <p>Aujourd'hui, le système tonal est utilisé presque partout sur Terre.</p>
        <p>La culture anglo-saxonne a quelque peu débordé sur le reste du monde.</p>
        <p>Et par extension, sa vision de la musique tonale.</p>
        <p>S'en est suivi une hybridation des différentes perspectives musicales.</p>
        <p>Et nous voilà aujourd'hui, avec un système tonal réunifié.</p>
    </div>     
    <div class="article_box">
        <p>Voilà, je voulais placer un peu de contexte,</p>
        <p>Pour dire que des systèmes de notation efficaces existent déjà.</p>
        <p>Et qu'ils sont le fruit d'une longue évolution.</p>
        <p>Il serait donc dommage de ne pas s'en servir.</p>
    </div>
    <div class="article_box primary">
        <p>Qu'avons-nous donc au menu ? </p>
    </div> 
    <div class="menu">
        <div>
            <p><b> ▸ La notation occidentale</b></p>
            <img src="/assets/app_scripts/notation-eur.png" />
            <p>Précise pour tous les instruments.</p>
        </div>
        <div>
            <p><b> ▸ La notation alphabétique</b></p>
            <img src="/assets/app_scripts/notation-alp.png" />
            <p>Offrant plus de liberté.</p>
        </div>
        <div>
            <p><b> ▸ Les tablatures ( ou TAB's )</b></p>
            <img src="/assets/app_scripts/notation-tab.png" />
            <p>Pratique pour les instruments à cordes.</p>
        </div>
    </div>
</div>