.menu {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    div {
        width: 315px;

        border: 4px solid var(--colorMain);
        border-radius: 5px;

        margin: 15px;

        img {
            display: block;

            margin: auto;
            margin: 15px;

            border: 1px dotted var(--colorMain);
            border-radius: 5px;
        }
    }
}