<div class="bottom-box"></div>
<div id="layout-central" *ngIf="modelsFlow() as flow">
    <!-- Pagination controls -->
    <div class="row-sticky" *ngIf="flow.length > mpp">
      <div id="pagination">
          <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>  
    </div>     
    <!-- List -->
    <div id="list">
        <div *ngFor="let model of flow | paginate : { itemsPerPage : mpp, currentPage: p }">
          <div class="list-flex"> 
            <a class="list-item link" routerLink="/models/model-gallery" (click)="updateModelId(model.businessId)"> ▸ {{model.pseudonym}}</a>   
            <a class="list-item update" routerLink="/models/update-model" (click)="updateModelId(model.businessId)">U</a>      
            <a class="list-item delete" routerLink="/models/delete-model" (click)="updateModelId(model.businessId)">D</a>     
          </div>  
        </div>
    </div>
</div>
<div class="bottom-box"></div>