<div class="scripts">
    <h1>Arsenal Musical</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Il est vrai qu'il y a beaucoup de choses à apprendre pour devenir un bon musicien.</p>
        <p>Il nous faut développer un véritable arsenal de connaissances et de techniques en tout genre.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Et bien que toutes ces connaissances vont devoir être exploitées <u>simultanément</u>.</p>
        <p>Il est intéressant dans une optique d'apprentissage de les isoler pour mieux les travailler.</p>
        <p>Je vous propose ainsi de concevoir votre <strong>arsenal musical</strong> en <strong>3</strong> disciplines distinctes :</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.RythmicArsenal)"> ▸ <b>Arsenal Rythmique</b></p>
        <p> ( Gestion du Temps, Pulsation, Tempo, Valeurs de temps, Séquences, Rythmes, ... )</p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.HarmonicArsenal)"> ▸ <b>Arsenal Harmonique</b></p>
        <p> ( Tonalités, Intervalles Harmoniques, Accords, Progressions Harmoniques, Modulations, ... )</p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.MelodicArsenal)"> ▸ <b>Arsenal Mélodique</b></p>
        <p> ( Intervalles Mélodiques, Gammes, Modes, Timbre, ... )</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Avec de petites bases dans chacune de ces disciplines, il est déjà possible de faire pas mal de choses.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Nous allons ensuite combiner ces disciplines, ce qui nous ouvrira les portes de nouvelles disciplines.</p>
        <p> ( Improvisation, Composition, Arrangement, Production, ... )</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>À noter également que chacune de ces disciplines peut également devenir une spécialisation.</p>
        <p>L'arsenal rythmique d'un percussioniste sera forcément plus développé que son arsenal harmonique.</p>
    </div>
</div>