#create-multiple-images {
    font-size: 15px;

    p {
        margin: 0;
    }

    #file_menu {
        p {
            color: var(--colorMain);
            margin: 5px;
            text-align: center;

            input {
                padding: 5px;
                font-size: 14px;
            }

            input[type="file"] {
                display: none;
            }
        }
    }

    #multiple {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        margin-bottom: 50px;

        .file {
            width: 310px;

            margin: 15px;
            padding: 15px;

            background-color: var(--colorWhiteOpacity5);
            border: 1px solid var(--colorMain);
            border-radius: 5px;

            .file-picture {
                height: 175px;
                overflow-y: scroll;

                border: 1px solid var(--colorMain);
                border-radius: 5px;

                margin: 10px;

                img {
                    width: 100%;
                }
            }

            .info_flex {
                display: flex;
                justify-content: space-between;
                align-items: center;

                margin: 10px;
                padding: 10px;

                background-color: var(--colorMainOpacity2);
                border-radius: 5px;

                input {
                    width: 150px;
                    padding: 5px;
                    color: var(--colorMain);
                }
            }
        }
    }

    button {
        display: block;
        width: 100px;
        margin: 8px;
        margin: auto;

        background-color: var(--colorMain);
        border: 1px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0px 2px 4px var(--colorMainOpacity2);

        padding: 8px;

        text-align: center;
        letter-spacing: 1px;
        color: #ffffff;
        font-size: 14px;
    }

    button:hover {
        background-color: var(--colorWhite);
        color: var(--colorMain);
        cursor: pointer;
        transition-duration: 500ms;
    }
}