.game-cards {
  width: 600px;
  margin: auto;
  margin-top: 25px;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .game-cards {
    width: 100%;
  }
}