<div class="scripts">
    <h1>L'Octave</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Nous avons vu dans le chapitre précédent qu'il existait plusieurs instances de la même note.</p>
        <p>Du registre des graves vers les aigus et nous avons attribué un numéro à chacune.</p>
        <p>Ceci, pour les identifier de manière unique !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Quand on se déplace sur le clavier, nous allons vers la gauche ou vers la droite.</p>
        <p>Respectivement donc : des <b>graves</b> ( gauche ) vers les <b>aigus</b> ( droite ).</p>
        <p>On parle également de <u>descendre</u> ( vers les graves ) ou de <u>monter</u> ( vers les aigus ).</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Quand on parle d'octave, c'est exactement de cela qu'il s'agit !</p>
        <p>L'octave est un <u>intervalle</u>.
        <p>Qui représente la distance entre une note et son équivalente au numéro inférieur ou supérieur.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Ainsi, si je vous dis : "Jouez-moi un Do4, et ensuite, jouez le à l'octave supérieur".</p>
        <p>L'idée est de jouer le Do4, suivi d'un Do5.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Et cela vaut pour toutes les notes, sans exceptions !</p>
        <p>Si vous êtes sur un Sol6 et que je vous dis de le jouer deux octaves en dessous".</p>
        <p>Vous aurez compris que vous devrez jouer le Sol4.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>On peut ainsi se déplacer d'un, ou plusieurs octaves très facilement.</p>
    </div>
</div>