.statistics {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .box {
        width: 322px;

        margin: 15px;

        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMain);
        border-radius: 10px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        padding: 15px;

        color: var(--colorMain);

        .group {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .group-icon {
                display: flex;
                align-items: center;
            }

            p {
                margin: 7px;
            }
        }
    }

    .link {
        transition-duration: 300ms;
        cursor: pointer;
    }

    .link:hover {
        background-color: var(--colorWhiteOpacity9);
    }

    .tweak {
        height: 97px;
    }
}