<div class="main-frame">
    <h1 class="frame-title">Edition Menu</h1>
    <hr class="dialog-hr">
    <div class="edition-menu">
        <a routerLink="/tags/edition">
            <app-icon-tag class="img" size="30px" />
            <p>Tags</p>
        </a>
        <a routerLink="/franchises/edition">
            <app-icon-dollar class="img" size="30px" />
            <p>Franchises</p>
        </a>
        <a routerLink="/artists/edition">
            <app-icon-artist class="img" size="30px" />
            <p>{{ 'title.artists' | translate }}</p>
        </a>
        <a routerLink="/models/edition">
            <app-icon-model class="img" size="30px" />
            <p>{{ 'title.models' | translate }}</p>
        </a>
        <a routerLink="/links/edition">
            <app-icon-link class="img" size="30px" />
            <p>{{ 'title.links' | translate }}</p>
        </a>
    </div>
    <div class="edition-menu">
        <a routerLink="/moods/create-mood-image">
            <app-icon-mood class="img" size="30px" />
            <p>{{ 'title.add-image' | translate }}</p>
        </a>
        <a routerLink="/moods/create-mood-video">
            <app-icon-mood class="img" size="30px" />
            <p>{{ 'title.add-video' | translate }}</p>
        </a>
    </div>
</div>