.edition-menu {
    padding: 25px;
    margin: auto;
    margin-bottom: 15px;
    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

    a {
        display: flex;
        align-items: center;
        
        margin: 15px;
        padding: 25px;

        width: 200px;

        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMain);
        border-radius: 10px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        color: var(--colorMain);
        text-decoration: none;
        font-size: 17px;

        .img {
            margin-right: 10px;
        }
    }

    a:hover {
        background-color: var(--colorWhite);
        transition-duration: 500ms;
    }
}