<app-menu-right-desktop>
    <div class="content_right_desktop">
        <!-- Random Mood Button -->
        <div id="random" class="item-top box_buttons">
            <a routerLink="/moods/new-mood" (click)="getMoodRandom()">Random Mood</a>
        </div>
        <!-- Tags List -->
        <div id="tag_list_main">
            <div *ngFor="let tagList of tagsList()">
                <div id="tags_container">
                    <p class="category_name">{{tagList.category.name}}</p>
                    <div *ngFor="let tag of tagList.tags">
                        <div id="tag_box">
                            <a id="{{tag.businessId}}" class="name-tag" [ngClass]="{'active': tag.name === moods().tagDetails?.name}"
                                (click)="updateTagId(tag.businessId)"> ▸ {{tag.name}}
                            </a>                         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-menu-right-desktop>

<div id="layout-central">
    <div *ngIf="moods().moodsList.length; else loading">
        <!-- Pagination -->
        <div class="row-sticky" *ngIf="moods().moodsList.length > moodsPerPage">
            <div id="pagination">
                <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
            </div>  
        </div> 
        <!-- Gallery -->
        <div id="sub_gallery">
            <div *ngFor="let mood of moods().moodsList | paginate : { itemsPerPage : moodsPerPage, currentPage : currentPage }">
                <section>
                    <div *ngIf="mood.type == 1">           
                        <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}" 
                        (click)="updateMoodId(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 2">
                        <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"
                        (click)="updateMoodId(mood.businessId)" />        
                    </div>
                    <div *ngIf="mood.type == 3">
                        <img src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg"
                        (click)="updateMoodId(mood.businessId)" />       
                    </div>
                    <div *ngIf="mood.type == 4">
                        <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood.businessId}}.jpg"
                        (click)="updateMoodId(mood.businessId)" />
                    </div>
                </section>
            </div>
        </div>
    </div>
    <!-- or loading if not -->
    <ng-template #loading>
        <div class="loading">
            <p>Loading ...</p>
            <img src="../../../../assets/app_icons/spinner.gif" />
        </div>
    </ng-template>
</div>