<div class="dashboard-header">
    <img src="../../../assets/icons-avatars/mood.png" />
    <div>
        <div class="user">
            <app-icon-coin class="icon" size="20px" [colorOuter]="'#cd7f32'" />
            <p>{{user.userName}}</p>
        </div>
        <div class="info">
            <p> - Level : {{ user.level }}</p>
            <p> - Experience : {{ user.experience }}</p>
            <p> - League : Bronze </p>
        </div>
        <p class="tweak"><b>{{ 'title.subscription' | translate }}</b> : {{ user.created | localizedDate }}</p>
    </div>
</div>