<div class="dashboard-header">
    <img class="avatar" src="../../../assets/icons-avatars/mood.png" />
    <div>
        <h1>{{user.pseudonym}}</h1>
        <p> - Level {{ user.level }}</p>
        <p> - Experience {{ user.experience }}</p>
        <div class="p-flex">
            <p> - League : Bronze </p>
            <div class="icon">
                
            </div>
        </div>
        <p class="tweak"><b>{{ 'title.subscription' | translate }}</b> : {{ user.created | localizedDate }}</p>
    </div>
    <app-icon-coin size="40px" [colorOuter]="'#cd7f32'" />
</div>