<div class="scripts">
    <h1>Arsenal Mélodique</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Dans cette section, nous allons développer notre arsenal mélodique.</p>
    </div>
    <div class="article_box">
        <p>Une <b>mélodie</b>, c'est une suite de notes alliant à la fois :</p>
        <p> ▸ Une force rythmique, de par l'organisation de ses notes dans le temps.</p>
        <p> ▸ Une force harmonique, de par l'organisation des intervalles qui la compose.</p>
    </div>
    <div class="article_box primary">
        <p>On peut considérer la mélodie comme le 'guide' d'une oeuvre musicale.</p>
        <p>En anglais, d'ailleurs on va parler de 'Lead'.</p>
        <p>Dans la chanson, c'est la voix qui s'occupe de ce rôle.</p>
        <p>Mais bien entendu, ce rôle peut parfaitement être repris par un instrument.</p>
        <p>Dans tous les cas lorsqu'il s'agit de composer des lignes mélodiques, on va parler de 'conduite de voix'.</p>
        <p>En anglais, on va parler de 'Voice-Leading'.</p>
    </div>
    <div class="article_box">
        <p>En général, ce sont les lignes que les gens retiennent dans un oeuvre et ce qu'ils vont siffloter de temps à autres.</p>
        <p>Une mélodie puissante, fonctionnera seule a cappella.</p>
        <p>Mais peut prendre un sens différent lorsque placée dans un contexte harmonique précis.</p>
        <p>On va également parler de réharmonisation.</p>
    </div>
    <div class="article_box">
        <p>Le TIMBRE bien qu'également fondamental dans le rythme et l'harmonie, va prendre ici une importance encore plus capitale.</p>
        <p>En effet, le timbre va apporter à la mélodie un caractère d'intention.</p>
        <p>La même mélodie n'aura pas le même effet en fonction de l'instrument qui la joue.</p>
        <p>Le timbre va même carrément influencer le placement de la mélodie.</p>
    </div>
</div>