<div class="edition">
    <h2 class="h2">Edit Current Link Category</h2>

    <form [formGroup]="formGroup">
        <input type="text" formControlName="name">
        <input type="text" formControlName="description">
    </form>

    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="updateLinkCategory()">Submit</a>
    <a class="edition-button" (click)="toggleDialog()">Delete</a>
</div>

<app-spacer />

<app-dialog>
    <app-delete-link-category [linkCategory]="linkCategory" (setViewMode)="handleSetViewMode()" />
</app-dialog>