<app-button-top />
<div id="layout-central">    
    <div class="section-flex">
        <section>
            <h2>INTRODUCTION</h2>
            <p>▸ <a routerLink="/scripts/introduction"> Avant de commencer</a></p>
            <p>▸ <a routerLink="/scripts/piano-reference"> La Référence Clavier</a></p>
            <p>▸ <a routerLink="/scripts/viewpoint"> Point de Vue</a></p>
            <p>▸ <a routerLink="/scripts/notation"> La Notation Musicale</a></p>
        </section>
        <section>
            <h2>HARMONIE</h2>
            <p>▸ <a routerLink="/scripts/notes-fr"> Les Notes</a></p>
            <p>▸ <a routerLink="/scripts/notes-en"> Les Notes ( en anglais )</a></p>
            <p>▸ <a routerLink="/scripts/intervals"> Les Intervalles</a></p>
            <p>▸ <a routerLink="/scripts/chords"> Les Accords</a></p>
            <p>▸ <a routerLink="/scripts/scales"> Les Gammes</a></p>
            <p>▸ <a routerLink="/scripts/melody"> La Mélodie</a></p>
        </section>
        <section>
            <h2>HARMONIE : Exercices</h2>
            <p>▸ <a routerLink="/scripts/notes-ex"> Les Notes</a></p>
        </section>
        <section>
            <h2>RYTHME</h2>
            <p>▸ <a routerLink="/scripts/pulsation"> La Pulsation</a></p>
            <p>▸ <a routerLink="/scripts/metrics-a"> Les Métriques ( 1 )</a></p>
            <p>▸ <a routerLink="/scripts/metrics-b"> Les Métriques ( 2 )</a></p>
        </section>
    </div>
</div>
<div class="bottom-box"></div>