<div id="layout-central">    
    <div class="section-flex">
        <section>
            <h2>INTRODUCTION</h2>
            <p>▸ <a routerLink="/scripts/introduction"> Avant de commencer</a></p>
            <p>▸ <a routerLink="/scripts/piano-reference"> La Référence Clavier</a></p>
        </section>
        <section>
            <h2>THÉORIE</h2>
            <p>▸ <a routerLink="/scripts/notes-fr"> Les Notes</a></p>
            <p>▸ <a routerLink="/scripts/notes-en"> Les Notes ( en anglais )</a></p>
            <p>▸ <a routerLink="/scripts/pulsation"> La Pulsation</a></p>
            <p>▸ <a routerLink="/scripts/metrics-a"> Les Métriques ( 1 )</a></p>
        </section>
    </div>
</div>