.achievements {    
    margin: auto;
    padding: 25px;
    
    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

    h1 {
        color: var(--colorMain);
        font-size: 18px;
        text-align: center;
        margin: 0;
        transition-duration: 300ms;
    }
    .link {
        color: var(--colorMainOpacity8);
    }
    .link:hover {
        cursor: pointer;
        color: var(--colorMain);
        text-decoration: underline; 
    }

    .category {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        margin-bottom: 35px;

        .achievement {
            margin: 15px;

            cursor: pointer;

            .icon-title {
                width: 100px;
                height: 100px;

                background-color: var(--colorWhiteOpacity5);
                border: 8px solid var(--colorMain);
                border-radius: 20px;
                box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

                display: flex;
                justify-content: center;
                align-items: center;

                cursor: initial;
            }

            .icon {
                width: 100px;
                height: 100px;

                background-color: var(--colorWhiteOpacity5);
                border: 8px solid var(--colorMain);
                border-radius: 20px;
                box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

                display: flex;
                justify-content: center;
                align-items: center;

                opacity: 0.8;
            }

            .icon:hover {
                opacity: 1;
                transition: 300ms;
            }

            .done {
                border: 8px solid gold;
                box-shadow: 0 3px 4px 0px goldenrod;
                background-color: goldenrod;
            }
    
            p {
                color: var(--colorMain);
                font-size: 13px;
                text-align: center;
                font-weight: bold;
            }

            .limit {
                width: 125px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
            }
        }
    }
}

.dialog {
    display: flex;
    align-items: center;

    .icon {
        margin-right: 25px;
    }

    .title {
        font-weight: bold;
        color: var(--colorMain);
    }

    .date {
        font-size: 12px;
    }

    p {
        font-size: 14px; 
    }
}