<div class="main-frame">
  <ng-container *ngFor="let group of grouped">
    <h1 class="frame-title">{{ titleFor(group.category) }} <span *ngIf="titleFor(group.category) === 'Achievements'">( {{ user().achievements.length }} / {{ achievements.length }} )</span></h1>   

    <hr class="dialog-hr">

    <div class="category">
      <ng-container *ngFor="let ach of group.items">
        <div appToggleDialog class="achievement" (click)="displayAchievement(ach)">
          <div class="icon" [class.done]="ach.unlockedAt">
            <app-icon-coin size="75px" [colorInner]="ach.unlockedAt ? undefined : 'grey'" [colorOuter]="ach.unlockedAt ? 'gold' : 'darkgrey'" />
          </div>
          <p class="limit">{{ ach.title }}</p>
        </div>
      </ng-container>
    </div>
  </ng-container>
</div>

<app-dialog>
  @if(currentAchievement) {
    <div class="dialog-body">
      <app-icon-coin class="icon" size="100px" [colorInner]="currentAchievement.unlockedAt ? undefined : 'grey'" [colorOuter]="currentAchievement.unlockedAt ? 'gold' : 'darkgrey'" />
      <div>
        <p class="title"><b>{{ currentAchievement.title }}</b></p>
        <p *ngIf="currentAchievement.unlockedAt" class="date">{{ currentAchievement.unlockedAt | date }}</p>
        <p>{{ currentAchievement.unlockedAt ? currentAchievement.doneMessage : currentAchievement.goal }}</p>
        <p>( + {{ currentAchievement.xpReward }} XP )</p>
      </div>
    </div>
  }
</app-dialog>