.pagination-row
{
    position: fixed;
    bottom: 65px;
    width: 100vw;
    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    border-top: 1px solid #6b5240;
    font-size: 15px;

    #pagination
    {
        pagination-controls
        {
            text-align: center;
        }
        .pagination ::ng-deep .ngx-pagination .current 
        {
            background: #6b5240;  
            border-radius: 5px;
        }
    }
}

.top-options
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    .new-link
    {
        display: flex;
        justify-content: left;
        align-items: center;

        width: 100px;
        padding: 8px;
        margin: 5px;

        border: 2px solid #413429; 
        background-color: rgb(107, 82, 64, 0.5);
        border-radius: 7px;
        
        font-size: 14px;
        color: white;

        img
        {
            height: 15px;
            margin-right: 8px;
        }
    }
    .new-link:hover
    {
        background-color: rgb(255, 255, 255, 0.8);
        color: #6b5240;
        transition-duration: 500ms;
        cursor: pointer;
    }
    .filter
    {
        display: flex;
        justify-content: center;
    
        margin: 5px;
    
        input
        {
            padding: 8px;
            margin: 8px;
            border-radius: 7px;
            font-size: 14px;
        }
        input:focus
        {
            outline: none;
            border: 2px solid #413429;
        }
    }
}
