// ==============================================
// - MoodBoard | Central Pages | Central Layout
// ==============================================

#layout-central
{
    .gallery
    {
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        columns: 6;
        margin-bottom: 150px;
        margin-right: 45px;

        transition-duration: 500ms;

        section 
        {
            margin-left: 0px;
            margin-right: 25px;
            margin-top: 0px;
            margin-bottom: 20px;

            img, video
            {
                width: 100%;
                border: 10px solid rgba(255, 255, 255, 0);
                border-radius: 30px;
            }
            img:hover 
            {
                border: 10px solid rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 6px 12px 0px #502a0e;
                cursor: pointer;
                transition-duration: 500ms;
            }
            .vid 
            {
                box-shadow: 0 0 0 1px var(--colorMain);
            }
            .vid-youtube 
            {
                box-shadow: 0 0 0 1px red;
            } 
            .active
            {
                border: 10px solid rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 6px 12px 0px #502a0e;
                transition-duration: 500ms;
            }
        }
    }
    .menu-open
    {
        margin-right: 355px;
    }

    @media screen and (max-width: 550px) 
    {
        .gallery 
        {
            columns: 2;
        }
    }
    @media screen and (min-width: 550px) and (max-width: 850px) 
    {
        .gallery 
        {
            columns: 3;
        }
    }
    @media screen and (min-width: 850px) and (max-width: 1150px) 
    {
        .gallery 
        {
            columns: 4;
        }
    }
    @media screen and (min-width: 1150px) and (max-width: 1500px) 
    {
        .gallery 
        {
            columns: 2;
        }
    }
    @media screen and (max-width: 1150px) 
    {
        .gallery 
        {
            margin: 0;
        }
    }
}