#layout-central
{
    // CRUD Picture
    .crud-pic
    {
        margin-top: 15px;
        
        img
        {
            display: block;
            margin: auto;

            width: 100px;

            background-color: white;
            border: 1px solid #6b5240;
            border-radius: 5px;

            padding: 10px;
        }
    }

    // Form Design
    #crud_form
    {
        form
        {
            width: 230px;
            margin: auto;   
            padding-bottom: 25px;

            // Error Messages
            .error
            {
                font-size: 13px;
                text-align: left;
                text-indent: 15px;
                margin: 10px;
                color: darkred;
            }

            // Form input labels
            label
            {
                display: block;
                margin: auto;
                margin-bottom: 5px;

                padding: 15px;
                padding-left: 0;
                padding-bottom: 8px;

                font-size: 14px;
                color : #6b5240;
            }

            input
            {
                margin: 8px;
                padding: 8px;
                border-radius: 5px;
            }
            input:focus
            {
                outline: none;
                border: 2px solid #413429;
            }

            select
            {
                display: block;
                margin: auto;
                margin-bottom: 25px;

                background-color: white;
                border-radius: 5px;
                
                width: 215px;
                padding: 5px;

                font-size: 15px;
                color : #33251b;
            }
        }
    }

    // Form submit button
    .form-buttons
    {
        display: flex;
        justify-content: center;

        margin-top: 15px; margin-bottom: 15px;

        a
        {
            display: block;
            width: 70px;
            margin: 10px;
            padding: 9px;

            border: 1px solid #6b5240;  
            border-radius: 5px;
            background-color: #6b5240;          

            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            text-decoration: none;
            color:#ffffff;
        }
        a:hover
        {
            background-color: rgb(255, 255, 255);
            color:#6b5240;
            transition-duration: 500ms;
            cursor: pointer;
        }
        span
        {
            display: block;
            width: 70px;
            margin: 10px;
            padding: 9px;

            border: 1px solid #6b5240;  
            border-radius: 5px;
            
            font-size: 14px;
            text-align: center;
            letter-spacing: 1px;
            background-color: rgb(192, 192, 192);
            color: #666;
            cursor: not-allowed;
        }
    }

    #crud_delete
    {
        width: 300px;
        margin: auto;
        
        padding: 7px;
        border: 1px solid #6b5240;
        border-radius: 5px;
        background-color: rgba(255, 255, 255, 0.666);	

        font-size: 15px;
        color : #6b5240;
        
        p
        {
            text-align: center;
        }

        #confirm
        {
            display: flex;
            justify-content: center;
            margin-bottom: 25px; margin-top: 25px;

            a 
            {
                display: block;
                width: 65px;
                padding: 5px;
                margin: 15px;

                border: 1px solid #6b5240;
                border-radius: 5px;         
                background-color: #6b5240;

                color: white;
                text-decoration: none;
                text-align: center;
            }
            #yes:hover
            {
                border: 1px solid rgb(255, 0, 0);
                background-color: white;
                color: red;
                transition-duration: 500ms;
                cursor: pointer;
            }
            #no:hover
            {
                border: 1px solid rgb(0, 255, 0);
                background-color: white;
                color: rgb(0, 255, 0);
                transition-duration: 500ms;
            }
        }
    }
}