.edition {
    .edition-selection {
        p {
            display: block;
            width: 300px;

            margin: auto;
            margin-top: 15px;
            padding: 8px;

            background-color: var(--colorWhiteOpacity7);
            border: 3px solid var(--colorMainOpacity8);
            border-radius: 7px 7px 0 0;

            text-align: center;
            color: var(--colorMainOpacity8);
        }

        .edition-buttons {
            display: flex;
            justify-content: center;

            img {
                display: block;
                height: 25px;
                width: 25px;

                padding: 5px;

                background-color: var(--colorWhiteOpacity3);
                border: 3px solid var(--colorMainOpacity8);
                border-radius: 0 0 7px 7px;
                border-top: none;

                margin-left: 5px;
                margin-right: 5px;
                margin-bottom: 10px;
            }

            img:hover:not(.active) {
                background-color: var(--colorWhiteOpacity5);
                color: var(--colorMain);
                transition-duration: 200ms;
                cursor: pointer;
            }

            .active {
                background-color: var(--colorWhiteOpacity7);
                color: var(--colorMain);
            }
        }
    }

    .edition-list {
        margin: 15px;
        padding: 15px;
    
        background-color: var(--colorMainOpacity3);
        border: 1px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0 3px 6px 0px var(--colorMainOpacity2);

        width: 340px;
        margin: auto;
        margin-top: 20px;

        a {
            display: block;
    
            margin: 8px;
            padding: 8px;
    
            background-color: var(--colorWhiteOpacity8);
            border: 1px solid #ffffff00;
            border-radius: 5px;
    
            color: var(--colorMain);
            text-decoration: none;
            font-size: 14px;
            line-height: 20px;
    
            white-space: nowrap;
            /* Empêche le texte de passer à la ligne */
            overflow: hidden;
            /* Coupe le texte qui déborde */
            text-overflow: ellipsis;
            /* Ajoute les points de suspension à la fin du texte */
    
            z-index: 0;
            transition-duration: 500ms;
        }
    
        a:hover:not(.active) {
            background-color: var(--colorMainOpacity5);
            border: 1px solid var(--colorMain);
            color: var(--colorWhite);        
            cursor: pointer;
        }
    
        .active {
            background-color: var(--colorMain);
            border: 1px solid var(--colorMain);
            color: var(--colorWhite);
        }
    }

    form {
        display: flex;
        flex-direction: column;

        margin-top: 15px;

        input {
            display: block;
            width: 200px;

            margin: auto;
            margin-bottom: 5px;
            padding: 10px;

            border: 2px solid var(--colorMainOpacity3);
            border-radius: 10px;
        }

        input:focus {
            outline: none;
            border: 2px solid var(--colorMain);
        }

        select {
            display: block;
            width: 220px;

            margin: auto;
            margin-bottom: 5px;
            padding: 10px;

            border: 2px solid var(--colorMainOpacity3);
            border-radius: 10px;
        }

        select:focus {
            outline: none;
            border: 2px solid var(--colorMain);
        }

        .checkboxes {
            width: 200px;
            margin: auto;
            border: 1px solid var(--colorMain);
            border-radius: 10px;

            padding: 10px;

            .combo {
                display: flex;
                justify-content: space-between;
                align-items: center;

                label {
                    display: block;
                    width: 175px;
                    color: var(--colorMain);

                    white-space: nowrap;
                    /* Empêche le texte de passer à la ligne */
                    overflow: hidden;
                    /* Coupe le texte qui déborde */
                    text-overflow: ellipsis;
                    /* Ajoute les points de suspension à la fin du texte */
                }

                input {
                    height: 20px;
                    width: 20px;
                }
            }
        }
    }

    .edition-button {
        display: block;
        width: 200px;

        margin: auto;
        margin-top: 15px;
        padding: 10px;

        background-color: var(--colorMain);
        border: 2px solid var(--colorMainOpacity3);
        border-radius: 10px;

        text-align: center;
        letter-spacing: 1px;
        color: var(--colorWhite);
    }

    .edition-button:hover:not(.edition-button-disabled) {
        background-color: var(--colorWhite);
        border: 2px solid var(--colorMain);
        color: var(--colorMain);
        cursor: pointer;
        transition-duration: 500ms;
    }

    .edition-button-disabled {
        background-color: var(--colorMainOpacity8);
        color: var(--colorMain);
        cursor: not-allowed;
    }
}