// ==============================================
// - MoodBoard | Central Pages | Central Layout
// ==============================================

#layout-central
{
    // Text Elements :
    
    h1
    {
        margin: 0;
        margin-top: 15px; margin-bottom: 15px;
    
        font-size: 19px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 1px;
    
        color: #6b5240;	
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    }
    
    h2
    {
        margin: 0;
        margin-top: 15px; margin-bottom: 15px;
    
        font-size: 17px;
        font-weight: normal;
        text-align: center;
        letter-spacing: 1px;
    
        color: #6b5240;	
        text-shadow: 0px 3px 3px rgba(0,0,0,0.3);
    }
    
    p
    {
        margin: 0;
        margin-top: 15px; margin-bottom: 15px;
    
        color: #6b5240;  
        text-align: center;
    }
    
    ul 
    {
        padding: 0;                     // Delete <ul> padding
    }
}