// ==============================================
// - MoodBoard | Central Pages | Bottom Layout
// ==============================================

// Footer

#layout_bottom
{
    min-height: 10vh;
    background-color: rgba(107, 82, 64, 0.1);

    // Footer
    
    footer
    {  
        padding-top: 35px;
        padding-bottom: 35px;

        p
        {
            margin: 0;

            text-align: center;
            font-size: 14px;
            color: #6b5240; 
        }
        
        a
        {
            color: #49382c; 
            text-decoration: none;
        }
        a:hover
        {
            color: #49382c; 
        }
    }
}