// ==============================================
// - MoodBoard | Central Pages | Top Layout
// ==============================================

// Header

#layout_top
{
    min-height: 90vh;

    header
    {
        position: sticky;
        top: 0;

        display: flex;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(3px);
        box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

        padding-top: 15px; padding-bottom: 15px;

        z-index: 3;

        div
        {
            display: flex;
            justify-content: center;
        }

        a
        {
            display: block;
            width: 75px;
            
            margin-left: 5px; margin-right: 5px;
            padding: 9px;

            background-color: rgb(255, 255, 255);
            border: 1px solid #6b5240;  
            border-radius: 5px;
            text-align: center;
            font-size: 12px;
            color:#6b5240;  
            letter-spacing: 2px;
            text-decoration: none;
        }
        a:hover
        {
            background-color: #92715a;  
            color:#ffffff;
            transition-duration: 500ms;
        }
        .active
        {
            background-color: #6b5240;  
            color:#ffffff;
        }
    }

    #header_mobile
    {
        display: none;
        position: absolute;
        width: 300px;

        border: 1px solid #6b5240;  
        background-color: rgba(255, 255, 255, 0.95);
        border-radius: 15px;

        transition-duration: 500ms;

        z-index: 15;

        .header-logo
        {
            display: block;
            width: 150px;
            margin: auto;
            margin-top: 15px; margin-bottom: 15px;
        }

        .header-buttons
        {      
            margin: 15px;

            padding: 25px;
            padding-top : 10px; padding-bottom: 10px;

            background-color: rgba(107, 82, 64, 0.2);
            border-radius: 5px; 
            
            a
            {
                display: block;

                padding: 10px;
                margin: 10px;

                border: 1px solid #6b5240;
                background-color:  #6b5240;
                border-radius: 5px;

                text-align: center;
                font-size: 15px;
                text-decoration: none;
                color: white;
            }
            a:hover
            {
                cursor: pointer;
                background-color:  rgba(255, 255, 255, 0.9);     
                color:  #6b5240;  
                transition-duration: 500ms;
            }
            .active
            {
                background-color: rgba(255, 255, 255, 0.3);  
                color:#6b5240; 
            }
        }
    }

    .active_header
    {
        left: 50%;
        top: 85px;

        transform: translateX(-50%);
    }

    .hidden_header
    {
        left: -1150px;
        top: 85px;
    }

    #overlay
    {
        position: fixed;
        top:0;
        left:0;
        height:100vh;
        width: 100vw;
        background-color:rgba(107, 82, 64, 0.5);
        z-index: 10;
    }

    #toggle 
    {
        position: sticky;
        top: 0;

        display: flex;
        justify-content: center;

        background-color: rgba(255, 255, 255, 0.9);
        backdrop-filter: blur(3px);
        box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

        padding-top: 15px; padding-bottom: 15px;

        z-index: 5;
    
        img 
        {
            height: 22px;
            padding: 6px;
            transition-duration: 250ms;
        }  
        img:hover 
        {
            background-color: rgb(107, 82, 64, 0.3);
            border-radius: 5px;
            cursor: pointer;
        }
    }

    @media (max-width: 1150px) 
    {
        header
        {
            display: none;
        }
        #header_trigger
        {
            display: flex;  
            position: sticky;
            top: 0;
            left: 0;
        }
        #header_mobile
        {
            display: block;
        }
    }
    @media (min-width: 1150px) 
    {
        #toggle 
        {
            display: none;
        }
    }
}