.menu-flex {
    display: flex;
    justify-content: center;
    z-index: 15;

    a {
        display: block;
        width: 125px;
        margin: 10px;
        padding: 9px;

        border: 1px solid #6b5240;
        border-radius: 5px;
        background-color: #6b5240;

        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        color: #ffffff;
    }

    a:hover {
        background-color: rgb(255, 255, 255);
        color: #6b5240;
        transition-duration: 500ms;
        cursor: pointer;
    }

    span {
        display: block;
        width: 125px;
        margin: 10px;
        padding: 9px;

        border: 1px solid #6b5240;
        border-radius: 5px;
        background-color: rgb(192, 192, 192);

        font-size: 14px;
        text-align: center;
        letter-spacing: 1px;
        text-decoration: none;
        color: #666;

        cursor: not-allowed;
    }
}