// MOBILE Gallery.
.tags-gallery {
    margin-top: 25px;

    .box {
        width: 300px;
        margin: auto;

        background-color: var(--colorMainOpacity2);
        border-radius: 5px;

        padding: 5px;
        padding-top: 5px;
        padding-bottom: 15px;
        margin-bottom: 15px;

        p {
            text-align: left;
            text-indent: 25px;
            font-size: 13px;
            font-weight: bold;
            letter-spacing: 1px;
            color: var(--colorMain);
        }

        .flex {

            display: flex;
            flex-direction: column;
            align-items: center;

            a {
                display: block;
                width: 250px;
                margin-bottom: 5px;
                padding: 8px;

                background-color: var(--colorWhiteOpacity7);
                border: 1px solid var(--colorMain);
                border-radius: 5px;

                font-size: 14px;
                text-decoration: none;
                color: var(--colorMain);
            }

            a:hover {
                background-color: var(--colorMain);
                color: var(--colorMain);
                transition-duration: 500ms;
                cursor: pointer;
            }

            .active {
                background-color: var(--colorMain);
                color: var(--colorWhite);
                transition-duration: 500ms;
            }
        }
    }
}

// DESKTOP Gallery.
#tags-wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 15px;

    .tags-box {
        width: 220px;
        height: 160px;

        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        border: 1px solid var(--colorMainOpacity2);
        border-radius: 10px;

        background-color: var(--colorWhiteOpacity5);
        box-shadow: 0px 2px 4px var(--colorMainOpacity2);
        opacity: 0.9;

        .box-category {
            border-bottom: 1px solid var(--colorMain);
            margin-bottom: 7px;

            p {
                margin-top: 0;
                margin-bottom: 7px;
                font-size: 14px;
                color: var(--colorMain);
                text-align: left;
                text-shadow: 0px 2px 2px var(--colorMainOpacity2);
                font-weight: bold;
                text-indent: 5px;
            }
        }

        .overflow {
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: var(--colorMainOpacity7) #f1f1f1;
            height: 117px;

            p {
                margin-top: 0;
                margin-bottom: 3px;
                font-size: 14px;
                text-align: left;
                white-space: nowrap;
                /* Empêche le texte de passer à la ligne */
                overflow: hidden;
                /* Coupe le texte qui déborde */
                text-overflow: ellipsis;
                /* Ajoute les points de suspension à la fin du texte */

                a {
                    color: var(--colorMain);
                    text-decoration: none;
                }

                a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                span {
                    font-size: 20px;
                    line-height: 14px;
                }
            }

            // Custom Checkbox.
            label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3px;
                white-space: nowrap;
                /* Empêche le texte de passer à la ligne */
                overflow: hidden;
                /* Coupe le texte qui déborde */
                text-overflow: ellipsis;
                /* Ajoute les points de suspension à la fin du texte */

                span {
                    margin-left: 5px;
                    font-size: 14px;
                    color: var(--colorMain);
                }

                input[type="checkbox"] {
                    display: none;
                }

                .custom-checkbox {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    background-color: var(--colorWhite);
                    border: 1px solid var(--colorMainOpacity2);
                    border-radius: 3px;
                }

                input[type="checkbox"]:checked+.custom-checkbox {
                    background-color: var(--colorMain);
                }
            }

            label:hover {
                cursor: pointer;

                .custom-checkbox {
                    border-color: var(--colorMain);
                }
            }
        }
    }

    .tags-box:hover {
        background-color: var(--colorWhite);
        border: 1px solid var(--colorMain);
        transition-duration: 300ms;
        opacity: 1;
    }
}