<!-- User ( Not Connected ) -->
<!-- <div *ngIf="userService.appUser.role !== 1 && userService.appUser.role !== 2">
    <a class="user" routerLink="/register" routerLinkActive="active">
        <img src="../../../../assets/app_icons/icon_artists_001.png" />
        <p>{{userService.appUser.firstName}}</p>
    </a>
</div> -->
<!-- User ( Connected ) -->
<!-- <div *ngIf="authService.isConnectedSub && userService.appUser.role === 1">
    <a class="user" routerLink="/users/user-details" routerLinkActive="active"
        <img src="../../../../assets/app_icons/mood.png" />
        <p>{{userService.appUser.firstName}}</p>
    </a>          
</div> -->
<!-- Administrator -->
<!-- <div *ngIf="authService.isConnectedSub && userService.appUser.role === 2">
    <a class="user" routerLink="/users/user-details" routerLinkActive="active">
        <img src="../../../../assets/app_icons/mood.png" />
        <p>{{userService.appUser.firstName}}</p>
    </a>        
</div> -->