
// TOP BAR

.section-top
{
    position: sticky;
    top: 0;
    height: 57px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

    border-bottom: 1px solid #6b5240;

    z-index: 15;

    .trigger
    {
        img
        {
            width: 15px;
            height: 15px;
            background-color: rgba(255, 255, 255, 0.7);
            border-radius: 5px;
            border: 1px solid rgba(0, 0, 0, 0.15);
            padding: 10px;
            margin: 10px;
        }
        img:hover
        {
            border: 1px solid #6b5240;
            background-color: rgba(255, 255, 255);
            transition-duration: 500ms;
            cursor: pointer;
        }
        .img-active
        {
            border: 1px solid #6b5240;
        }
    }

    .auth
    {
        a
        {
            display: block;
            width: 100px;
            height: 35px;
            margin: 10px;

            border: 1px solid #413429;
            border-radius: 5px;

            text-align: center;
            font-size: 13px;
            line-height: 35px;
            text-decoration: none;
            background-color: #6b5240;
            color: white;
        }
        a:hover
        {
            background-color: #fff;
            color: #6b5240;
            transition-duration: 500ms;
        }
    }
}

// DESKTOP MENU

.desktop-on
{
    left: 0;
}
.desktop-off
{
    left: -163px;
}

.left-menu-desktop
{
    position: fixed;
    top: 57px;
    width: 200px;
    height: 100%;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

    border-right: 1px solid #6b5240;

    z-index: 10;
    
    transition-duration: 500ms;

    padding: 10px;

    .top
    {
        .element-group
        {
            display: flex;
            justify-content: end;
            align-items: center;

            img
            {
                width: 25px;
                height: 25px;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 5px;
                margin: 15px; margin-bottom: 5px; margin-top: 5px; margin-right: 0;
            }
            img:hover
            {
                cursor: pointer;
                border: 1px solid #6b5240;
                transition-duration: 500ms;
            }
            .img-active
            {
                border: 1px solid #6b5240;
            }
            a
            {
                display: block;
                width: 150px;
                color: #6b5240;
                text-decoration: none;
                display: block;
                margin: 10px;
                transition-duration: 200ms;
            }
            a:hover
            {
                text-decoration: underline;
                margin: 10px;
                transition-duration: 200ms;
            }
            .display-none
            {
                display: none;
            }
            .active
            {
                text-decoration: underline;
            }
        }  
    }

    .bottom
    {
        padding-bottom: 100px;

        .element-group
        {
            display: flex;
            justify-content: end;
            align-items: center;

            img
            {
                width: 25px;
                height: 25px;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 5px;
                margin: 15px; margin-bottom: 5px; margin-top: 5px; margin-right: 0;
            }
            img:hover
            {
                cursor: pointer;
                border: 1px solid #6b5240;
                transition-duration: 500ms;
            }
            .img-active
            {
                border: 1px solid #6b5240;
            }
            a
            {
                display: block;
                width: 150px;
                color: #6b5240;
                text-decoration: none;
                display: block;
                margin: 10px;
                transition-duration: 200ms;
            }
            a:hover
            {
                text-decoration: underline;
                margin: 10px;
                transition-duration: 200ms;
            }
            .display-none
            {
                display: none;
            }
            .active
            {
                text-decoration: underline;
            }
        }   
    }
}
@media screen and (max-width: 800px) 
{
    .left-menu-desktop
    {
        display: none;
    }
}

// MOBILE MENU

.left-menu-mobile
{
    position: fixed;
    top: 57px;
    left: 0;
    width: 70px;
    height: 100%;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);

    border-right: 1px solid #6b5240;

    z-index: 4;
}
@media screen and (min-width: 800px) 
{
    .left-menu-mobile
    {
        display: none;
    }
}