.tags-wall {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    padding-top: 90px;

    .tags-box {
        width: 214px;
        height: 160px;

        margin: 10px;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 10px;

        border: 3px solid var(--colorMainOpacity2);
        border-radius: 10px;

        background-color: var(--colorWhiteOpacity5);
        box-shadow: 0px 2px 4px var(--colorMainOpacity2);
        opacity: 0.9;

        .box-category {
            border-bottom: 1px solid var(--colorMain);
            margin-bottom: 7px;

            p {
                margin-top: 0;
                margin-bottom: 7px;
                font-size: 14px;
                color: var(--colorMain);
                text-align: left;
                text-shadow: 0px 2px 2px var(--colorMainOpacity2);
                font-weight: bold;
                text-indent: 5px;
            }
        }

        .overflow {
            overflow-y: scroll;
            scrollbar-width: thin;
            scrollbar-color: var(--colorMainOpacity7) #f1f1f1;
            height: 117px;

            p {
                margin-top: 0;
                margin-bottom: 3px;
                font-size: 14px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                a {
                    color: var(--colorMain);
                    text-decoration: none;
                }

                a:hover {
                    cursor: pointer;
                    text-decoration: underline;
                }

                span {
                    font-size: 20px;
                    line-height: 14px;
                }
            }

            // Custom Checkbox.
            label {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 3px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                span {
                    margin-left: 5px;
                    font-size: 14px;
                    color: var(--colorMain);
                    width: 180px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                }

                input[type="checkbox"] {
                    display: none;
                }

                .custom-checkbox {
                    display: inline-block;
                    width: 14px;
                    height: 14px;
                    margin-right: 5px;
                    background-color: var(--colorWhite);
                    border: 1px solid var(--colorMainOpacity2);
                    border-radius: 3px;
                }

                input[type="checkbox"]:checked+.custom-checkbox {
                    background-color: var(--colorMain);
                }
            }

            label:hover {
                cursor: pointer;

                .custom-checkbox {
                    border-color: var(--colorMain);
                }
            }
        }
    }

    .tags-box:hover {
        background-color: var(--colorWhite);
        border: 3px solid var(--colorMain);
        transition-duration: 300ms;
        opacity: 1;
    }
}

@media (max-width: 800px) {
    .tags-wall {
        padding-top: 0;

        .tags-box {
            width: 137px;
            
            .box-category {
                p {
                    font-size: 11px;
                }
            }

            .overflow {
                label {
                    span {
                        font-size: 12px;
                        width: 100px;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }
                }
            }
        }
    }
}