<app-menu-right-desktop *ngIf="artistsFlow() as Flow">
    <div class="content_right_desktop">
        <!-- Artists Menu -->
        <div class="item-top flex">
            <p><b>Total Artists</b></p>
            <p>{{ Flow.totalItems | number : '3.0'}}</p>
        </div> 
        <div class="item-top list_categories">
            <a routerLink="/artists/create-artist"> ▸ Create Artist</a>
        </div>
        <!-- Styles Menu  -->
        <div class="item-top flex">
            <p><b>Total Styles</b></p>
            <p>{{ Flow.styles.length | number : '3.0'}}</p>
        </div> 
        <div class="item-top list_categories">
            <a routerLink="/artists/create-style"> ▸ Create Style</a>
        </div>
        <!-- Styles -->
        <div id="categories_list_admin">
            <div class="link_flex">
                <a [ngClass]="Flow.selectedStyleId === null ? 'active' : 'category' " (click)="resetStyles()"> ▸ All Styles</a>
            </div>
            <div class="link_flex" *ngFor="let style of Flow.styles">
                <a routerLink="/artists" 
                [ngClass]="Flow.selectedStyleId === style.businessId ? 'active' : 'category' "
                id="{{style.businessId}}" (click)="updateCurrentStyleId(style.businessId)"> ▸ {{style.name}}</a>
                <a class="update" 
                routerLink="/artists/update-style" (click)="updateCurrentStyleId(style.businessId)">U</a>
                <a class="delete" 
                routerLink="/artists/delete-style" (click)="updateCurrentStyleId(style.businessId)">D</a>
            </div>
        </div>
    </div>
  </app-menu-right-desktop>
<router-outlet />