<svg [attr.width]="size" [attr.height]="size" viewBox="0 0 199.46988 99.906921">
    <g transform="translate(-0.24707682,-50.081608)" id="g3862">
        <!-- Groupe de portée (stave) -->
        <g transform="translate(0.67340029,-0.33670034)" id="stave">
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="146.5159" id="rect3810"
                [style.fill]="staffColor" [style.opacity]="0.25" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="122.4915" id="rect3810-9"
                [style.fill]="staffColor" [style.opacity]="0.25" />
            <rect width="70" height="3.8093295" x="-0.42632347" y="98.467102" id="rect3810-6" [style.fill]="staffColor"
                [style.opacity]="0.25" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="74.442703" id="rect3810-2"
                [style.fill]="staffColor" [style.opacity]="0.25" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="50.418308" id="rect3810-4"
                [style.fill]="staffColor" [style.opacity]="0.25" />
            <rect width="70" height="3.8093295" x="129.04633" y="98.466904" id="rect3810-6-6" [style.fill]="staffColor"
                [style.opacity]="0.25" />
        </g>

        <!-- Groupe des éléments de la note -->
        <g id="g3193" transform="translate(-8,0)">
            <g id="g3325" transform="translate(-5.5,24)">
                <g id="g3411" transform="translate(77.823223,-23.941942)">
                    <path transform="matrix(-1.0417702,0,0,0.99368848,202.62229,48.269236)"
                        d="m 100.12318,37.343243 c 0,3.8857 -3.004596,7.035683 -6.710956,7.035683 -3.706361,0 -6.71096,-3.149983 -6.71096,-7.035683 0,-3.885701 3.004599,-7.035684 6.71096,-7.035684 3.70636,0 6.710956,3.149983 6.710956,7.035684 z"
                        sodipodi:ry="7.0356832" sodipodi:rx="6.7109594" sodipodi:cy="37.343243" sodipodi:cx="93.412224"
                        id="path3185" [style.fill]="getNoteColor()" [style.stroke]="getNoteColor()"
                        sodipodi:type="arc" />
                    <path sodipodi:nodetypes="cc" id="path3189"
                        d="m 99.733603,121.84697 c 0,-0.98005 -11.690643,-41.407291 -11.690643,-41.407291"
                        style="fill:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        [style.stroke]="getNoteColor()" />
                    <path sodipodi:nodetypes="ccc" id="path3191"
                        d="m 105.75181,91.333412 c -5.46916,0.374434 -15.71944,-1.00955 -17.56884,-10.508711 2.35588,3.713543 2.43934,10.948646 16.13589,7.77043"
                        style="fill:none;stroke-width:3;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1"
                        [style.stroke]="getNoteColor()" />
                </g>
            </g>
        </g>

        <!-- Texte (couleur de la note) -->
        <switch style="font-size:32px;font-family:Times New Roman;" [style.fill]="getNoteColor()">
            <text xml:space="preserve" style="font-size:32px;font-family:Times New Roman;" x="86.997078" y="106.73853"
                id="text3459-ms" systemLanguage="ms">
                <tspan sodipodi:role="line" id="tspan3461-ms" x="86.997078" y="106.73853">or</tspan>
            </text>
            <text xml:space="preserve" style="font-size:32px;font-family:Times New Roman;" x="86.997078" y="106.73853"
                id="text3459-ca" systemLanguage="ca">
                <tspan sodipodi:role="line" id="tspan3461-ca" x="86.997078" y="106.73853">o</tspan>
            </text>
            <text xml:space="preserve" style="font-size:32px;font-family:Times New Roman;" x="86.997078" y="106.73853"
                id="text3459">
                <tspan sodipodi:role="line" id="tspan3461" x="86.997078" y="106.73853">or</tspan>
            </text>
        </switch>

        <!-- Autres éléments graphiques de la note -->
        <g id="g3501" transform="translate(3.125,2.375)">
            <path sodipodi:nodetypes="ccccsc" id="path3497"
                d="M 33.585446,59.378537 49.000347,80.448853 C 34.510389,96.966456 43.303241,103.77053 46.891412,113.31714 L 30.195758,89.013879 c 9.651793,-11.411594 5.787047,-20.20785 2.345326,-29.067873 -0.002,-0.0045 1.042493,-0.561506 1.044362,-0.567469 z"
                [style.fill]="getNoteColor()" [style.stroke]="getNoteColor()"
                style="stroke-width:1.64604068;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
            <path sodipodi:nodetypes="ccc" id="path3499"
                d="m 45.566519,110.60468 c -17.76994,-15.91987 -24.592214,4.82994 -7.083379,19.74003 -2.252919,-3.86658 -8.756028,-22.85814 7.953256,-17.07143"
                [style.fill]="getNoteColor()" [style.stroke]="getNoteColor()"
                style="stroke-width:1.09736049;stroke-linecap:butt;stroke-linejoin:miter;stroke-opacity:1" />
        </g>
    </g>
</svg>