<div id="layout-central">
    <h1>Les Accords</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>    
    <div class="article_box">
        <p>Un accord, c'est donc la combinaison de plusieurs intervalles.</p>
        <p>Nous pouvons ainsi construire des accords de 3 notes ( Triades ), de 4 notes ( Tétrades ), et plus ...</p>
        <p><u>Exemple</u> :</p>
        <p>La combinaison d'intervalles M3, P5 ( Triade Majeure ) , donc Do + Mi + Sol = Do Majeur.</p>
    </div>
    <div class="article_box primary">
        <p>Comme il est possible de démarrer à partir de n'importe quelle note ...</p>
        <p>On peut considérer un accord comme une formule.</p>
        <p><u>Exemple</u> :</p>
        <p>Toujours en partant de la combinaison M3, P5 : </p>
        <p>En partant de Do, nous avions : Do + Mi + Sol = Do Majeur.</p>
        <p>En partant de Ré, nous aurons : Ré + Fa# + La = Ré Majeur.</p>
        <p>En partant de Mi, nous aurons : Mi + Sol# + Si = Mi Majeur.</p>
        <p>etc ...</p>
    </div>
    <div class="article_box">
        <p>La condition pour parler d'accord, est d'avoir au minimum 3 notes différentes.</p>
        <p>Do + Sol + Do ( à l'octave ) N'EST PAS UN ACCORD !!</p>
    </div>
</div>