<div class="scripts">
    <h1>Les Mesures</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Pour le moment, nous donnons la même valeur à chacun des battements de la pulsation.</p>
        <p>On pourrait donc, par exemple, attribuer à chaque battement le chiffre : <b>1</b>.</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/timeline_basic_metric_1.png" />
    </div>
    <div class="article_box primary">
        <p>Cela nous évoque... Bah, des battements réguliers...</p>
        <p>Selon le tempo choisi et en limitant le nombre de battements.</p>
        <p>Nous pouvons déjà obtenir des routines bien différentes en terme d'impact.</p>
        <p><u>Quelques exemples complètement arbitraires</u> :</p>
        <p> - 6 battements à 60 BPM</p>
        <p> - 12 battements à 100 BPM</p>
        <p> - 5 battements à 155 BPM</p>
        <p> - 480 battements à 120 BPM</p>
    </div>
    <div class="article_box">
        <p>Maintenant, groupons les par <b>2</b> :</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/timeline_basic_metric_2.png" />
    </div>
    <div class="article_box primary">
        <p><b>1</b>, <b>2</b>, <b>1</b>, <b>2</b>, ...</p>
        <p>On ressent déjà une dynamique différente qui peut par exemple nous évoquer la marche, la course, ...</p>
        <p>Encore une fois, selon le tempo et un nombre de battements déterminé,</p>
        <p>On peut ainsi créer différentes routines intéressantes.</p>
    </div>
    <div class="article_box">
        <p>Maintenant, groupons les par <b>3</b> :</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/timeline_basic_metric_3.png" />
    </div>
    <div class="article_box primary">
        <p>Même combat !</p>
        <p>Ce groupement par <b>3</b> est connu pour évoquer la valse.</p>
        <p>Bien qu'encore une fois, ce ressenti vacille en fonction du Tempo et autres limites de battements.</p>
    </div>
    <div class="article_box">
        <p>Maintenant, groupons les par <b>4</b> :</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/timeline_basic_metric_4.png" />
    </div>
    <div class="article_box primary">
        <p>Ce regroupement par <b>4</b> devrait vous être des plus familiers.</p>
        <p>Ici, nous sautons à pieds joints dans la grande famille de la chanson populaire.</p>
        <p>Mais pas que...</p>
    </div>
    <div class="article_box">
        <p>Il est évidemment possible de :</p>
        <p> - Faire des groupes de <b>5</b>, <b>6</b>, <b>7</b>, ... Pas de limite.</p>
        <p> - Passer d'un groupement quelconque à un autre.</p>
    </div>
    <div class="article_box primary">
        <p><u>Le concept à comprendre ici</u> :</p>
        <p>C'est que l'on peut créer des groupes de battements,</p>
        <p>par <b>2</b>, <b>3</b>, <b>4</b>, <b>5</b>, ...</p>
        <p>Chaque groupe devient alors une entité individuelle qui porte le nom de : <b>Mesure</b> !</p>
        <p> - En répétant des groupes de même taille, nous pouvons créer des routines.</p>
        <p> - Ces routines peuvent être 'brisées' en passant vers des groupes de taille différente.</p>    
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Ce nombre qui détermine le nombre de battements par groupe est en fait :</p>
        <p>LA PREMIÈRE VALEUR de ce qui va constituer la <b>Mesure</b> d'une pièce sonore/musicale.</p>
        <p>Pour compléter cette mesure, nous avons besoin d'une DEUXIÈME VALEUR...</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Cette deuxième valeur n'étant rien d'autre qu'une valeur de temps !</p>
    </div>
</div>