<div class="list">
    <div *ngFor="let item of table || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: currentPage }">
        <img id="favicon" [src]="'https://s2.googleusercontent.com/s2/favicons?domain=' + item.url + '&sz=96'" />
        <a> ▸ {{item.name}}</a>
    </div>
</div>

<div class="pagination-row" *ngIf="table && table.length > elementsPerPage">
    <div id="pagination">
      <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
    </div>   
</div>