<div class="edition"> 
    <h2 class="h2">Edit current style.</h2>
    <form [formGroup]="formGroup">
        <input type="text" formControlName="name">
        <input type="text" formControlName="description">     
    </form>
    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="onSubmit()">Submit</a>
    <a class="edition-button" (click)="openDeleteDialog()">Delete</a>
</div>

@if(isDeleteDialogOpen) {
    <app-dialog (dialog)="closeDeleteDialog()">
        <app-delete-style [style]="style" (toggleDialog)="closeDeleteDialogEmit()" />
    </app-dialog>
}