<div class="flow-card">
    <div class="form">  
        <form [formGroup]="formGroup">
            <input type="text" formControlName="name" placeholder="{{link?.name}}">
            <input type="text" formControlName="description" placeholder="{{link?.description}}">    
            <input type="text" formControlName="url" placeholder="{{link?.url}}">
        </form>
    </div>
    <div class="buttons">
        <a [class.disabled]="formGroup.invalid" (click)="update()">Update</a>
        <a (click)="triggerDeleteLink()">Delete</a>
    </div>
</div>