<app-button-top />
<div id="layout-central" *ngIf="flow() as flow">
    <div class="mobile"> 
        <div class="tags-gallery" *ngIf="flow.tags.length; else loading">
            <div *ngFor="let list of flow.tagsWithCategories">
                <div class="box">
                    <p>{{ list.category.name }}</p>
                    <div class="flex">
                        <div *ngFor="let tag of list.tags">
                            <a id="{{tag.businessId}}" 
                                [class.active]="tag.businessId === flow.tag?.businessId" 
                                routerLink="/moods" 
                                (click)="updateTagId(tag.businessId)">▸ {{ tag.name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>
    </div>
    <div class="desktop">
        <div id="tags-wall" *ngIf="flow.tags.length; else loading">
            <div class="tags-box" *ngFor="let category of flow.tagsWithCategories">
                <div class="box-category">
                    <p class="name-cat left">{{ category.category.name }}</p>
                </div>
                <div class="overflow">
                    <div *ngFor="let tag of category.tags">
                        <p>
                            <span> ▸ </span>
                            <a routerLink="/moods" class="name-tag" (click)="updateTagId(tag.businessId)">{{ tag.name }}</a>
                        </p>
                    </div>
                </div>
            </div>   
        </div>
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>  
    </div>
</div>