<app-spacer height="5px" />

<div class="tags-container">
  <div class="tags-grid">
    @for (tagList of tagsFlow()?.tagsList; track $index) {
    <div class="tags-card">
      <div [appScrollActive]="isCategoryExpanded(tagList.category.businessId)" scrollPosition="top" [scrollOffset]="100"
        class="tags-header" (click)="toggleCategory(tagList.category.businessId)"
        [ngClass]="{'active': isCategoryExpanded(tagList.category.businessId)}">
        <h3> ▸ <b>{{ tagList.category.name }}</b> ( {{tagList.tags.length}} )</h3>
        <div class="tags-actions">
          <button class="toggle-category">
            <span class="arrow" [ngClass]="{'expanded': isCategoryExpanded(tagList.category.businessId)}"></span>
          </button>
        </div>
      </div>
      @if (isCategoryExpanded(tagList.category.businessId)) {
      <div class="tags-content">
        <div class="tag-list">
          @for (tag of tagList.tags; track $index) {
          <div class="tag-item">
            <a id="{{tag.businessId}}" [class.active]="tag.businessId === tagsFlow()?.tag?.businessId"
              (click)="goToTag(tag.businessId)"> ▸ {{ tag.name }}
            </a>
          </div>
          }
        </div>
      </div>
      }
    </div>
    }
  </div>
</div>

<app-spacer height="150px" />