<app-spacer height="5px" />
<div class="tags-container" *ngIf="flow() as flow">
  <div class="tags-grid">
    <div *ngFor="let group of flow.tagsWithCategories" class="tags-card">
      <div [appScrollActive]="isCategoryExpanded(group.category.businessId)" scrollPosition="top" [scrollOffset]="100"
        class="tags-header" (click)="toggleCategory(group.category.businessId)"
        [ngClass]="{'active': isCategoryExpanded(group.category.businessId)}">
        <h3> ▸ <b>{{ group.category.name }}</b> ( {{group.tags.length}} )</h3>
        <div class="tags-actions">
          <button class="toggle-category">
            <span class="arrow" [ngClass]="{'expanded': isCategoryExpanded(group.category.businessId)}"></span>
          </button>
        </div>
      </div>
      <div class="tags-content" *ngIf="isCategoryExpanded(group.category.businessId)">
        <div class="tag-list">
          <div *ngFor="let tag of group.tags" class="tag-item">
            <a id="{{tag.businessId}}" [class.active]="tag.businessId === flow.tag?.businessId" routerLink="/moods"
              (click)="updateTagId(tag.businessId)">
              ▸ {{ tag.name }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-spacer height="150px" />