<div class="user-cards">

    <div class="user-card">
        <p class="title">{{ 'title.level' | translate }}</p>
        <div class="icon">
            <app-icon-statistics class="icon" size="30px" />
        </div>
        <p class="value">{{ user.level }}</p>
    </div>

    <div class="user-card">
        <p class="title">{{ 'title.experience' | translate }}</p>
        <div class="icon">
            <app-icon-star class="icon" size="30px" />
        </div>
        <p class="value">{{ user.experience }} XP</p>
    </div>

    <div class="user-card">
        <p class="title">Score</p>
        <div class="icon">
            <app-icon-dollar class="icon" size="30px" />
        </div>
        <p class="value">{{ user.seasonScore }}</p>
    </div>

    <div class="user-card" (click)="goTo('user-league')">
        <p class="title">{{ 'title.league' | translate }}</p>
        <div class="icon">
            <app-league-wood class="icon" *ngIf="user.league?.name === 'Wood'" />
            <app-league-stone class="icon" *ngIf="user.league?.name === 'Stone'" />
            <app-league-bronze class="icon" *ngIf="user.league?.name === 'Bronze'" />
            <app-league-silver class="icon" *ngIf="user.league?.name === 'Silver'" />
            <app-league-crystal class="icon" *ngIf="user.league?.name === 'Crystal'" />
            <app-league-elite class="icon" *ngIf="user.league?.name === 'Elite'" />
            <app-league-champion class="icon" *ngIf="user.league?.name === 'Champion'" />
            <app-league-legend class="icon" *ngIf="user.league?.name === 'Legend'" />
        </div>
        <p class="value" *ngIf="user.league?.name === 'Wood'">{{ 'leagues.wood' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Stone'">{{ 'leagues.stone' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Bronze'">{{ 'leagues.bronze' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Silver'">{{ 'leagues.silver' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Crystal'">{{ 'leagues.crystal' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Elite'">{{ 'leagues.elite' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Champion'">{{ 'leagues.champion' | translate }}</p>
        <p class="value" *ngIf="user.league?.name === 'Legend'">{{ 'leagues.legend' | translate }}</p>
    </div>

    <div class="user-card" (click)="goToAchievements()">
        <p class="title">{{ 'title.achievements' | translate }}</p>
        <div class="icon">
            <app-icon-coin class="icon" size="30px" [colorOuter]="'gold'" />
        </div>
        <p class="value">{{user.achievements.length}}</p>
    </div>

    <div class="user-card" (click)="goTo('ladder')">
        <p class="title">{{ 'title.leaderboard' | translate }}</p>
        <div class="icon">
            <app-icon-go class="icon" size="30px" />
        </div>
    </div>

</div>