<div class="user-statistics">
    <div class="statistic">
        <p class="title">{{ 'title.level' | translate }}</p>
        <div class="icon">
            <app-icon-statistics class="icon" size="35px" />
        </div>
        <p class="value">{{ user.level }}</p>
    </div>
    <div class="statistic">
        <p class="title">{{ 'title.experience' | translate }}</p>
        <div class="icon">
            <app-icon-star class="icon" size="35px" />
        </div>
        <p class="value">{{ user.experience }} XP</p>
    </div>
    <div class="statistic">
        <p class="title">Score</p>
        <div class="icon">
            <app-icon-dollar class="icon" size="35px" />
        </div>
        <p class="value">{{ user.seasonScore }}</p>
    </div>
    <div class="statistic" (click)="goTo('user-league')">
        <p class="title">{{ 'title.league' | translate }}</p>
        <div class="icon">
            <app-league-wood class="icon" *ngIf="user.league?.name === 'Wood'" />
            <app-league-stone class="icon" *ngIf="user.league?.name === 'Stone'" />
            <app-league-bronze class="icon" *ngIf="user.league?.name === 'Bronze'" />
            <app-league-silver class="icon" *ngIf="user.league?.name === 'Silver'" />
            <app-league-crystal class="icon" *ngIf="user.league?.name === 'Crystal'" />
            <app-league-elite class="icon" *ngIf="user.league?.name === 'Elite'" />
            <app-league-champion class="icon" *ngIf="user.league?.name === 'Champion'" />
            <app-league-legend class="icon" *ngIf="user.league?.name === 'Legend'" />
        </div>
        <p class="value">{{user.league?.name}}</p>
    </div>
    <div class="statistic" (click)="goToAchievements()">
        <p class="title">{{ 'title.achievements' | translate }}</p>
        <div class="icon">
            <app-icon-coin class="icon" size="35px" [colorOuter]="'gold'" />
        </div>
        <p class="value">{{user.achievements.length}}</p>
    </div>
    <div class="statistic" (click)="goTo('ladder')">
        <p class="title">{{ 'title.leaderboard' | translate }}</p>
        <div class="icon">
            <app-icon-go class="icon" size="35px" />
        </div>
    </div>
</div>