<div class="main-frame">
  <div class="filter">
    <input type="text" [(ngModel)]="input" placeholder="Filter artists ..." />
  </div>

  <div class="box-wrapper">
    <div class="box">
      <div *ngFor="let artist of filterArtists()">
        <div class="duo">
          <label [for]="artist.name"> ▸ {{ artist.name }}</label>
          <input type="checkbox" [id]="artist.name" [value]="artist.businessId" [checked]="artist.isChecked"
            (change)="onArtistCheckChange(artist)" />
        </div>
      </div>
    </div>
  </div>
</div>