<div class="top-options">
  @if (userService.appUser?.role === 2) 
  {
    <!-- New Link Button -->
      <div class="new" (click)="toggleDialog()">
        <img src="../../../../assets/app_icons/icon_links_001.png" />
        <a>New Link</a>
      </div>
  }
  <app-link-filter (search)="handleSearch($event)" />
</div>

<app-links-list [links]="links()" [search]="search()" (edit)="handleEdit($event)" (delete)="handleDelete($event)" />
<app-link-categories-list [linkCategories]="linkCategories()" />

@if (isOpen()) 
{
  <app-link-dialog (close)="handleCloseDialog()">
    <app-link-form [link]="selectedLink()" (save)="handleSave($event)" />
  </app-link-dialog>
}

<!-- Bottom Bar -->
<div class="bar">
  <!-- Links Count -->
  <a class="tweak">
    <div class="position">{{ links().length | number : '4.0'}}</div>
  </a>
  <!-- To Top Button -->
  <a (click)="toTop()" *ngIf="topButtonIsActive === true">
    <img src="../../../../assets/app_icons/arrow_up.png" />
  </a>
  <span *ngIf="topButtonIsActive === false">
    <img src="../../../../assets/app_icons/arrow_up_no.png" />
  </span>
</div>