<div class="filter">
    <input type="text" [(ngModel)]="input" placeholder="Filter artists ...">
</div>

<div class="form-container">
    <div class="form-flex">
        <div class="form_cat_box">
            <div *ngFor="let artist of filterArtists()">
                <div class="duo">
                    <input type="checkbox" id="{{artist.name}}" value="{{artist.name}}" 
                        [checked]="artist.isChecked" (change)="artist.isChecked = !artist.isChecked">
                    <label for="{{artist.name}}">{{artist.name}}</label>
                </div>     
            </div>   
        </div>
    </div> 
</div>

<div class="buttons">
    <div class="button" (click)="onSubmit()">Submit</div>
</div>