<p class="sticky-label"><b>{{ selectedMoods().length }}</b> Moods Selected</p>

<app-spacer height="25px" />

<div class="buttons">
    <div class="button" (click)="selectAll()">Select All</div>
    <div class="button" (click)="invertSelection()">Invert</div>
    <div class="button" (click)="resetSelection()">Reset</div>
</div>

<div class="edit-score">
    <div class="score-buttons">
        <button (click)="multiScore(-50)">-50</button>
        <button (click)="multiScore(-10)">-10</button>
        <button (click)="multiScore(-1)">-1</button>
        <button (click)="multiScore(1)">+1</button>
        <button (click)="multiScore(10)">+10</button>
        <button (click)="multiScore(50)">+50</button>
    </div>
</div>

<div *ngIf="moodsFlow()?.moods?.length; else loading">
    <div class="gallery">
        <div *ngFor="let mood of moodsFlow()?.moods || [] | paginate : { itemsPerPage : itemsPerPage, currentPage : currentPage() }">
            <section>
                <div class="mood-container">
                    <div *ngIf="mood.type == 1">
                        <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}"
                            [class.active]="checkIfSelected(mood.businessId)"
                            (click)="selectionToggle(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 2">
                        <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"
                            [class.active]="checkIfSelected(mood.businessId)"
                            (click)="selectionToggle(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 3">
                        <img src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg"
                            [class.active]="checkIfSelected(mood.businessId)"
                            (click)="selectionToggle(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 4">
                        <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood.businessId}}.jpg"
                            [class.active]="checkIfSelected(mood.businessId)"
                            (click)="selectionToggle(mood.businessId)" />
                    </div>
                    <div class="mood-score">
                        {{ mood.score }}
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<ng-template #loading>
    <div class="loading">
        <p class="p">Loading ...</p>
    </div>
</ng-template>

@if((moodsFlow()?.moods?.length || 0) > itemsPerPage) {
    <div class="pagination-row">
        <div class="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="setCurrentPage($event)" />
        </div>
    </div>
}

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back page="/central-gallery" />
    <app-bottom-items-length [itemsLength]="moodsFlow()?.moods?.length" />
    <app-bottom-icon-tag page="/moods/multi-tag-tags" />
    <app-bottom-icon-to-top />
    <app-bottom-icon-artist page="/moods/multi-tag-artists" />
    <app-bottom-icon-model page="/moods/multi-tag-models" />
</app-bottom-bar>