<div class="edition">
    <div class="edition-selection">
        <p [style.fontWeight]="artistsFlow()?.style ? 'bold' : 'normal'">
            {{ artistsFlow()?.style?.name || 'Select a category.' }}
        </p>
        <div class="edition-buttons">
            <app-icon-list class="icon" [class.active]="currentViewMode === viewModes.ListView" size="25px"
                (click)="setViewMode(viewModes.ListView)" />
            <app-icon-plus class="icon" [class.active]="currentViewMode === viewModes.StyleCreationView"
                size="25px" (click)="setViewMode(viewModes.StyleCreationView)" />
            @if(artistsFlow()?.style) {
                <app-icon-edit class="icon" [class.active]="currentViewMode === viewModes.StyleEditionView"
                    size="25px" (click)="setViewMode(viewModes.StyleEditionView)" />
            }
        </div>
    </div>
    <div class="edition-selection">
        <p [style.fontWeight]="artistsFlow()?.artist ? 'bold' : 'normal'">
            {{artistsFlow()?.artist?.name || 'Please, select an artist from the list.' }}</p>
        <div class="edition-buttons">
            <app-icon-plus class="icon" [class.active]="currentViewMode === viewModes.ArtistCreationView" size="25px"
                (click)="setViewMode(viewModes.ArtistCreationView)" />
            @if(artistsFlow()?.artist){
                <app-icon-edit class="icon" [class.active]="currentViewMode === viewModes.ArtistEditionView" size="25px"
                    (click)="setViewMode(viewModes.ArtistEditionView)" />
                <app-icon-go class="icon" size="25px" (click)="go()" />
            }
        </div>
    </div>

    @if (currentViewMode === viewModes.ListView) {
        <div class="filter"><input type="text" [(ngModel)]="searchArtists" placeholder="Filter artists ..."></div>
        @if(filterArtists()?.length) {
            <div class="edition-list">
                <div
                    *ngFor="let artist of filterArtists() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: currentPage}">
                    <a [class.active]="artist.name === artistsFlow()?.artist?.name" (click)="setArtistId(artist.businessId)"> ▸
                        {{artist.name}}</a>
                </div>
            </div>
        }
        @else if(!filterArtists()?.length) {
            <p class="p">There are currently no artists in this list.</p>
            <div class="empty-list">
                <p>Click</p>
                <app-icon-plus size="25px" class="icon" />
                <p>to add a new artist.</p>
            </div>
        }
    }
</div>

@if (currentViewMode === viewModes.ArtistCreationView) {
    <app-create-artist [styles]="artistsFlow()?.styles || []" (setViewMode)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.StyleCreationView) {
    <app-create-style (trigger)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.ArtistEditionView) {
    <app-edit-artist [artist]="artistsFlow()?.artist" (trigger)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.StyleEditionView) {
    <app-edit-style [style]="artistsFlow()?.style" (trigger)="setViewMode(viewModes.ListView)" />
}

<app-right-column>
    <app-right-column-generic-list [items]="artistsFlow()?.styles || []" 
        [selectedItemId]="artistsFlow()?.style?.businessId" (setSelectedItemId)="setStyleId($event)" />
</app-right-column>

@if((artistsFlow()?.artistsByStyle?.length || 0) > elementsPerPage) {
    <div class="pagination-row">
        <div class="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="setCurrentPage($event)" />
        </div>
    </div>
}

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-items-length [itemsLength]="artistsFlow()?.artistsByStyle?.length" />
    <app-bottom-toggle-right-menu />
</app-bottom-bar>