<div class="edition" *ngIf="flow() as flow">
    <div class="edition-selection">
        @if(flow.style?.name){
            <p><b>{{flow.style?.name}}</b></p>
        }
        @else {
            <p>Select a style.</p>
        }  
        <div class="edition-buttons">
            <img [class.active]="showList" src="../../../assets/app_icons/icon_scripts_001.png" (click)="triggerShowList()" />
            <img [class.active]="showNewCategory" src="../../../assets/app_icons/new.png" (click)="triggerShowNewCategory()" />
            @if(flow.style?.name){
                <img [class.active]="showEditCategory" src="../../../assets/app_icons/edit.png" (click)="triggerShowEditCategory()" />
            }
        </div>
    </div>

    <div class="edition-selection">
        @if(flow.artist){
            <p><b>{{flow.artist.name}}</b></p>
        }
        @else {
            <p>Please, select an artist from the list.</p>
        }
        <div class="edition-buttons">
            <img [class.active]="showNew" src="../../../assets/app_icons/new.png" (click)="triggerShowNew()" />
            @if(flow.artist){
                <img [class.active]="showEdit" src="../../../assets/app_icons/edit.png" (click)="triggerShowEdit()" />
                <img src="../../../assets/app_icons/arrow_up.png" (click)="go()" />
            }
        </div>
    </div>

    @if (showList) {
        <div class="filter">
            <input type="text" [(ngModel)]="searchArtists" placeholder="Filter artists ...">
        </div>
        
        <div class="edition-list">
            <div *ngFor="let artist of filterArtists() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: paginationService.editArtistsCurrentPage}">
                <a [class.active]="artist.name === flow.artist?.name" (click)="setArtist(artist)"> ▸ {{artist.name}}</a>
            </div>
        </div>

        <app-right-column>
            <app-right-column-list [table]="flow.styles" [currentEntityId]="flow.style?.businessId" (entityId)="updateStyleId($event)" />
        </app-right-column>
        
        <div class="pagination-row" *ngIf="flow.artistsByStyle.length > elementsPerPage">
            <div id="pagination">
              <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.editArtistsCurrentPage = $event"></pagination-controls>
            </div>   
        </div>
    }
    @if (showNew) {
        <app-create-artist (trigger)="triggerShowList()" [styles]="flow.styles" />
    }
    @if (showNewCategory) {
        <app-create-style (trigger)="triggerShowList() "/>
    }
    @if (showEdit) {
        <app-edit-artist [artist]="flow.artist" (trigger)="triggerShowList()"/>
    }
    @if (showEditCategory) {
        <app-edit-style [style]="flow.style" (trigger)="triggerShowList()" />
    }
    
    <app-bottom-bar moodsGalleryType="list-edition" [moodsLength]="flow.artistsByStyle.length" />
</div>