<h2>Title & Description</h2>

<div class="mood-update-form">  
    <form [formGroup]="formGroup">
        <input class="form-item" type="text" formControlName="name" placeholder="{{mood.name}}">
        <input class="form-item" type="text" formControlName="description" placeholder="{{mood.description}}">    
    </form>
</div>

<h2>Score</h2>

<div class="score" >
    <button (click)="updateMoodScore(-10)">-10</button>
    <button (click)="updateMoodScore(-1)">-1</button>
    <p><b>{{ mood.score | number : '3.0'}}</b></p>
    <button (click)="updateMoodScore(1)">+1</button>
    <button (click)="updateMoodScore(10)">+10</button>
</div>

<div class="buttons">
    <div class="button" (click)="onSubmit()">Submit</div>
    <div class="button" (click)="triggerMoodDelete()">Delete Mood</div>
</div>

@if(moodDelete){
    <div [ngClass]="moodDelete === true ? 'box-delete on-delete' : 'box-delete' " (click)="triggerMoodDelete()">
        <h1>Warning !!</h1>
        <br>
        <p>This will delete mood & all associations permanently</p>
        <br>
        <p>Are you sure ?</p>
        <br>
        <span (click)="deleteMood()">Delete</span>
    </div>
}