<div id="layout-central">
    <h1>Nommer les Notes</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>
    <div class="article_box">
    </div>
    <div class="article_box primary">
        <p> - <b>Exercice pratique</b> :</p>
        <p>Apprendre à les repérer du premier coup d'oeil.</p>
    </div>
    <div class="article_box">
        <p>Voici un petit clavier affichant les 12 notes.</p>
        <p>Vous pouvez vous en servir pour les mémoriser</p>
    </div>
    <div class="article_box primary">
        <p><u>Vous pouvez y afficher</u> :</p>
        <p> ▸ le nom des notes en FR ou EN</p>
        <p>( avec ou sans enharmonie pour les notes altérées )</p>
        <p> ▸ la fréquence</p>
    </div>
    <app-flying-keys-mini />
</div>