<app-button-top />
<div id="layout-central" *ngIf="franchisesFlow() as flow">
    <!-- Pagination controls -->
    <div class="row-sticky" *ngIf="flow.length > mpp">
      <div id="pagination">
          <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>  
    </div>   
    <!-- List -->
    <div id="list">
        <div *ngFor="let franchise of flow | paginate : { itemsPerPage : mpp, currentPage: p }">
          <div class="list-flex"> 
            <a class="list-item link" routerLink="/franchises/franchises-gallery" (click)="updateFranchiseId(franchise.businessId)"> ▸ {{franchise.name}}</a>   
            <a class="list-item update" routerLink="/franchises/update-franchise" (click)="updateFranchiseId(franchise.businessId)">U</a>      
            <a class="list-item delete" routerLink="/franchises/delete-franchise" (click)="updateFranchiseId(franchise.businessId)">D</a>     
          </div>  
        </div>
    </div>
</div>
<div class="bottom-box"></div>