<div class="dashboard">
  <app-dashboard-header [user]="user()" />

  @if (!user().isEmailVerified) {
  <app-email-verification />
  }

  <app-user-cards [user]="user()" />

  @if(viewMode() === viewModes.Achievements) {
  <app-achievements />
  }

  @if(viewMode() === viewModes.Status) {
  <app-status />
  }

  @if(viewMode() === viewModes.Level) {
  <app-user-level />
  }

  @if(viewMode() === viewModes.Score) {
  <app-user-score />
  }

  @if(viewMode() === viewModes.League) {
  <app-user-league />
  }
  
  @if(viewMode() === viewModes.Edition) {
  <app-dashboard-edition-menu />
  }

  @if(viewMode() === viewModes.Account) {
  <app-account />
  }

  <!-- <app-banner-pad-station /> -->
</div>

<app-spacer />

<app-bottom-bar>
  <app-bottom-icon-dashboard-status />
  <app-bottom-icon-dashboard-edition />
  <app-bottom-icon-dashboard-account />
  <app-bottom-icon-random-mood (click)="setViewMode(viewModes.Status)" />
</app-bottom-bar>