.dashboard {
    margin: 15px;
    margin-left: 300px;

    .dashboard-header {
        background-color: var(--colorMainOpacity2);
        border: 3px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        img {
            margin-top: 15px;

            height: 150px;
            width: 150px;

            background-color: var(--colorWhiteOpacity5);
            border: 3px solid var(--colorMain);
            border-radius: 5px 5px 0 0;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
        }

        p {
            width: 185px;

            padding: 10px;
            margin: 0;
            margin-bottom: 15px;

            text-align: center;
            font-size: 18px;
            font-weight: bold;
            color: var(--colorMain);
        }
    }

    .dashboard-menu {
        padding: 5px;

        display: flex;
        justify-content: baseline;
        align-items: center;

        .menu-element {
            height: 35px;
            width: 135px;

            margin: 5px;
            padding-left: 5px;

            background-color: var(--colorWhiteOpacity4);
            border: 2px solid var(--colorMainOpacity2);
            border-radius: 5px;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

            display: flex;
            justify-content: baseline;
            align-items: center;

            transition-duration: 250ms;

            img {
                height: 60%;
                margin: 5px;
            }

            p {
                color: var(--colorMain);
                font-size: 13px;
            }
        }

        .menu-element:hover:not(.active) {
            background-color: var(--colorWhiteOpacity7);
            border: 2px solid var(--colorMainOpacity5);
            cursor: pointer;

            p {
                color: var(--colorMain);
            }
        }

        .active {
            background-color: var(--colorWhite);
            border: 2px solid var(--colorMain);

            p {
                color: var(--colorMain);
            }
        }
    }

    .current-mood {
        height: 150px;
        padding: 25px;

        img {
            height: 100%;
        }
    }

    .edition-menu {
        margin-top: 25px;
        max-width: 500px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        a {
            display: flex;
            align-items: center;
            margin: 5px;
            padding: 10px;

            width: 200px;

            background-color: var(--colorWhiteOpacity3);
            border: 1px solid var(--colorMainOpacity2);
            border-radius: 5px;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

            color: var(--colorMain);
            text-decoration: none;

            img {
                width: 35px;
                margin-right: 15px;
            }
        }

        a:hover {
            background-color: var(--colorWhite);
            transition-duration: 500ms;
        }
    }

    .profile {
        margin-top: 5px;
        padding: 25px;

        max-width: 450px;

        border: 3px solid var(--colorMain);
        border-radius: 5px;
        background-color: var(--colorMainOpacity2);


        .flex {
            display: flex;
            justify-content: space-between;

            background-color: var(--colorWhiteOpacity7);
            border-radius: 5px;

            padding: 15px;
            margin-bottom: 15px;

            p {
                margin: 0;
                color: var(--colorMain);
                font-size: 14px;
                letter-spacing: 1px;

                a:hover {
                    text-decoration: underline;
                }
            }
        }

        .flex_created {
            margin: 30px;
            margin-top: 15px;
            margin-bottom: 0;

            .box_created {
                display: flex;
                justify-content: space-between;

                p {
                    margin: 0;
                    margin-bottom: 5px;
                    text-align: center;
                    color: var(--colorMainOpacity8);
                    font-size: 13px;
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .dashboard {
        margin-left: 15px;
    }
}