.loading,
.error {
    margin: 1rem 0;
    font-weight: bold;
    color: #555;
}

.error {
    color: #c00;
}

.mini {
    font-size: 13px;
}

.leaderboard {
    .league-header {
        display: flex;
        align-items: center;

        p {
            margin-right: 1px;
            font-size: 17px;
            font-weight: bold;
            color: var(--colorMain);
        }
    }

    .entry-header {
        display: flex;
        justify-content: space-between;

        .name {
            padding-left: 55px;
            font-size: 12px;
            color: var(--colorMain);
            margin: 0;

        }

        .score {
            padding-right: 60px;
            font-size: 12px;
            color: var(--colorMain);
            margin: 0;
        }
    }

    .entry {
        display: flex;
        align-items: center;

        .position {
            display: block;

            width: 35px;
            height: 35px;

            background-color: var(--colorMainOpacity6);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--colorWhiteOpacity8);
            font-size: 13px;
            font-weight: bold;
        }

        .user-name {
            flex-grow: 1;
            color: var(--colorMain);

            height: 35px;

            background-color: var(--colorMainOpacity1);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            align-items: center;

            text-indent: 10px;
            font-size: 15px;
        }

        .user-name:hover {
            background-color: var(--colorMainOpacity2);
            cursor: pointer;
            transition-duration: 300ms;
        }

        .score {
            color: var(--colorMain);
            font-weight: bold;

            width: 75px;
            height: 35px;

            background-color: var(--colorMainOpacity1);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            justify-content: end;
            align-items: center;

            font-size: 15px;
            padding-right: 15px;
        }

        .gold {
            background-color: rgba(255, 231, 94, 0.693);
            color: var(--colorMain);
        }

        .silver {
            background-color: rgba(217, 217, 217, 0.698);
            color: var(--colorMain);
        }

        .bronze {
            background-color: rgba(222, 184, 135, 0.835);
            color: var(--colorMain);
        }
    }
}