<div *ngIf="loading" class="loading">Chargement du ladder…</div>
<div *ngIf="errorMsg" class="error">{{ errorMsg }}</div>

<h1 class="h1">Ladder</h1>

<div class="main-frame">
  <table *ngIf="!loading && !errorMsg" class="ladder-table">
    <thead>
      <tr>
        <th>#</th>
        <th>{{ 'title.user-name' | translate }}</th>
        <th>Season Score</th>
        <th>{{ 'title.level' | translate }}</th>
        <th>{{ 'title.experience' | translate }}</th>
        <th>{{ 'title.league' | translate }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of entries; let i = index">
        <td>{{ i + 1 }}</td>
        <td><span (click)="goToUserProfile(e.businessId)">{{ e.userName }}</span></td>
        <td>{{ e.seasonScore }}</td>
        <td>{{ e.level }}</td>
        <td>{{ e.experience }} XP</td>
        <td>{{ e.leagueName }}</td>
      </tr>
    </tbody>
  </table>
</div>

<app-bottom-bar>
  <app-bottom-icon-back />
  <app-bottom-icon-to-top />
</app-bottom-bar>