.loading,
.error {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    img {
        height: 100px;
        width: 100px;
    }
}

.error {
    color: darkred;
}

.mini {
    font-size: 13px;
}

.super-title {
    height: 60px;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    margin: 15px;

    img {
        position: absolute;
        opacity: 0.2;
    }

    h1 {
        display: block;
        position: absolute;

        top: 8px;

        font-weight: bold;
        font-size: 25px;
        letter-spacing: 2px;
    }
}

.leaderboard {
    .header {
        --tile: 125px;

        background-color: var(--colorMainOpacity1);
        background-image:
            repeating-linear-gradient(45deg, var(--colorMainOpacity1) 0% 25%, transparent 0% 50%),
            repeating-linear-gradient(-45deg, var(--colorMainOpacity1) 0% 25%, transparent 0% 50%);
        background-size: var(--tile) var(--tile);
        background-position: 0 0, calc(var(--tile) / 2) calc(var(--tile) / 2);

        border: 3px solid var(--colorMainOpacity9);
        border-radius: 10px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        margin: 15px;
        padding: 15px;

        .header-title {
            display: flex;
            align-items: center;

            .icon {
                margin-right: 15px;
            }

            h1 {
                font-size: 18px;
                font-weight: bold;
                color: var(--colorMain);
                text-shadow: 0px 3px 3px var(--colorMainOpacity2);
            }
        }

        &.wood {
            background-color: rgb(224, 208, 190);
        }

        &.stone {
            background-color: rgb(196, 196, 196, 0.5);
        }

        &.bronze {
            background-color: rgb(223, 184, 133, 0.5);
        }

        &.silver {
            background-color: rgb(192, 192, 192, 0.5);
        }

        &.crystal {
            background-color: rgba(213, 240, 255, 0.7);
        }

        &.elite {
            background-color: rgb(255, 194, 194);
        }

        &.champion {
            background-color: goldenrod;
        }

        &.legend {
            background-color: rgb(230, 230, 230);
        }
    }

    .league-header {
        display: flex;
        align-items: center;

        p {
            margin-right: 1px;
            font-size: 17px;
            font-weight: bold;
            color: var(--colorMain);
        }
    }

    .entry-header {
        display: flex;
        justify-content: space-between;

        .name {
            padding-left: 55px;
            font-size: 12px;
            color: var(--colorMain);
            margin: 0;

        }

        .score {
            padding-right: 60px;
            font-size: 12px;
            color: var(--colorMain);
            margin: 0;
        }
    }

    .entry {
        display: flex;
        align-items: center;

        .position {
            display: block;

            width: 35px;
            height: 35px;

            background-color: var(--colorMainOpacity6);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            justify-content: center;
            align-items: center;

            color: var(--colorWhiteOpacity8);
            font-size: 13px;
            font-weight: bold;
        }

        .user-name {
            flex-grow: 1;
            color: var(--colorMain);

            height: 35px;

            background-color: var(--colorMainOpacity1);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            align-items: center;

            text-indent: 10px;
            font-size: 15px;
        }

        .user-name:hover {
            background-color: var(--colorMainOpacity2);
            cursor: pointer;
            transition-duration: 300ms;
        }

        .score {
            color: var(--colorMain);
            font-weight: bold;

            width: 75px;
            height: 35px;

            background-color: var(--colorMainOpacity1);
            border-radius: 5px;

            margin: 5px;

            display: flex;
            justify-content: end;
            align-items: center;

            font-size: 15px;
            padding-right: 15px;
        }

        .gold {
            background-color: rgba(255, 231, 94, 0.693);
            color: var(--colorMain);
        }

        .silver {
            background-color: rgba(217, 217, 217, 0.698);
            color: var(--colorMain);
        }

        .bronze {
            background-color: rgba(222, 184, 135, 0.835);
            color: var(--colorMain);
        }
    }
}