.column-trigger {
  position: fixed;
  top: 50%;
  right: 0;

  height: 200px;
  width: 75px;

  transform: translateY(-50%);

  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 24;
  transition: right 500ms ease;

  .trigger-arrow {
    height: 125px;
    width: 5px;
    background-color: var(--colorMainOpacity5);
    border-radius: 3px;
    transition: background-color 500ms ease;
  }
}

.column-trigger:hover {
  cursor: pointer;

  .trigger-arrow {
    background-color: var(--colorMain);
  }
}

.column-trigger-on {
  right: 285px;
}

@media screen and (max-width: 1150px) {
  .column-trigger {
    width: 30px;
  }
}

.right-column {
  position: fixed;
  top: 0;
  right: 0;

  width: 285px;
  height: 100%;

  overflow-y: scroll;
  scrollbar-color: var(--colorMainOpacity7) #f1f1f1;

  background-color: var(--colorMainOpacity5);
  backdrop-filter: blur(3px);
  border-left: 3px solid var(--colorMain);
  z-index: 24;

  transition: right 500ms ease, opacity 500ms ease;
}

.right-column-off {
  right: -310px;
  opacity: 0;
}