.bottom-bar-larger {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colorWhite);
    border-top: 1px solid var(--colorMain);

    z-index: 25;

    a {
        display: flex;
        justify-content: center;
        align-items: center;

        width: 55px;
        height: 55px;

        margin: 13px;

        background-color: var(--colorWhite);
        border: 1px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0px 5px 5px var(--colorMainOpacity2);

        font-size: 16px;
        color: var(--colorMain);

        opacity: 0.7;
    }

    a:hover {
        cursor: pointer;
        opacity: 1;
        transition-duration: 500ms;
    }
}