<svg 
  [attr.width]="size" 
  [attr.height]="size" 
  viewBox="0 0 199.46988 99.906921">
  <g transform="translate(-0.24707682,-50.081608)">
    <g transform="translate(0.67340029,-0.33670034)" id="stave">
      <rect 
        x="-0.42632347" 
        y="146.5159" 
        width="199.46988" 
        height="3.8093295"
        [style.fill]="staffColor"
        style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
      <rect 
        x="-0.42632347" 
        y="122.4915" 
        width="199.46988" 
        height="3.8093295"
        [style.fill]="staffColor"
        style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
      <rect 
        x="-0.42632347" 
        y="98.467102" 
        width="199.46988" 
        height="3.8093295"
        [style.fill]="staffColor"
        style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
      <rect 
        x="-0.42632347" 
        y="74.442703" 
        width="199.46988" 
        height="3.8093295"
        [style.fill]="staffColor"
        style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
      <rect 
        x="-0.42632347" 
        y="50.418308" 
        width="199.46988" 
        height="3.8093295"
        [style.fill]="staffColor"
        style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
    </g>
    <g>
      <ellipse 
        transform="matrix(1.0417702,0,0,0.99368848,-3.2711109,48.269236)" 
        id="path3185"
        cx="93.412224" 
        cy="37.343243" 
        rx="6.7109594" 
        ry="7.0356832"
        [style.fill]="getNoteColor()"
        [style.stroke]="getNoteColor()" />
      <path 
        transform="translate(0.24707682,46.942827)" 
        id="path3189"
        d="m 99.370497,74.904143 c 0,-0.980054 11.690643,-41.407291 11.690643,-41.407291"
        style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
        [style.stroke]="getNoteColor()" />
      <path 
        transform="translate(0.24707682,46.942827)" 
        id="path3191"
        d="m 93.352286,44.390585 c 5.469166,0.374434 15.719444,-1.00955 17.568844,-10.508711 -2.35588,3.713543 -2.43934,10.948646 -16.135887,7.77043"
        style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
        [style.stroke]="getNoteColor()" />
    </g>
  </g>
</svg>