<div id="layout-central" *ngIf="artistFlow() as flow">  
  <!-- Title   -->
  <h2>Update Artist</h2>
  
  <!-- Form -->
  <div class="artist-form">  
    <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">  

      <input class="form-item" type="text" formControlName="name">

      <button class="form-item" type="submit" [disabled]="formGroup.invalid">Submit</button>

      <div class="form-item checkbox" formArrayName="styles">
        <div class="combo" *ngFor="let styleControl of getStyles.controls; let i = index" [formGroupName]="i">
          <input type="checkbox" [id]="styleControl.value.name" formControlName="isChecked">
          <label [for]="styleControl.value.name">{{ styleControl.value.name }}</label>
        </div>
      </div>

    </form>
  </div>
</div>