input {
    padding: 5px;
    font-size: 14px;
}

input[type="file"] {
    display: none;
}

.multiple {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    .file {
        width: 300px;

        margin: 10px;
        padding: 10px;

        background-color: var(--colorWhiteOpacity5);
        border: 1px solid var(--colorMain);
        border-radius: 5px;

        .file-picture {
            height: 175px;
            overflow-y: scroll;

            border: 1px solid var(--colorMain);
            border-radius: 5px;

            margin: 10px;

            img {
                width: 100%;
            }
        }

        .info-flex {
            height: 25px;

            display: flex;
            justify-content: space-between;
            align-items: center;

            margin: 10px;
            padding: 10px;

            background-color: var(--colorMainOpacity2);
            border-radius: 5px;

            color: var(--colorMain);
            font-size: 13px;

            input {
                width: 150px;
                padding: 5px;
                color: var(--colorMain);
                border-radius: 5px;
            }
        }
    }
}