<app-button-top />
<div id="layout-central">
    <h1>Nommer les Notes (en anglais)</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>
    <div class="article_box primary">
        <p><u>À la fin de ce script</u>, vous serez capable de :</p>
        <p> - Nommer toutes les touches d'un clavier (en anglais).</p>
    </div>
    <div class="article_box">
        <p><u>L'anglais étant la langue internationale</u>,</p>
        <p>la notation musicale anglo-saxonne s'est exportée autant que la langue en elle-même.</p>
        <p>Et vous avez fort probablement déjà croisé cette notation lettrée : C, D, E, ...</p>
    </div>
    <div class="article_box">
        <p>Aussi, pour maximiser vos chances d'acquérir de l'information et de progresser,</p>
        <p>Je vous propose ici, cette petite traduction :</p>
    </div>
    <div class="article_box primary">
        <p>En très gros, le système anglo-saxon repose lui-même sur le système "européen" (j'y reviendrai).</p>
        <p>Du coup, la logique est exactement la même qu'en français :</p>
        <p>Les symboles dièse et bémol sont même repris à l'identique, mais se traduisent par :</p>
        <p> - <b>#</b> (dièse) : <b>sharp</b></p>
        <p> - <b>b</b> (bémol) : <b>flat</b></p>
    </div>
    <div class="article_box">
        <p><b>Pour les notes :</b></p>
        <p>Les 7 notes naturelles (Do, Ré, Mi, Fa, Sol, La, Si) sont remplacées par des lettres :</p>
        <p><b>C, D, E, F, G, A, B</b></p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/seq_clavier_notes_EN.png" />
    </div>
    <div class="article_box">
        <p>Rien de bien compliqué en somme !</p>
    </div>
    <div class="article_box">
        <p> - <u>Petit détail tout de même qui mérite d'être relevé</u> : </p>
    </div>
    <div class="article_box primary">
        <p>En musique, la note de référence est le <b>La 4</b> ou <b>La 440</b> (Norme ISO depuis 1955).</p>
        <p>La notation anglo-saxonne est plus explicite que la nôtre sur ce point.</p>
        <p>Car vous constaterez que <u>la première lettre de l'alphabet lui est attribuée</u>.</p>
    </div>
    <div class="article_box">
        <p>En résumé, voilà les deux notations côte à côte :</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/seq_clavier_notes_full_EN.png" />
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/seq_clavier_notes_full.png" />
    </div>
    <div class="article_box">
        <p>Vous êtes maintenant capable de nommer toutes les touches et les notes en français et en anglais !</p>
    </div>
</div>
<div class="bottom-box"></div>