.statistics {
    width: 300px;
    margin: auto;
    margin-top: 25px;
    padding: 15px;
    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
}