<!-- Top Button -->
<app-button-top />
<div id="layout-central" *ngIf="tags() as tags">
    <!-- Mobile Display -->
    <div class="mobile"> 
        <div class="tags-gallery" *ngIf="tags.length; else loading">
            <div *ngFor="let list of tags">
                <div class="box">
                    <!-- Category Name -->
                    <p>{{ list.category.name }}</p>
                    <!-- Tag List -->
                    <div class="flex">
                        <div *ngFor="let tag of list.tags">
                            <a id="{{tag.businessId}}" routerLink="/moods/gallery"> ▸ {{ tag.name }}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Loading -->
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>
    </div>
    <!-- Desktop Display -->
    <div class="desktop">
        <div id="tags-wall" *ngIf="tags.length; else loading">
            <div class="tags-box" *ngFor="let category of tags">
                <div class="box-category">
                    <!-- Category Name -->
                    <p class="name-cat left">{{ category.category.name }}</p>
                </div>
                <div class="overflow">
                    <!-- Tag List -->
                    <div *ngFor="let tag of category.tags">
                        <p>
                            <span> ▸ </span>
                            <a routerLink="/moods/gallery" class="name-tag">{{ tag.name }}</a>
                        </p>
                    </div>
                </div>
            </div>   
        </div>
        <!-- Loading -->
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>  
    </div>
</div>