<div class="tags-list">
    <div *ngFor="let tagList of tags">
        <div class="container">
            <p class="category-name">{{tagList.category.name}}</p>
            <div *ngFor="let tag of tagList.tags">
                <div class="box">
                    <a id="{{tag.businessId}}" class="name-tag" [appScrollActive]="tag.businessId === currentTagId"
                        [class.active]="tag.businessId === currentTagId" (click)="handleTagId(tag.businessId)"> ▸
                        {{tag.name}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>