.tags-list {
    .container {
        border: 1px solid var(--colorMain);
        border-radius: 5px;

        margin: 15px;
        padding: 15px;
        padding-top: 0px;

        background-color: var(--colorWhiteOpacity5);
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        .category-name {
            font-size: 13px;
            font-weight: bold;
            color: var(--colorMain);
        }
        .category-name:hover {
            text-decoration: underline;
            cursor: pointer;
        }
        .active {
            text-decoration: underline;
        }

        .box {
            display: flex;
            justify-content: space-between;

            a {
                line-height: 30px;
                margin-bottom: 5px;
            }

            .name-tag {
                display: block;
                width: 180px;

                background-color: var(--colorWhiteOpacity5);
                border: 1px solid #ffffff00;
                border-radius: 5px;

                color: var(--colorMain);
                text-align: left;
                text-indent: 10px;
                text-decoration: none;
                font-size: 12px;

                flex-grow: 1;
            }

            .name-tag:hover {
                cursor: pointer;
                background-color: var(--colorMainOpacity5);
                border: 1px solid var(--colorMain);
                color: var(--colorWhiteOpacity7);
                transition-duration: 250ms;
            }

            .active {
                background-color: var(--colorMain);
                border: 1px solid var(--colorMain);
                color: var(--colorWhite);
            }
        }
    }
}