<div id="layout-central">
    <div id="logo">
        <img src="../../../../../assets/app_logos/fp_logo_01.png">
    </div>

    <div class="row-white">
        <p>Au delà des règles et des codes de genre ...</p>
        <p class="more_space"><b>Prenez votre envol musical !</b></p>
    </div>

    <p>Suivez moi sur les réseaux</p>

    <div id="box-social">
        <div class="social">
            <a target="_blank" href="https://www.facebook.com/FlyingPAD">
                <img class="icon-social" src="../../../../assets/app_icons/social/facebook_01.png" />
            </a>
            <p>Facebook</p>
        </div>
        <div class="social">
            <a target="_blank" href="https://www.instagram.com/tony_van_langenhove/">
                <img class="icon-social" src="../../../../assets/app_icons/social/instagram.png" />
            </a>
            <p>Instagram</p>
        </div>
        <div class="social">
            <a target="_blank" href="https://www.youtube.com/@flyingpad">
                <img class="icon-social" src="../../../../assets/app_icons/social/youtube.png" />
            </a>
            <p>YouTube</p>
        </div>
        <div class="social">
            <a target="_blank" href="https://soundcloud.com/flyingpad">
                <img class="icon-social" src="../../../../assets/app_icons/social/soundcloud.png" />
            </a>
            <p>Soundcloud</p>
        </div>
    </div>
</div>