<div class="about">
    <div class="left">
        <img class="logo" [src]="getImageURL('images-logo', 'logo-1', 'png')" />
        <div class="cta">
            <p class="p">{{ 'message.text1' | translate }}</p>
            <p class="p"><b>{{ 'message.text2' | translate }}</b></p>
        </div>
        <p class="p">{{ 'message.follow_me' | translate }}</p>
        <div class="box-social">
            <div class="social">
                <a target="_blank" href="https://www.facebook.com/FlyingPAD">
                    <app-logo-facebook class="icon-social" />
                </a>
                <p class="p">Facebook</p>
            </div>
            <div class="social">
                <a target="_blank" href="https://www.instagram.com/tony_van_langenhove/">
                    <app-logo-instagram class="icon-social" />
                </a>
                <p class="p">Instagram</p>
            </div>
            <div class="social">
                <a target="_blank" href="https://www.youtube.com/@flyingpad">
                    <app-logo-youtube class="icon-social" />
                </a>
                <p class="p">YouTube</p>
            </div>
            <div class="social">
                <a target="_blank" href="https://soundcloud.com/flyingpad">
                    <app-logo-soundcloud class="icon-social" />
                </a>
                <p class="p">Soundcloud</p>
            </div>
        </div>
    </div>
    <div class="right">
        @if(flow()?.mood?.type === 1) {
            @if (flow()?.mood?.height === flow()?.mood?.width) {
            <img class="mood-square"
                src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
            }
            @if (flow()?.mood?.height > flow()?.mood?.width) {
            <img class="mood-portrait"
                src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
            }
            @if (flow()?.mood?.height
            < flow()?.mood?.width) { <img class="mood-landscape"
                src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
            }
        }
    </div>
</div>