<div id="logo">
    <img [src]="getImageURL('images-logo', 'logo-1', 'png')" />
</div>
<div class="row-white">
    <p class="p">{{ 'message.text1' | translate }}</p>
    <p class="p"><b>{{ 'message.text2' | translate }}</b></p>
</div>
<p class="p">{{ 'message.follow_me' | translate }}</p>
<div class="box-social">
    <div class="social">
        <a target="_blank" href="https://www.facebook.com/FlyingPAD">
            <img class="icon-social" [src]="getImageURL('icons-social', 'facebook', 'png')" />
        </a>
        <p class="p">Facebook</p>
    </div>
    <div class="social">
        <a target="_blank" href="https://www.instagram.com/tony_van_langenhove/">
            <img class="icon-social" [src]="getImageURL('icons-social', 'instagram', 'png')" />
        </a>
        <p class="p">Instagram</p>
    </div>
    <div class="social">
        <a target="_blank" href="https://www.youtube.com/@flyingpad">
            <img class="icon-social" [src]="getImageURL('icons-social', 'youtube', 'png')" />
        </a>
        <p class="p">YouTube</p>
    </div>
    <div class="social">
        <a target="_blank" href="https://soundcloud.com/flyingpad">
            <img class="icon-social" [src]="getImageURL('icons-social', 'soundcloud', 'png')" />
        </a>
        <p class="p">Soundcloud</p>
    </div>
</div>
<div class="spacer-75"></div>