<app-language-menu-header [isMenuOn]="isLanguageMenuON" (menuToggle)="toggleLanguageMenu()" />
<header>
    <section class="left">
        <div class="hamburger" (click)="handleMenuToggle()">
            <app-icon-hamburger size="23px" />
        </div>
        <div class="logo-mini">
            <img [src]="getImageURL(true, 'images-logo', 'logo-2', 'png')" />
        </div>
        <div class="logo">
            <img [src]="getImageURL(true, 'images-logo', 'logo-3', 'png')" />
        </div>
    </section>
    <section class="right">
        <div class="languages" (click)="toggleLanguageMenu()" [class.active]="isLanguageMenuON">
            <img [src]="getImageURL(false, 'icons-flags', currentLanguage(), 'png')" />
            <span>{{ currentLanguage() === 'fr' ? 'Français' : 'English' }}</span>
        </div>
        <div class="sign-up" routerLink="/sign-up">
            <p>{{ 'title.sign-up' | translate }}</p>
        </div>
        <div class="log-in" routerLink="/log-in">
            <p>{{ 'title.log-in' | translate }}</p>
        </div>
    </section>
</header>