<div id="layout-central" *ngIf="artistFlow() as flow">   
    <!-- Pagination -->
    <div class="row-sticky" *ngIf="flow.moods.length > mpp">
        <div id="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>   
    <!-- Gallery -->
    <div class="gallery">
        <div *ngFor="let mood of flow.moods | paginate : { itemsPerPage: mpp, currentPage: p }">
            <section>
                <div *ngIf="mood.type == 1">           
                    <a routerLink="/moods/mood-details" (click)="updateMoodId(mood.businessId)">
                        <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}"/>
                    </a>
                </div>
                <div *ngIf="mood.type == 2">
                    <a routerLink="/moods/mood-details" (click)="updateMoodId(mood.businessId)">
                        <img src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"/>
                    </a>         
                </div>
            </section>
        </div>
    </div>
</div>
<div class="bar" *ngIf="artistFlow() as flow">
    <!-- Artist Name -->
    <a class="tweak">
        <div class="position"><b>{{ flow.artist.name }}</b></div>
    </a>
    <!-- Moods Count -->
    <a class="tweak">
        <div class="position">{{ flow.moods.length | number : '4.0'}}</div>
    </a>
    <!-- Google Search Buttons -->
    <a target="_blank" href="https://www.google.com/search?q={{flow.artist.name}}">
        <img src="../../../../assets/app_icons/google.png" />
    </a>
    <a target="_blank" href="https://images.google.com/images?q={{flow.artist.name}}">
        <img src="../../../../assets/app_icons/google_images.png" />
    </a>
    <!-- Info Button Trigger -->
    <a (click)="infoTrigger()" [ngClass]="infoIsActive === true ? 'active' : '' ">
        <img appAnimSpin src="../../../../assets/app_icons/icon_info_001.png" />
    </a>
    <!-- To Top Button -->
    <a (click)="toTop()" *ngIf="topButtonIsActive === true">
        <img src="../../../../assets/app_icons/arrow_up.png" />
    </a>
    <span *ngIf="topButtonIsActive === false">
        <img src="../../../../assets/app_icons/arrow_up_no.png" />
    </span>
</div>
<div [ngClass]="infoIsActive === true ? 'info' : 'info off' " *ngIf="artistFlow() as flow" (click)="infoTrigger()">
    <!-- Artist Name -->
    <h1>{{ flow.artist.name }}</h1>
    <!-- Related Info -->
    <div class="flex">
        <p><b>Moods</b></p>
        <p>{{flow.moods.length}}</p>
    </div>
    <!-- Auditable Info -->
    <div class="flex_created">
        <div class="box_created">
            <p>Created</p>
            <p>{{ flow.artist.created | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
        <div class="box_created">
            <p>Modified</p>
            <p>{{ flow.artist.modified | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
    </div>
</div>