<div class="scripts">
    <h1>Arsenal Harmonique</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>En musique, la gestion de la simultanéité des sons est une science en soi.</p>
        <p>C'est ce qu'on appelle : <b>L'HARMONIE</b> !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Voici donc notre point de départ pour aborder ces différents sujets :</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box primary">
        <p><b> ▸ La Tonalité</b></p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Intervalles Harmoniques</b></p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="updateMenuState('chords')"><b> ▸ Les Accords</b> ( Triades, Tétrades, ... )</p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Progressions Harmoniques</b> ( Cadences, ... )</p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Modulations</b></p>
    </div>
</div>