<form class="form" [formGroup]="formGroup">
    <div class="form-group">
        <label>{{ 'title.title' | translate }}</label>
        <input class="input" type="text" formControlName="name"
            placeholder="{{ formGroup.get('name')?.value }}" />
    </div>
    <div *ngIf="formGroup.get('name')?.invalid && formGroup.get('name')?.touched" class="error">
        ▸ {{ 'validation-message.name-required' | translate }}
    </div>

    <div class="form-group">
        <label>Description</label>
        <input class="input" type="text" formControlName="description"
            placeholder="{{ formGroup.get('description')?.value }}" />
    </div>
    <div *ngIf="formGroup.get('description')?.invalid && formGroup.get('description')?.touched" class="error">
        ▸ {{ 'validation-message.description-required' | translate }}
    </div>
</form>