<app-right-column>
    <div class="section-flex">
        <section>
            <h2>INTRODUCTION</h2>
            <p [appScrollActive]="currentViewMode() === viewModes.Introduction" (click)="setViewMode(viewModes.Introduction)" [class.active]="currentViewMode() === viewModes.Introduction">▸ Avant de commencer</p>
            <p [appScrollActive]="currentViewMode() === viewModes.PointOfView" (click)="setViewMode(viewModes.PointOfView)" [class.active]="currentViewMode() === viewModes.PointOfView">▸ Point de Vue</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Notation" (click)="setViewMode(viewModes.Notation)" [class.active]="currentViewMode() === viewModes.Notation">▸ La Notation Musicale</p>
            <p [appScrollActive]="currentViewMode() === viewModes.PianoReference" (click)="setViewMode(viewModes.PianoReference)" [class.active]="currentViewMode() === viewModes.PianoReference">▸ La Référence Clavier</p>
            <p [appScrollActive]="currentViewMode() === viewModes.MusicPrinciples" (click)="setViewMode(viewModes.MusicPrinciples)" [class.active]="currentViewMode() === viewModes.MusicPrinciples">▸ Principes élémentaires</p>
            <p [appScrollActive]="currentViewMode() === viewModes.MusicArsenal" (click)="setViewMode(viewModes.MusicArsenal)" [class.active]="currentViewMode() === viewModes.MusicArsenal">▸ Arsenal Musical</p>
        </section>
        <section>
            <h2>CONVENTIONS</h2>
            <p [appScrollActive]="currentViewMode() === viewModes.NotesFr" (click)="setViewMode(viewModes.NotesFr)" [class.active]="currentViewMode() === viewModes.NotesFr">▸ Les Notes</p>
            <p [appScrollActive]="currentViewMode() === viewModes.NotesEn" (click)="setViewMode(viewModes.NotesEn)" [class.active]="currentViewMode() === viewModes.NotesEn">▸ Les Notes (en anglais)</p>
            <p [appScrollActive]="currentViewMode() === viewModes.TheOctave"  (click)="setViewMode(viewModes.TheOctave)" [class.active]="currentViewMode() === viewModes.TheOctave">▸ L'Octave</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Tones" (click)="setViewMode(viewModes.Tones)" [class.active]="currentViewMode() === viewModes.Tones">▸ Tons et Demi-Tons</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Intervals" (click)="setViewMode(viewModes.Intervals)" [class.active]="currentViewMode() === viewModes.Intervals">▸ Les Intervalles</p> 
        </section>
        <section>
            <h2>Arsenal RYTHMIQUE</h2>
            <p [appScrollActive]="currentViewMode() === viewModes.RythmicArsenal" (click)="setViewMode(viewModes.RythmicArsenal)" [class.active]="currentViewMode() === viewModes.RythmicArsenal">▸ Arsenal Rythmique</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Pulsation" (click)="setViewMode(viewModes.Pulsation)" [class.active]="currentViewMode() === viewModes.Pulsation">▸ La Pulsation</p>
            <p [appScrollActive]="currentViewMode() === viewModes.TimeValues" (click)="setViewMode(viewModes.TimeValues)" [class.active]="currentViewMode() === viewModes.TimeValues">▸ Les Valeurs de Temps</p>
            <p [appScrollActive]="currentViewMode() === viewModes.TimeSignatures" (click)="setViewMode(viewModes.TimeSignatures)" [class.active]="currentViewMode() === viewModes.TimeSignatures">▸ Les Mesures</p>
        </section>
        <section>
            <h2>Arsenal HARMONIQUE</h2>
            <p [appScrollActive]="currentViewMode() === viewModes.HarmonicArsenal" (click)="setViewMode(viewModes.HarmonicArsenal)" [class.active]="currentViewMode() === viewModes.HarmonicArsenal">▸ Arsenal Harmonique</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Chords" (click)="setViewMode(viewModes.Chords)" [class.active]="currentViewMode() === viewModes.Chords">▸ Les Accords</p>
        </section>
        <section>
            <h2>Arsenal MÉLODIQUE</h2>
            <p [appScrollActive]="currentViewMode() === viewModes.MelodicArsenal" (click)="setViewMode(viewModes.MelodicArsenal)" [class.active]="currentViewMode() === viewModes.MelodicArsenal">▸ Arsenal Mélodique</p>
            <p [appScrollActive]="currentViewMode() === viewModes.Scales" (click)="setViewMode(viewModes.Scales)" [class.active]="currentViewMode() === viewModes.Scales">▸ Les Gammes</p>
        </section>
    </div>
</app-right-column>

<ng-container [ngSwitch]="currentViewMode()">
    <app-introduction *ngSwitchCase="viewModes.Introduction" />
    <app-key-ref *ngSwitchCase="viewModes.PianoReference" />
    <app-point-of-view *ngSwitchCase="viewModes.PointOfView" />
    <app-notation *ngSwitchCase="viewModes.Notation" />
    <app-notes *ngSwitchCase="viewModes.NotesFr" />
    <app-notes-trad *ngSwitchCase="viewModes.NotesEn" />
    <app-intervals *ngSwitchCase="viewModes.Intervals" />
    <app-chords *ngSwitchCase="viewModes.Chords" />
    <app-scales *ngSwitchCase="viewModes.Scales" />
    <app-pulsation *ngSwitchCase="viewModes.Pulsation" />
    <app-time-signature *ngSwitchCase="viewModes.TimeSignatures" />
    <app-music-principles *ngSwitchCase="viewModes.MusicPrinciples" />
    <app-music-arsenal *ngSwitchCase="viewModes.MusicArsenal" />
    <app-rythmic-arsenal *ngSwitchCase="viewModes.RythmicArsenal" />
    <app-harmonic-arsenal *ngSwitchCase="viewModes.HarmonicArsenal" />
    <app-melodic-arsenal *ngSwitchCase="viewModes.MelodicArsenal" />
    <app-tones *ngSwitchCase="viewModes.Tones" />
    <app-time-values *ngSwitchCase="viewModes.TimeValues" />
    <app-the-octave *ngSwitchCase="viewModes.TheOctave" />
</ng-container>    

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-icon-to-top />
    <app-bottom-toggle-right-menu />
</app-bottom-bar>