<svg
  [style.width]="size"
  [style.height]="size"
  viewBox="0 48 200 100"
  xmlns="http://www.w3.org/2000/svg"
>
  <g transform="translate(0,-852.36218)">
    <path
      d="m 2.4990363,900.37836 195.3483337,0"
      fill="none"
      stroke="currentColor"
      stroke-width="3.96764398"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="0.26666667"
    />
    <path
      d="m 1.983822,925.37836 195.348338,0"
      fill="none"
      stroke="currentColor"
      stroke-width="3.96764398"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="0.26666667"
    />
    <path
      d="m 1.983822,950.37836 195.348338,0"
      fill="none"
      stroke="currentColor"
      stroke-width="3.96764398"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="0.26666667"
    />
    <path
      d="m 1.983822,975.37836 195.348338,0"
      fill="none"
      stroke="currentColor"
      stroke-width="3.96764398"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="0.26666667"
    />
    <path
      d="m 1.983822,1000.3784 195.348338,0"
      fill="none"
      stroke="currentColor"
      stroke-width="3.96764398"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="0.26666667"
    />
    <path
      d="m 113.13433,900.47269 0,83.14019"
      fill="none"
      stroke="currentColor"
      stroke-width="1.95333612"
      stroke-linecap="butt"
      stroke-linejoin="miter"
      stroke-opacity="1"
    />
    <path
      d="m 153.03812,108.7706 a 11.237947,7.3223042 0 1 1 -0.33175,-1.76601"
      transform="matrix(1.2477873,-0.63522684,0.59622185,1.3694102,-142.33379,929.29558)"
      fill="currentColor"
      stroke="none"
      stroke-opacity="0.26666667"
    />
  </g>
</svg>