<div class="moods-gallery">   
    <div *ngIf="moods?.length; else loading">
        <div class="gallery">
            <div
                *ngFor="let mood of moods || [] | paginate : { itemsPerPage : moodsPerPage, currentPage : currentPage}">
                <section>
                    <div *ngIf="mood.type == 1">
                        <img [class.active]="mood.businessId === currentMoodId"
                            src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}"
                            (click)="handleMoodId(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 2">
                        <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"
                            (click)="handleMoodId(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 3">
                        <img src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg"
                            (click)="handleMoodId(mood.businessId)" />
                    </div>
                    <div *ngIf="mood.type == 4">
                        <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood.businessId}}.jpg"
                            (click)="handleMoodId(mood.businessId)" />
                    </div>
                </section>
            </div>
        </div>
    </div>
    <ng-template #loading>
        <div class="loading">
            <p>No moods found ...</p>
        </div>
    </ng-template>
    <div class="pagination-row" *ngIf="moods && moods.length > moodsPerPage">
        <div id="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination"
                (pageChange)="currentPage = $event"></pagination-controls>
        </div>
    </div>
</div>