.pagination-row
{
    position: fixed;
    bottom: 65px;
    width: 100vw;
    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    border-top: 1px solid #6b5240;
    font-size: 15px;

    #pagination
    {
        pagination-controls
        {
            text-align: center;
        }
        .pagination ::ng-deep .ngx-pagination .current 
        {
            background: #6b5240;  
            border-radius: 5px;
        }
    }
}

.top-options
{
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 10px;

    .new-tag
    {
        display: flex;
        justify-content: left;
        align-items: center;

        width: 100px;
        padding: 8px;
        margin: 5px;

        border: 2px solid #413429; 
        background-color: rgb(107, 82, 64, 0.5);
        border-radius: 7px;
        
        font-size: 14px;
        color: white;

        img
        {
            height: 15px;
            margin-right: 8px;
        }
    }
    .new-tag:hover
    {
        background-color: rgb(255, 255, 255, 0.8);
        color: #6b5240;
        transition-duration: 500ms;
        cursor: pointer;
    }
    .filter
    {
        display: flex;
        justify-content: center;
    
        margin: 5px;
    
        input
        {
            padding: 8px;
            margin: 8px;
            border-radius: 7px;
            font-size: 14px;
        }
        input:focus
        {
            outline: none;
            border: 2px solid #413429;
        }
    }
}

.update-modal
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 300px;
    height: 500px;

    background-color: rgb(255, 255, 255, 0.9);
    border: 1px solid #6b5240;
    border-radius: 15px;

    transition-duration: 500ms;
}

.modal
{
    position: absolute;
    top: 50%;
    left: 50%;

    transform: translate(-50%, -50%);

    width: 315px;

    background-color: rgb(255, 255, 255, 0.9);
    backdrop-filter: blur(3px);
    border: 1px solid #6b5240;
    border-radius: 15px;

    opacity: 0;
    pointer-events: none;
    transition-duration: 500ms;

    z-index: 19;

    h1
    {
        margin-top: 25px;

        font-size: 16px;
        text-align: center;
        color: #6b5240;
        letter-spacing: 1px;
    }
    p
    {
        font-size: 14px;
        text-align: center;
        color: #6b5240;
    }
    .warning
    {
        color: #761a00;  
    }

    form
    {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        input
        {
            width: 200px;
            padding: 8px;
            margin: 15px;
            border-radius: 5px;
            font-size: 14px;
            color: var(--colorMain)
        }
        input:focus
        {
            outline: none;
            border: 2px solid #413429;
        }
        .error
        {
            margin: 0;
            padding: 0;
            color:#791c00;
            font-size: 13px;
        }
    }

    .modal-buttons
    {
        margin-top: 15px;
        margin-bottom: 35px;

        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        a
        {
            display: block;
            width: 80px;
            padding: 8px;
            margin: 10px;

            background-color: #6b5240;
            border: 1px solid #6b5240;
            border-radius: 5px;

            text-align: center;
            font-size: 13px;
            color: antiquewhite;
        }
        a:hover
        {
            background-color: #fff;
            color: #6b5240;
            transition-duration: 500ms;
            cursor: pointer;
        }
        span
        {
            display: block;
            width: 80px;
            padding: 8px;
            margin: 10px;

            background-color: #b5b5b5;
            border: 1px solid #535353;
            border-radius: 5px;

            text-align: center;
            font-size: 13px;
            color: rgb(66, 66, 66);

            cursor: not-allowed;
        }
    }
}
.on
{
    opacity: 1;
    pointer-events: initial;
    transition-duration: 500ms;
}

.overlay
{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    
    background-color: rgb(107, 82, 64, 0.5);
    backdrop-filter: blur(3px);

    opacity: 0;
    pointer-events: none;
    transition-duration: 500ms;
    z-index: 18;
}
.overlay-on
{
    opacity: 1;
    pointer-events: initial;
}