<h1 class="h1">User Profile ( public )</h1>

<div class="main-frame">
    <p>{{ user().userName }}</p>
    <hr class="hr-dialog">
    <p>{{ user().seasonScore }}</p>
    <p>{{ 'title.level' | translate }} {{ user().level }}</p>
    <p>{{ user().experience }} XP</p>
    <p>{{ user().league?.name }}</p>
</div>

<div class="main-frame">
    <p>Achievements ( {{ user().achievements.length }} )</p>
    <hr class="hr-dialog">
    <div *ngfor="let achievement of user().achievements" class="achievement">
        <p>{{ achievement.name }}</p>
        <p>{{ achievement.description }}</p>
        <p>{{ achievement.date | date: 'dd/MM/yyyy' }}</p>
    </div>
</div>

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-icon-to-top />
</app-bottom-bar>