<h1 class="h1">{{ 'title.my-account' | translate }}</h1>
<div class="row-white">
    <div class="buttons">
        <app-button-back></app-button-back>
    </div>
</div>
<p class="p">{{ 'message.my-account' | translate }}</p>
<div class="my-account">
    @if(userService.appUser.role !== 1 && userService.appUser.role !== 2) {
        <div class="option">
            <img [src]="getImageURL('icons-my-account', 'user', 'png')" (click)="goTo('/users/user-details')" />
            <h2 class="h2">{{ 'title.account-settings' | translate }}</h2>
            <p>{{ 'message.account-closed' | translate }}</p>
        </div>
    }
    @if(isConnected() && userService.appUser.role === 1 || userService.appUser.role === 2) {
        <div class="option">
            <img [src]="getImageURL('icons-my-account', 'user', 'png')" (click)="goTo('/users/user-details')" />
            <h2 class="h2">{{ 'title.account-settings' | translate }}</h2>
            <p>{{ 'message.account-settings' | translate }}</p>
            <p><a (click)="goTo('/users/user-details')">{{ 'title.account-settings' | translate }} → </a></p>
        </div>
    }
    <div class="option">
        <img [src]="getImageURL('icons-my-account', 'settings', 'png')" (click)="goTo('/settings')" />
        <h2 class="h2">{{ 'title.settings' | translate }}</h2>
        <p>{{ 'message.settings-long' | translate }}</p>
        <p><a (click)="goTo('/settings')">{{ 'title.settings' | translate }} → </a></p>
    </div>
</div>