<svg 
  [attr.width]="size" 
  [attr.height]="size" 
  viewBox="0 0 195.86354 103.96768" 
  xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(-1.983822,-898.39454)">
    <!-- Staff lines -->
    <path
       d="M 2.4990363,900.37836 H 197.84737"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'3.96764px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'0.266667'" />
    <path
       d="M 1.983822,925.37836 H 197.33216"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'3.96764px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'0.266667'" />
    <path
       d="M 1.983822,950.37836 H 197.33216"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'3.96764px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'0.266667'" />
    <path
       d="M 1.983822,975.37836 H 197.33216"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'3.96764px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'0.266667'" />
    <path
       d="M 1.983822,1000.3784 H 197.33216"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'3.96764px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'0.266667'" />
    <!-- Stem -->
    <path
       d="m 113.13433,900.47269 v 83.14019"
       [style.fill]="'none'"
       [style.stroke]="staffColor"
       [style.stroke-width]="'1.95334px'"
       [style.stroke-linecap]="'butt'"
       [style.stroke-linejoin]="'miter'"
       [style.stroke-opacity]="'1'" />
    <!-- Note head -->
    <path
       d="m 153.03812,108.7706 a 11.237947,7.3223042 0 1 1 -0.33175,-1.76601"
       transform="matrix(1.2477873,-0.63522684,0.59622185,1.3694102,-142.33379,929.29558)"
       [style.fill-opacity]="'1'"
       [style.stroke]="'none'"
       [style.stroke-width]="'0'"
       [style.stroke-miterlimit]="'4'"
       [style.stroke-dasharray]="'none'"
       [style.stroke-opacity]="'0.266667'"
       [style.fill]="getNoteColor()"/>
  </g>
</svg>