<div class="log-in">
    <div class="left">
        <div class="close-button" routerLink="/home" [class]="closeButtonIsOn ? 'on' : 'off'">
            <app-icon-plus class="icon" size="25px" direction="diagonal" />
        </div>

        <div class="languages" (click)="languageMenuToggle()" [class.active]="isLanguageMenuON">
            <img [src]="getImageURL(false, 'icons-flags', currentLanguage(), 'png')" />
            <span>{{ currentLanguage() === 'fr' ? 'Français' : 'English' }}</span>
        </div>

        <app-language-menu-home [isMenuOn]="isLanguageMenuON" (menuToggle)="languageMenuToggle()" />

        <div class="login-form">
            <img class="logo" [src]="getImageURL(true, 'images-logo', 'logo-3', 'png')" />
            <div class="menu">
                <a routerLink="/sign-up" routerLinkActive="active">{{ 'title.sign-up' | translate }}</a>
                <a routerLink="/log-in" routerLinkActive="active">{{ 'title.log-in' | translate }}</a>
            </div>

            <form [formGroup]="formGroup" autocomplete="off">
                <div>
                    <input type="email" formControlName="email" placeholder="example@domain.com" autocomplete="email" />
                    <div *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.errors">
                        <p class="error" *ngIf="formGroup.get('email')?.errors?.['required']">Email is required.</p>
                        <p class="error" *ngIf="formGroup.get('email')?.errors?.['maxLength']">Email must not exceed 254 characters.</p>
                    </div>
                </div>
                <div>
                    <input type="password" formControlName="pass" placeholder="Min. 8 characters"
                        autocomplete="new-password" />
                    <div *ngIf="formGroup.get('pass')?.touched && formGroup.get('pass')?.errors">
                        <p class="error" *ngIf="formGroup.get('pass')?.errors?.['required']">A password is required.</p>
                        <p class="error" *ngIf="formGroup.get('pass')?.errors?.['minlength']">The password must be at least 8 characters long.</p>
                    </div>
                </div>
                <div>
                    <input type="password" formControlName="confirmPass" placeholder="Confirm Password"
                        autocomplete="new-password" />
                    <div *ngIf="formGroup.touched && formGroup.hasError('passwordMismatch')">
                        <p class="error">Passwords must match.</p>
                    </div>
                </div>

                <hr>

                <ng-container *ngIf="useV2">
                    <div class="captcha-wrapper">
                        <re-captcha [siteKey]="recaptchaSiteKeyV2" (resolved)="onV2Resolved($event)"></re-captcha>
                        <div *ngIf="v2Error" class="error">Veuillez prouver que vous n’êtes pas un robot.</div>
                    </div>
                    <hr>
                </ng-container>

                <ng-container *ngIf="!useV2">
                    <div class="buttons">
                        <div class="button button-disabled" *ngIf="formGroup.invalid">{{ 'title.sign-up' | translate }}</div>
                        <div class="button" (click)="onSubmit()" *ngIf="formGroup.valid">{{ 'title.sign-up' | translate }}</div>
                    </div>
                </ng-container>
            </form>

            <div class="message">
                <p>{{ 'message.log-in' | translate }} <span routerLink="/log-in"> {{ 'title.login' | translate }}.</span></p>
            </div>
        </div>
    </div>

    <div class="right">
        @if(moodsFlow()?.mood?.type === 1) {
        <img *ngIf="moodsFlow()?.mood?.height === moodsFlow()?.mood?.width" class="mood-square"
            src="{{environment}}/Content/img_thumbs/{{moodsFlow()?.mood?.businessId}}.{{moodsFlow()?.mood?.extension}}" />
        <img *ngIf="moodsFlow()?.mood?.height > moodsFlow()?.mood?.width" class="mood-portrait"
            src="{{environment}}/Content/img_thumbs/{{moodsFlow()?.mood?.businessId}}.{{moodsFlow()?.mood?.extension}}" />
        <img *ngIf="moodsFlow()?.mood?.height < moodsFlow()?.mood?.width" class="mood-landscape"
            src="{{environment}}/Content/img_thumbs/{{moodsFlow()?.mood?.businessId}}.{{moodsFlow()?.mood?.extension}}" />
        }
        @if(moodsFlow()?.mood?.type !== 1) {
        <img class="mood-square" src="../../../assets/chord-wheel.png" />
        }
    </div>
</div>