.list {
    margin: 15px;
    padding: 15px;

    background-color: var(--colorWhiteOpacity5);
    border: 1px solid var(--colorMain);
    border-radius: 5px;
    box-shadow: 0 3px 6px 0px var(--colorMainOpacity2);

    a {
        display: block;

        margin: 8px;
        padding: 8px;

        background-color: var(--colorWhiteOpacity8);
        border: 1px solid #ffffff00;
        border-radius: 5px;

        color: var(--colorMain);
        text-decoration: none;
        font-size: 13px;
        line-height: 20px;

        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;

        z-index: 0;
        transition-duration: 500ms;
    }

    a:hover:not(.active) {
        background-color: var(--colorMainOpacity5);
        border: 1px solid var(--colorMain);
        color: var(--colorWhite);        
        cursor: pointer;
    }

    .active {
        background-color: var(--colorMain);
        border: 1px solid var(--colorMain);
        color: var(--colorWhite);
    }
}