<div class="scripts">
    <h1>Les Métriques ( 2 )</h1>
    <div class="article_box primary">
        <p><u>À la fin de ce script</u>, vous serez capable de :</p>
        <p> - Comprendre une <b>Métrique</b>.</p>
        <p> - Placer des notes sur une <b>pulsation</b> structurée en différentres <b>mesures</b>,</p>
        <p>à l'aide des valeurs de temps de premier niveau.</p>
    </div>
    <div class="article_box">
        <p><u>Comme je vous le disais</u> :</p>
        <p> - Nous allons organiser des sons <b>ET</b> des silences !</p>
        <p>Pour cela, nous allons attribuer à ces sons et silences des valeurs de durée.</p>
        <p>Celles-ci seront évidemment basée sur une pulsation de référence, disons : <b>100 BPM</b> :</p>
    </div>
    <div class="article_box">
        <p> - <b>Les valeurs de temps</b> attribuées <u>aux sons</u> (notes) :</p>
    </div>
    <table>
        <tr>
            <td class="width">1/4 de Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Double Croche</td>
        </tr>
        <tr>
            <td class="width">1/2 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Croche</td>
        </tr>
        <tr>
            <td class="width">1 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Noire</td>
        </tr>
        <tr>
            <td class="width">2 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Blanche</td>
        </tr>
        <tr>
            <td class="width">4 Battements (et +)</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Ronde</td>
        </tr>
    </table>
    <div class="article_box">
        <p> - <b>Les valeurs de temps</b> équivalentes attribuées <u>aux silences</u> :</p>
    </div>
    <table>
        <tr>
            <td class="width">1/4 de Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Quart de Soupir</td>
        </tr>
        <tr>
            <td class="width">1/2 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Demi Soupir</td>
        </tr>
        <tr>
            <td class="width">1 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Soupir</td>
        </tr>
        <tr>
            <td class="width">2 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Demi Pause</td>
        </tr>
        <tr>
            <td class="width">4 Battements (et +)</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Pause</td>
        </tr>
    </table>
    <div class="article_box primary">
        <p>Ce qu'on peut faire, c'est commencer par fractionner notre pulsation</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/timeline_basic.png" />
    </div>
    <div class="article_box">
        <p>Ce qu'on peut faire, c'est commencer par fractionner notre pulsation</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/timeline_basic_2.png" />
    </div>
</div>