<div class="main-frame">
    <p class="frame-title">{{ flow()?.mood?.name }}</p>
    <hr class="dialog-hr">
    <div class="thumbnail">
        @if(flow()?.mood.type == 1) {
            <img src="{{environment}}/Content/img_thumbs/{{flow()?.mood.businessId}}.{{flow()?.mood.extension}}" (click)="goToCurrentMood()" />
            }
            @if(flow()?.mood.type == 2) {
            <img src="{{environment}}/Content/video_thumbs/{{flow()?.mood.businessId}}.jpg" (click)="goToCurrentMood()" />
            }
            @if(flow()?.mood.type == 3) {
            <img src="{{environment}}/Content/txt_thumbs/{{flow()?.mood.businessId}}.jpg" (click)="goToCurrentMood()" />
            }
            @if(flow()?.mood.type == 4) {
            <img src="{{environment}}/Content/youtube_thumbs/{{flow()?.mood.businessId}}.jpg" (click)="goToCurrentMood()" />
            }
    </div>
    <p class="p">{{ flow()?.mood?.description }}</p>
</div>

<app-spacer height="15px" />

<div class="main-frame">
    <div class="related-tags">
        @for (tag of flow()?.mood.tags; track $index) {
            <p class="tag" (click)="goToCurrentTag(tag.businessId)">{{ tag.name }}</p>
        }
    </div>
</div>