.status {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .thumbnail {
        display: flex;
        justify-content: center;

        margin: 15px;

        img {
            height: 400px;
            border: 3px solid var(--colorMain);
            border-radius: 10px;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
            opacity: 0.8;
        }

        img:hover {
            cursor: pointer;
            opacity: 1;
            transition-duration: 300ms;
        }

        @media(max-width: 550px) {
            img {
                width: 95%;
                height: auto;
            }
        }
    }

    .mood-informations {
        min-width: 200px;

        p {
            color: var(--colorMain);
            font-size: 13px;
            text-indent: 25px;
        }
    }
}

.related-tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .tag {
        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMainOpacity2);
        border-radius: 10px;

        font-size: 14px;
        color: var(--colorMain);

        padding: 10px;
        margin: 3px;

        cursor: pointer;
    }

    .tag:hover {
        background-color: var(--colorWhite);
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
        border: 3px solid var(--colorMain);
        transition-duration: 300ms;
    }
}

.hub-message {
    font-size: 15px;
    color: var(--colorMain);

    a {
        text-decoration: none;
        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMainOpacity2);
        border-radius: 10px;

        font-size: 14px;
        color: var(--colorMain);

        padding: 10px;
        margin: 3px;

        cursor: pointer;
    }

    a:hover {
        background-color: var(--colorWhite);
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
        border: 3px solid var(--colorMain);
        transition-duration: 300ms;
    }

    span {
        text-decoration: none;
        background-color: rgb(224, 224, 224);
        border: 3px solid rgba(128, 128, 128, 0.2);
        border-radius: 10px;

        font-size: 14px;
        color: var(--colorMain);

        padding: 10px;
        margin: 3px;

        cursor: pointer;
    }

    span:hover {
        cursor: not-allowed;
    }
}