.current-mood {
    padding: 25px;

    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

    p {
        margin: 0;    
        text-align: center;
        color: var(--colorMain);
        font-size: 17px;
    }

    .thumbnail {
        display: flex;
        justify-content: center;

        margin: 15px;

        img {
            height: 400px;
            border: 3px solid var(--colorMain);
            border-radius: 15px;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
            opacity: 0.8;
        }
    
        img:hover {
            cursor: pointer;
            opacity: 1;
            transition-duration: 300ms;
        }
    
        @media(max-width: 550px) {
            img {
                width: 95%;
                height: auto;
            }
        }
    }
}

.current-tags {
    margin-top: 15px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    padding: 25px;

    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

    p {
        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMainOpacity2);
        border-radius: 10px;
        
        font-size: 14px;
        color: var(--colorMain);

        padding: 10px;
        margin: 3px;

        cursor: pointer;
    }

    p:hover {
        background-color: var(--colorWhite);
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
        border: 3px solid var(--colorMain);
        transition-duration: 300ms;
    }
}