<app-menu-hidden [isMenuON]="menuCustom.menuCustomOn" [userIsConnected]="authService.isConnectedSub | async" [userRole]="userService.appUser.role"
    (menuTriggerEmitter)="menuTrigger()" (menuTriggerCustomEmitter)="menuCustom.triggerMenuCustom()" />

<app-overlay [isOverlayOn]="overlayTrigger" [isMenuOn]="menuCustom.menuCustomOn" (emitter)="menuTrigger()" />

<app-header [isMenuON]="menuCustom.menuCustomOn" [userIsConnected]="authService.isConnectedSub | async" 
    (menuTriggerEmitter)="menuCustom.triggerMenuCustom()" (loginTriggerEmitter)="loginTriggerMethod()" (logoutTriggerEmitter)="logout()" />

<div class="page-layout">
    <main>
        <router-outlet />
    </main>
    <app-footer />
</div>

<app-dialog *ngIf="loginTrigger" (dialog)="loginTriggerMethod()">
    <h3 class="dialog-h3">{{ 'title.login' | translate }}</h3>
    <hr class="dialog-hr">
    <form [formGroup]="formGroup">
        <div>
            <input type="email" id="in_email" formControlName="email" placeholder="example@domain.com">
            <div *ngIf="formGroup.get('email')?.touched && formGroup.get('email')?.errors">
                <p class="error" *ngIf="formGroup.get('email')?.errors?.['required']">
                Email is required.
                </p>
                <p class="error" *ngIf="formGroup.get('email')?.errors?.['email']">
                Please enter a valid email address.
                </p>
                <p class="error" *ngIf="formGroup.get('email')?.errors?.['maxLength']">
                The email must not exceed 384 characters.
                </p>
            </div>
        </div>
        <div>
            <input type="password" id="in_password" formControlName="password" placeholder="●●●●●●●●">
            <div *ngIf="formGroup.get('password')?.touched && formGroup.get('password')?.errors">
                <p class="error" *ngIf="formGroup.get('password')?.errors?.['required']">
                A password is required.
                </p>
                <p class="error" *ngIf="formGroup.get('password')?.errors?.['minLength']">
                The password must be at least 8 characters long.
                </p>
            </div>
        </div>
    </form> 
    <hr class="dialog-hr">
    <div class="buttons">
        <div class="button button-disabled" *ngIf="formGroup.invalid">{{ 'title.sign-in' | translate }}</div>
        <div class="button" (click)="onLogin()" *ngIf="formGroup.valid">{{ 'title.sign-in' | translate }}</div>
    </div>  
</app-dialog>