<div class="scripts">
    <h1>La Pulsation</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La métaphore qui, je pense, fonctionne le mieux pour décrire ce qu'est une pulsation :</p>
        <p>C'est celle des battements de coeur !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Réguliers la plupart du temps, mais...</p>
        <p> - Accélérant la cadence pendant et après un effort physique...</p>
        <p> - Ralentissant, lorsque nous sommes calme ou au repos.</p>
        <p>La pulsation se veut stable mais peut évoluer, parfois de manière douce et progressive, parfois brutale !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box primary">
        <p><u>La pulsation de référence</u> en musique est :</p>
        <p><b>120 BPM</b> : 120 Battements Par Minute</p>
        <p>Elle se mesure avec un <b>métronome</b> | <u>Exemple</u> : <a target="_blank" href="https://www.google.com/search?q=metronome">Métronome Google</a></p>
        <p>Pour faire référence à la pulsation, on peut aussi parler de <b>Tempo.</b></p>
    </div>
    <div class="article_box">
        <p><u>Quelques chiffres</u> :</p>
        <p><b>30 BPM</b> = 2 seconde entre chaque battement.</p>
        <p><b>60 BPM</b> = 1 seconde entre chaque battement.</p>
        <p><u><b>120 BPM</b> = 1/2 seconde entre chaque battement.</u></p>
        <p><b>240 BPM</b> = 1/4 seconde entre chaque battement.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La Musique est un art qui évolue dans le temps !</p>
        <p>Il s'agit (dans l'essence de la discipline) d'organiser :</p>
        <p> - Des sons, d'une part...</p>
        <p> - Des silences, d'autre part !</p>
        <p>Ceci, afin d'atténuer ou renforcer la valeur, le ressenti de chaque son.</p>
    </div>
    <div class="article_box primary">
        <p><u>La pulsation</u> :</p>
        <p>C'est donc, une ligne du temps...</p>
        <p>Structure temporelle sur laquelle on va venir greffer et espacer nos différents sons.</p>
        <p>Évidemment, c'est une construction virtuelle, un pur produit de l'esprit.</p>
        <p>L'idée, c'est qu'on ne l'entende pas vraiment, mais plutôt qu'on la devine, qu'on la sente !</p>
        <p>Et on va d'ailleurs, bien souvent,</p>
        <p>marquer inconsciemment cette pulsation, avec :</p>
        <p>la tête, le pied, la main, les doigts, en dansant, que sais-je...</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/timeline_basic.png" />
    </div>
    <div class="article_box">
        <p>On peut voir la pulsation comme une contrainte, ou composer méticuleusement dessus.</p>
        <p>Comme d'habitude, tous les cas de figures sont à envisager.</p>
    </div>
    <div class="article_box">
        <p>Mais avant d'apprendre à l'ignorer... </p>
        <p>Ne serait-il pas judicieux d'apprendre à l'utiliser ?</p>
    </div>
</div>