<div class="edition" *ngIf="flow() as flow">
    <div class="edition-selection">
        @if(flow.medium?.name){
            <p><b>{{flow.medium?.name}}</b></p>
        }
        @else {
            <p>Select a medium.</p>
        }  
        <div class="edition-buttons">
            <img [class.active]="showList" src="../../../assets/app_icons/icon_scripts_001.png" (click)="triggerShowList()" />
            <img [class.active]="showNewCategory" src="../../../assets/app_icons/new.png" (click)="triggerShowNewCategory()" />
            @if(flow.medium?.name){
                <img [class.active]="showEditCategory" src="../../../assets/app_icons/edit.png" (click)="triggerShowEditCategory()" />
            }
        </div>
    </div>

    <div class="edition-selection">
        @if(flow.franchise){
            <p><b>{{flow.franchise.name}}</b></p>
        }
        @else {
            <p>Please, select a franchise from the list.</p>
        }
        <div class="edition-buttons">
            <img [class.active]="showNew" src="../../../assets/app_icons/new.png" (click)="triggerShowNew()" />
            @if(flow.franchise){
                <img [class.active]="showEdit" src="../../../assets/app_icons/edit.png" (click)="triggerShowEdit()" />
                <img src="../../../assets/app_icons/arrow_up.png" (click)="go()" />
            }
        </div>
    </div>

    @if (showList) {
        <div class="filter">
            <input type="text" [(ngModel)]="searchFranchises" placeholder="Filter franchises ...">
        </div>
        
        <div class="edition-list">
            <div *ngFor="let franchise of filterFranchises() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: paginationService.editFranchisesCurrentPage}">
                <a [class.active]="franchise.name === flow.franchise?.name" (click)="setFranchise(franchise)"> ▸ {{franchise.name}}</a>
            </div>
        </div>

        <app-right-column>
            <app-right-column-list [table]="flow.media" [currentEntityId]="flow.medium?.businessId" (entityId)="updateMediaId($event)" />
        </app-right-column>
        
        <div class="pagination-row" *ngIf="flow.franchisesByMedium.length > elementsPerPage">
            <div id="pagination">
              <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.editFranchisesCurrentPage = $event"></pagination-controls>
            </div>   
        </div>
    }
    @if (showNew) {
        <app-create-franchise [media]="flow.media" (trigger)="triggerShowList()" />
    }
    @if (showNewCategory) {
        <app-create-medium (trigger)="triggerShowList()" />
    }
    @if (showEdit) {
        <app-edit-franchise [franchise]="flow.franchise" (trigger)="triggerShowList()"/>
    }
    @if (showEditCategory) {
        <app-edit-medium [medium]="flow.medium" (trigger)="triggerShowList()"/>
    }
    
    <app-bottom-bar moodsGalleryType="list-edition" [moodsLength]="flow.franchisesByMedium.length" />
</div>