<app-button-top />
<div class="scripts">
    <h1>Nommer les Notes</h1>
    <div class="article_box">
        <p>En observant le clavier, au premier coup d'oeil :</p>
        <p>On constate une séquence qui se répète sur les touches noires : groupe de 2, puis groupe de 3, ...</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/seq_clavier.png" />
    </div>
    <div class="article_box">
        <p> - La touche noire, isolée à gauche, étant bien la dernière d'un groupe de 3.</p>
        <p> - En théorie, on peut ainsi continuer le clavier à l'infini, tant vers la gauche que vers la droite.</p>
    </div>
    <div class="article_box primary">
        <p><b>Étape n°1</b> : Trouver le " <b>Do</b> "</p>
        <p> - Sélectionner un groupe de 2 touches noires.</p>
        <p> - La touche blanche située directement à leur gauche sera toujours un <b>Do</b> !</p>
    </div>
    <div class="article_box">
        <p><u>Comment différencier un <b>Do</b> d'un autre ?</u></p>
        <p>Simplement, à l'aide d'une numération : En partant de la gauche : <b>Do 1</b>, <b>Do 2</b>, <b>Do 3</b>, etc.</p>
        <p>Pareil pour toutes les autres notes.</p>
        <p>(Il existe d'autres conventions de numération dont nous parlerons plus tard).</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/seq_clavier_do.png" />
    </div>
    <div class="article_box primary">
        <p><b>Étape n°2</b> : Nommer les autres touches blanches :</p>
        <p>Dans l'ordre, à la suite du <b>Do</b>... <b>Ré</b>, <b>Mi</b>, <b>Fa</b>, <b>Sol</b>, <b>La</b>, <b>Si</b> ...</p>
        <p>... Et on, recommence ...</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/seq_clavier_notes.png" />
    </div>
    <div class="article_box primary">
        <p><b>Étape n°3</b> : Nommer les touches noires :</p>
        <p>Partant d'une touche blanche, on ajoute un suffixe au nom de la note :</p>
        <ul>
            <li>lorsqu'on monte (droite) vers une touche noire : <b>Dièse</b> (<b>#</b>)</li>
            <li>lorsqu'on descend (gauche) vers une touche noire : <b>Bémol</b> (<b>b</b>)</li>
        </ul>
        <p>Et donc, oui ! Une touche noire peut avoir deux noms différents.</p>
        <p>Dépendant du contexte de la tonalité (que nous aborderons plus tard également).</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/seq_clavier_notes_alt.png" />
    </div>
    <div class="article_box">
        <p>Voilà, suivant cette logique, vous êtes maintenant capable de nommer toutes les touches d'un clavier !</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/seq_clavier_notes_full.png" />
    </div>
</div>
<div class="bottom-box"></div>