<div class="main-frame">
    <div class="frame-title">Notes</div>
    <hr class="dialog-hr" />
    <p> Liste de Testeurs Potentiels :</p>
    <p> - Hadrien</p>
    <p> - Robin</p>
    <p> - Ali ( Maybe )</p>
    <p> - Brice</p>
</div>
<div class="main-frame">
    <div class="frame-title">Conceptual Ideas</div>
    <hr class="dialog-hr" />
    <p> - Users peuvent poster leurs audio et vidéo pour demander une review !</p>
    <p> - Gestion du Social ( amis, messages, ... )</p>
    <p> - Rencontre pour les musiciens !</p>
</div>
<div class="main-frame">
    <div class="frame-title">Refactoring</div>
    <hr class="dialog-hr" />
    <p> - Translation Service => i18n Localization</p>
</div>
<div class="main-frame">
    <div class="frame-title">Achievement</div>
    <hr class="dialog-hr" />
    <p> - Explorer ( 5 connexionx dans la même semaine )</p>
</div>