<div *ngIf="flow() as flow">
    <div id="layout-central">
        <h1>{{ flow.medium?.name }}</h1>
        <div class="franchises">
            <div *ngFor="let franchise of flow.franchisesByMedium">
                <a routerLink="/moods"
                    (click)="updateFranchiseId(franchise.businessId)">{{franchise.name }}
                </a>
            </div>
        </div>
    </div>

    <app-bottom-bar [entityName]="flow?.medium?.name" [moodsLength]="flow.franchisesByMedium.length"/>
</div>