<app-button-top />
<div class="scripts">
    <h1>Point de Vue</h1> 
    <div class="article_box">
        <p>La musique, c'est <u>culturel</u> !</p>
        <hr>
        <p>Cela veut dire qu'on la pense, qu'on l'écrit et qu'on la pratique différemment selon le groupe social auquel nous appartenons.</p>
        <p>On peut le constater facilement en voyant les différences flagrantes qui existent entre les musiques traditionelles des différents continents et pays.</p>
        <p>Et même, au sein d'un même pays, il existe de multiples traditions régionales.</p>
        <hr>
        <p>Aujourd'hui, depuis internet, toutes ces traditions deviennent accessibles à tous.</p>
        <p>Et il est de moins en moins rare de voir des groupes sociaux issus d'une même culture se réunir autour d'une tradition particulière.</p>
        <hr>
        <p>Tout ça pour dire que nous sommes tous, indépendament de notre volonté, imprégnés de règles et de codes musicaux qui dépendent de notre parcours de vie.</p>
        <p>C'est une suite logique, les anciennes générations inspirant les nouvelles.</p>
        <hr>
        <p>Je vais donc aborder le sujet à travers mon point de vue qui reste subjectif.</p>
        <p>Tout en essayant de prendre un maximum de recul sur les différentes perspectives musicales.</p>
        <p>L'idée étant de comprendre comment fonctionne la musique dans son essence, mais également de creuser les différents codes de genres.</p>
    </div>
    <div class="article_box primary">
        <p>Comme il faut bien commencer quelque part ...</p>
        <p>Je vais aborder le sujet à travers le prisme du <b>système tonal</b>.</p>
        <p>Pour être précis : du système tonal contemporain associé à la gamme tempérée.</p>
    </div>
    <div class="article_box">
        <p>Bon, peut-être que ces termes ne vous disent pas grand chose pour le moment.</p>
        <p>Mais quelque part, tant mieux si c'est le cas...</p>
        <p>J'aurai donc le privilège de vous faire découvrir tout ça.</p>
        <p>Pour le moment, disons que c'est un système conventionnel d'organisation des fréquences.</p>
    </div>
    <div class="article_box primary">
        <p>Comme je le disais au-dessus, ce n'est par hasard que j'ai choisi cet angle d'approche.</p>
        <p>C'est tout simplement le système principal dans lequel je baigne depuis ma plus tendre enfance.</p>
        <p>Et, nous avons de la chance, car si vous lisez ces lignes, quelque part ... Vous aussi !</p>
        <p>C'est le système qui a produit la plupart des oeuvres que vous chérissez.</p>
        <p>Et à vrai dire, c'est le système qui domine largement toute la sphère musicale mondiale actuelle.</p>
    </div>
    <div class="article_box">
        <p>Bien qu'il existe d'autres systèmes dont nous parlerons aussi.</p>
        <p>Personnellement, je trouve qu'il est bien plus facile de les aborder en venant du tonal, plutôt que l'inverse.</p>
    </div>
</div>
<div class="bottom-box"></div>