<div class="form">
  <h1>New Link</h1>
  <form [formGroup]="createFormGroup">
    <input type="text" placeholder="Name" formControlName="name" value="">
    <div *ngIf="createFormGroup.get('name')?.touched && createFormGroup.get('name')?.errors">
      <p class="error" *ngIf="createFormGroup.get('name')?.errors?.['required']">
        Name is required.
      </p>
      <p class="error" *ngIf="createFormGroup.get('name')?.errors?.['minLength']">
        Name must be at least 1 character long.
      </p>
      <p class="error" *ngIf="createFormGroup.get('name')?.errors?.['maxLength']">
        Name must not exceed 50 characters long.
      </p>
    </div>
    <input type="text" placeholder="Description" formControlName="description" value="">
    <div *ngIf="createFormGroup.get('description')?.touched && createFormGroup.get('description')?.errors">
      <p class="error" *ngIf="createFormGroup.get('description')?.errors?.['required']">
        Description is required.
      </p>
      <p class="error" *ngIf="createFormGroup.get('description')?.errors?.['minLength']">
        Description must be at least 1 character long.
      </p>
      <p class="error" *ngIf="createFormGroup.get('description')?.errors?.['maxLength']">
        Description must not exceed 50 characters long.
      </p>
    </div>
    <input type="text" placeholder="www.example.com" formControlName="url" value="">
    <div *ngIf="createFormGroup.get('url')?.touched && createFormGroup.get('url')?.errors">
      <p class="error" *ngIf="createFormGroup.get('url')?.errors?.['required']">
        URL is required.
      </p>
      <p class="error" *ngIf="createFormGroup.get('url')?.errors?.['minLength']">
        URL must be at least 1 character long.
      </p>
      <p class="error" *ngIf="createFormGroup.get('url')?.errors?.['maxLength']">
        URL must not exceed 50 characters long.
      </p>
    </div>
    <div class="buttons">
      <a *ngIf="createFormGroup.valid">Submit</a>
      <span *ngIf="!createFormGroup.valid">Submit</span>
    </div>
</form>