<div class="trainer-buttons"><a (click)="reset()">RESET</a></div>

<h1 *ngIf="gameStart === false">Select your Clef</h1>
<h1 *ngIf="gameStart === true">Score : {{ score | number : '3.0' }} | Timer : {{ timer | number : '2.0'}}</h1>

<div class="trainer-buttons" *ngIf="gameStart === false">
    <a [class.active]="clefTreble" (click)="clefTrebleTrigger()">Treble Clef</a>
    <a [class.active]="clefBass" (click)="clefBassTrigger()">Bass Clef</a>
    <a [class.active]="clefAlto" (click)="clefAltoTrigger()">Alto Clef</a>
</div>

<div class="trainer">
    <div class="trainer-container" *ngIf="gameEnd === false">
        <img src="../../../../assets/app_tools/trainer-notes-back.png" />
        <img *ngIf="gameStart && randomNote.alteration === true" 
        src="../../../../assets/app_tools/sharp.png" 
        [ngClass]="'row' + randomNote.row" />
        <img *ngIf="gameStart && randomNote.extension === true" 
        src="../../../../assets/app_tools/extension.png" 
        [ngClass]="'row' + randomNote.row" />
        <img *ngIf="gameStart" 
        src="../../../../assets/app_tools/note.png" 
        [ngClass]="'row' + randomNote.row" />
        <!-- <img src="../../../../assets/app_tools/note-cs.png" *ngIf="randomNote === 'C#'"/>
        <img src="../../../../assets/app_tools/note-d.png" *ngIf="randomNote === 'D'"/>
        <img src="../../../../assets/app_tools/note-ds.png" *ngIf="randomNote === 'D#'"/>
        <img src="../../../../assets/app_tools/note-e.png" *ngIf="randomNote === 'E'"/>
        <img src="../../../../assets/app_tools/note-f.png" *ngIf="randomNote === 'F'"/>
        <img src="../../../../assets/app_tools/note-fs.png" *ngIf="randomNote === 'F#'"/>
        <img src="../../../../assets/app_tools/note-g.png" *ngIf="randomNote === 'G'"/>
        <img src="../../../../assets/app_tools/note-gs.png" *ngIf="randomNote === 'G#'"/>
        <img src="../../../../assets/app_tools/note-a.png" *ngIf="randomNote === 'A'"/>
        <img src="../../../../assets/app_tools/note-as.png" *ngIf="randomNote === 'A#'"/>
        <img src="../../../../assets/app_tools/note-b.png" *ngIf="randomNote === 'B'"/> -->
        <img src="../../../../assets/app_tools/clef-treble.png" *ngIf="clefTreble === true"/>
        <img src="../../../../assets/app_tools/clef-bass.png" *ngIf="clefBass === true"/>
        <img src="../../../../assets/app_tools/clef-alto.png" *ngIf="clefAlto === true"/>
    </div>
    <div class="trainer-container" *ngIf="gameEnd === true && score > 0">
        <img src="../../../../assets/app_tools/winner.gif" />
    </div>
    <div class="trainer-container" *ngIf="gameEnd === true && score <= 0">
        <img src="../../../../assets/app_tools/game-over.png" />
    </div>
</div>
<p>{{ message }}</p>
<h1 *ngIf="gameEnd === true">Total Run : {{run | number : '2.0'}} seconds</h1>

<div class="trainer-buttons" *ngIf="gameStart === false">
    <a (click)="start()">START</a>
</div>

<div class="notes" *ngIf="gameStart === true && gameEnd === false">
    <div *ngFor="let note of notes">
        <a (click)="updateUserNote(note)">{{note.name}}</a>
    </div>
</div>