<div class="main-frame">
    <p> ▸ Votre <b>niveau</b> est directement correlé à vos points d'expérience.</p>
</div>

<div class="main-frame">
    <p> ▸ Les <b>points d'expérience</b> ( XP ) reflètent votre progression générale.</p>

    <hr class="dialog-hr" />

    <p><u>Ils sont attribués pour les actions suivantes :</u></p>
    <p> - Obtention de certains succès</p>
    <p> - Promotion à la ligue supérieure</p>
</div>

<div class="main-frame">
    <div class="levels">
        <div class="row-label">
            <div class="level label">{{ 'title.level' | translate }}</div>
            <div class="treshold label">{{ 'title.level-treshold' | translate }}</div>
        </div>
        <div class="row">
            <div class="level">1</div>
            <div class="treshold"><b> - </b></div>
        </div>
        <div class="row">
            <div class="level">2</div>
            <div class="treshold">282 XP</div>
        </div>
        <div class="row">
            <div class="level">3</div>
            <div class="treshold">519 XP</div>
        </div>
        <div class="row">
            <div class="level">4</div>
            <div class="treshold">800 XP</div>
        </div>
        <div class="row">
            <div class="level">5</div>
            <div class="treshold">1118 XP</div>
        </div>
        <div class="row">
            <div class="level">6</div>
            <div class="treshold">1469 XP</div>
        </div>
        <div class="row">
            <div class="level">7</div>
            <div class="treshold">1851 XP</div>
        </div>
        <div class="row">
            <div class="level">8</div>
            <div class="treshold">2262 XP</div>
        </div>
        <div class="row">
            <div class="level">9</div>
            <div class="treshold">2699 XP</div>
        </div>
        <div class="row">
            <div class="level">10</div>
            <div class="treshold">3161 XP</div>
        </div>
        <div class="row">
            <div class="level">11</div>
            <div class="treshold">3647 XP</div>
        </div>
        <div class="row">
            <div class="level">12</div>
            <div class="treshold">4156 XP</div>
        </div>
        <div class="row">
            <div class="level">13</div>
            <div class="treshold">4686 XP</div>
        </div>
        <div class="row">
            <div class="level">14</div>
            <div class="treshold">5237 XP</div>
        </div>
        <div class="row">
            <div class="level">
                <p>15 <span class="label"> ( Max ) </span></p>
            </div>
            <div class="treshold">5808 XP</div>
        </div>
    </div>
</div>

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-icon-to-top />
</app-bottom-bar>