<!-- Menu Left Mobile -->

<div id="menu_left_mobile" 
    [ngClass]="menuMobileService.menuLActive == true ? 'menu_out_left_mobile' : 'menu_hidden_left_mobile'" 
    [ngStyle]="{'top': menuScrollService.topPosition + 'px'}">

    <div id="menu_content_common">

        <!-- Logo -->

        <img (click)="menuMobileService.allMenuTriggerOff()" src="../../../../assets/app_logos/fp_logo_02.png" />

        <!-- Menu Content -->

        <ng-content select=".content_left_mobile"></ng-content>
    </div>
</div>

<!-- Overlay -->

<div (click)="menuMobileService.allMenuTriggerOff()" *ngIf="menuMobileService.menuLActive" id="overlay"></div>