<div class="scripts">
    <h1>Tons et Demi-Tons</h1>
    <div class="article_box">
        <p>Maintenant que nous avons nommé les touches de notre clavier.</p>
        <p>Nous allons pouvoir parler de la distance qui les sépare.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La plus petite distance qui sépare deux touches conjointes ( blanches ou noires ) se nomme :</p>
        <p>Un <b>Demi-Ton</b> !</p>
        <p>Le Demi-Ton va ainsi devenir notre unité de mesure.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Si on compte le nombre de Demi-Tons entre deux notes à l'octave ...</p>
        <p>Nous arrivons à un total de 12 Demi-Tons.</p>
        <p>( ou 6 Tons pour les cracks en mathématiques xD ).</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Nous allons pouvoir calculer ainsi n'importe quelle distance entre deux notes.</p>
        <p>Ce concept de mesurer les écarts est une clé essentielle à la bonne compréhension de ce qui va suivre.</p>
    </div>
</div>