<div class="scripts">
    <h1>Tons et Demi-Tons</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La plus petite distance entre deux touches est celle qui sépare deux touches conjointes.</p>
        <p>Qu'elles soient blanches ou noires.</p>
        <p>Cette distance se nomme : Un <b>demi-ton</b> (1/2 ton).</p>
        <p>Le demi-ton va ainsi devenir notre unité de mesure pour mesurer les distances entre les notes.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Si on compte le nombre de demi-tons entre deux touches distantes d'une octave</p>
        <p>(par exemple, de Do3 à Do4), nous arrivons à un total de 12 demi-tons.</p>
        <p>(ou 6 tons pour les cracks en mathématiques xD).</p>
    </div>
    <div class="article_box primary">
        <p>Sur un clavier tempéré (le standard actuel), tous les demi-tons sont STRICTEMENT identiques.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Ce concept de mesurer les distances entre les notes est ESSENTIEL pour comprendre ce qui va suivre !</p>
    </div>
</div>