<app-button-top />
<div class="scripts">
    <h1>La Référence Clavier</h1>
    <div class="article_box">
        <p>Pour illustrer les différents concepts théoriques,</p>
        <p>je vais principalement me référer à un clavier de piano standard ( 88 touches ).</p>
    </div>
    <div class="image_single">
        <img src="/assets/app_scripts/ref_clavier_piano_standard.png" />
    </div>
    <div class="article_box">
        <p><b>Pourquoi ?</b></p>
        <p>Le clavier de piano offre de nombreux avantages :</p>
        <ul>
            <li>Les notes sont positionnées dans l'ordre et en unique exemplaire.</li>
            <li>Les notes naturelles sont colorées en blanc et les notes altérées en noir.</li>
            <li>Il possède une tessiture très large (couvrant tous les instruments de l'orchestre).</li>
        </ul>
    </div>
    <div class="image_single last">
        <img src="/assets/app_scripts/ref_clavier_tessitures.png" />
    </div>
    <div class="article_box primary">
        <p>Même si vous pratiquez déjà un autre instrument et/ou n'avez pas l'intention de devenir pianiste.</p>
        <p>Le fait de visualiser ces concepts sur un clavier vous permettra fort probablement d'y voir plus clair.</p>
    </div>    
    <div class="article_box">
        <ul>
            <li>De plus, le piano est très confortable à utiliser.</li>
        </ul>
        <p>Inutile de s'abîmer les doigts sur des cordes ou à apprendre une technique de souffle particulière...</p>
        <p>Ici, on pose simplement le doigt sur une touche et l'instrument produit un son relativement stable.</p>
    </div>
    <div class="article_box primary">
        <p>Pour toutes ces raisons,</p>
        <p>Le piano est l'outil de "visualisation" par excellence.</p>
        <p>Utilisé d'ailleurs dans tous les conservatoires, pour ces mêmes raisons.</p>
    </div>
</div>
<div class="bottom-box"></div>