<div class="scripts">
    <h1>Les Gammes</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Une gamme, c'est une échelle d'intervalles.</p>
        <p><u>Exemple</u> :</p>
        <p>Gamme diatonique majeure :</p>
        <p> ▸ M2, M3, P4, P5, M6, M7</p>
    </div>
    <div class="article_box primary">
        <p>On peut alors appliquer la formule à partir de n'importe quelle note.</p>
        <p><u>Exemple</u> :</p>
        <p>En partant de Do :</p>
        <p> ▸ Do Ré Mi Fa Sol La Si</p>
        <p>En partant de Ré :</p>
        <p> ▸ Ré Mi Fa# Sol La Si Do#</p>
        <p>En partant de Mi :</p>
        <p> ▸ Mi Fa# Sol# La Si Do# Ré#</p>
        <p>etc ...</p>
    </div>
    <div class="article_box">
        <p>Dans la création d'un contexte musical.</p>
        <p>Les gammes définissent les notes que vous pouvez utiliser,</p>
        <p>et par élimination, celles que vous devez éviter.</p>
        <p>Chaque note de la gamme sera le point de départ d'un accord.</p>
    </div>
    <div class="article_box primary">
        <p><u>Quelques formules</u> :</p>
        <p> - Gamme pentatonique ( 5 notes )</p>
        <p> ▸ M2, M3, P5, M6</p>
        <p> - Gamme par ton ( 6 notes )</p>
        <p> ▸ M2, M3, A4, A5, A6</p>
        <p> - Gamme diatonique majeure ( 7 notes )</p>
        <p> ▸ M2, M3, P4, P5, M6, M7</p>
        <p> - Gamme diatonique mineure ( 7 notes )</p>
        <p> ▸ M2, m3, P4, P5, m6, m7</p>
        <p> - Gamme chromatique ( 12 notes )</p>
        <p> ▸ m2, M2, m3, M3, P4, Tr, P5, m6, M6, m7, M7</p>
    </div>
</div>