<div id="layout-central">

  <div class="dash">
    <a routerLink="/moods/gallery">
        <img src="../../../../assets/app_icons/icon_moods_001.png" />
        <p>Moods</p>
    </a>
    <a routerLink="/moods/mood-details">
        <img src="../../../../assets/app_icons/icon_mood_001.png" />
        <p>Mood</p>
    </a>
    <a routerLink="/tags/gallery">
        <img src="../../../../assets/app_icons/icon_tags_001.png" />
        <p>Tags</p>
    </a>
    <a routerLink="/models/model-gallery">
        <img src="../../../../assets/app_icons/icon_model_001.png" />
        <p>Model</p>
    </a>
    <a routerLink="/franchises/franchise-gallery">
        <img src="../../../../assets/app_icons/icon_franchise_001.png" />
        <p>Franchise</p>
    </a>
    <a routerLink="/franchises/gallery">
        <img src="../../../../assets/app_icons/icon_franchises_001.png" />
        <p>Medias</p>
    </a>
    <a routerLink="/artists/artist-gallery">
        <img src="../../../../assets/app_icons/artist.png" />
        <p>Artist</p>
    </a>
    <a routerLink="/scripts">
        <img src="../../../../assets/app_icons/icon_scripts_001.png" />
        <p>Scripts</p>
    </a>
    <a routerLink="/tools">
        <img src="../../../../assets/app_icons/icon_tools_001.png" />
        <p>Tools</p>
    </a>
    <a routerLink="/links">
        <img src="../../../../assets/app_icons/icon_links_001.png" />
        <p>Links</p>
    </a> 
  </div>

  <h1>C.R.U.D.</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <a routerLink="/artists"> ▸ Artists</a>
        <span> ▸ Models</span>
        <span> ▸ Franchises</span>
        <span> ▸ Links</span>
      </div>
    </div>
  </div>
  <h1>Moods</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
      <!-- <a routerLink="/admin/moods-create-images">▸ Add Image</a>
      <a routerLink="/admin/moods-create-video">▸ Add Video</a> -->
      <span> ▸ Add Image</span>
      <span> ▸ Add Video</span>
      </div>
    </div>
  </div>
  <h1>Mood Validation</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <span> ▸ Unknown Artist</span>
        <span> ▸ Unknown Model</span>
      </div>
    </div>
  </div>
  <h1>Multi-Tag</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <span> ▸ Multi Tag</span>
      </div>
    </div>
  </div>
</div>