<div id="layout-central">
  <div class="dash">
    <a routerLink="/tags/gallery">
      <img src="../../../../assets/app_icons/icon_tags_001.png" />
      <p>Tags</p>
    </a>
    <a routerLink="/moods/gallery">
        <img src="../../../../assets/app_icons/icon_moods_001.png" />
        <p>Moods</p>
    </a>
    <a routerLink="/moods/mood-details">
        <img src="../../../../assets/app_icons/icon_mood_001.png" />
        <p>Mood</p>
    </a>
    <a routerLink="/moods/create-mood-image">
        <img src="../../../../assets/app_icons/icon_mood_001.png" />
        <p>Images</p>
    </a>
    <a routerLink="/franchises/gallery">
        <img src="../../../../assets/app_icons/icon_franchises_001.png" />
        <p>Medias</p>
    </a>
    <a routerLink="/franchises/franchise-gallery">
        <img src="../../../../assets/app_icons/icon_franchise_001.png" />
        <p>Franchise</p>
    </a>
    <a routerLink="/artists/artist-gallery">
        <img src="../../../../assets/app_icons/artist.png" />
        <p>Artist</p>
    </a>
    <a routerLink="/artists">
        <img src="../../../../assets/app_icons/artist.png" />
        <p>Artists</p>
      </a>
    <a routerLink="/models/model-gallery">
        <img src="../../../../assets/app_icons/icon_model_001.png" />
        <p>Model</p>
    </a>
    <a routerLink="/scripts">
        <img src="../../../../assets/app_icons/icon_scripts_001.png" />
        <p>Scripts</p>
    </a>
    <a routerLink="/tools">
        <img src="../../../../assets/app_icons/icon_tools_001.png" />
        <p>Tools</p>
    </a>
    <a routerLink="/links">
        <img src="../../../../assets/app_icons/icon_links_001.png" />
        <p>Links</p>
    </a> 
  </div>
</div>

<a href="https://back.flyingpad.be/hangfire">
    Hangfire Dashboard
</a>