<div id="layout-central">
  <h1>C.R.U.D.</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <a routerLink="/artists"> ▸ Artists</a>
        <span> ▸ Models</span>
        <span> ▸ Franchises</span>
        <span> ▸ Links</span>
      </div>
    </div>
  </div>
  <h1>Moods</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
      <!-- <a routerLink="/admin/moods-create-images">▸ Add Image</a>
      <a routerLink="/admin/moods-create-video">▸ Add Video</a> -->
      <span> ▸ Add Image</span>
      <span> ▸ Add Video</span>
      </div>
    </div>
  </div>
  <h1>Mood Validation</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <span> ▸ Unknown Artist</span>
        <span> ▸ Unknown Model</span>
      </div>
    </div>
  </div>
  <h1>Multi-Tag</h1>
  <div class="row-white">
    <div class="panel-crud">
      <div>
        <span> ▸ Multi Tag</span>
      </div>
    </div>
  </div>
</div>