<svg 
  [attr.width]="size" 
  [attr.height]="size" 
  viewBox="0 0 891.11969 445.55984">
  <g transform="translate(3.4146721e-6,-111.38996)">
    <g>
      <g transform="matrix(4.4555984,0,0,4.4555984,951.64154,344.56627)"
         style="display:inline; opacity:1; fill-opacity:1">
        <path id="path2855"
              d="m -113.58333,47.66667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
              [style.fill]="staffColor"
              style="opacity:0.25; stroke:none; fill-opacity:1;" />
        <path id="path2853"
              d="m -113.58333,23.666667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
              [style.fill]="staffColor"
              style="opacity:0.25; stroke:none; fill-opacity:1;" />
        <path id="path2851"
              d="m -113.58333,-0.33333304 h -100 v -1.99999996 -2 h 100 100.000003 v 2 1.99999996 z"
              [style.fill]="staffColor"
              style="opacity:0.25; stroke:none; fill-opacity:1;" />
        <path id="path2849"
              d="m -113.58333,-24.333333 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
              clip-path="none"
              [style.fill]="staffColor"
              style="opacity:0.25; stroke:none; fill-opacity:1;" />
        <g transform="translate(36,-66.5)"
           style="fill-opacity:1">
          <path id="path2847"
                d="m -149.58333,18.166667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
                [style.fill]="staffColor"
                style="opacity:0.25; stroke:none; fill-opacity:1;" />
        </g>
      </g>
      <path id="rect3954"
            d="M 383.13986,292.8985 H 507.9798 v 45.9411 H 383.13986 Z"
            [style.fill]="getNoteColor()"
            style="fill-opacity:1; stroke:none" />
    </g>
  </g>
</svg>