<div class="edition" *ngIf="flow() as flow">
    <div class="edition-selection">
        @if(flow.tagCategory?.name){
            <p><b>{{flow.tagCategory?.name}}</b></p>
        }
        @else {
            <p>Select a category.</p>
        }  
        <div class="edition-buttons">
            <img [class.active]="showList" [src]="getImageUrl('icons-edition', 'list', 'png')" (click)="triggerShowList()" />
            <img [class.active]="showNewCategory" [src]="getImageUrl('icons-edition', 'new', 'png')" (click)="triggerShowNewCategory()" />
            @if(flow.tagCategory?.name){
                <img [class.active]="showEditCategory" [src]="getImageUrl('icons-edition', 'edit', 'png')" (click)="triggerShowEditCategory()" />
            }
        </div>
    </div>
    <div class="edition-selection">
        @if(flow.tag?.name){
            <p><b>{{flow.tag?.name}}</b></p>
        }
        @else {
            <p>Select a tag.</p>
        }
        <div class="edition-buttons">
            <img [class.active]="showNewTag" [src]="getImageUrl('icons-edition', 'new', 'png')" (click)="triggerShowNewTag()" />
            @if(flow.tag?.name){
                <img [class.active]="showEditTag" [src]="getImageUrl('icons-edition', 'edit', 'png')" (click)="triggerShowEditTag()" />
                <img [src]="getImageUrl('icons-edition', 'arrow', 'png')" (click)="go()" />
            }
        </div>
    </div>
    @if (showList) {
        <div class="filter">
            <input type="text" [(ngModel)]="searchTags" placeholder="Filter tags ...">
        </div>
        
        <div class="edition-list">
            <div *ngFor="let tag of filterTags() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: paginationService.editTagsCurrentPage}">
                <a [class.active]="tag.name === flow.tag?.name" (click)="setTag(tag)"> ▸ {{tag.name}}</a>
            </div>
        </div>

        <app-right-column>
            <app-right-column-list [table]="flow.tagCategories" [currentEntityId]="flow.tagCategory?.businessId" (entityId)="updateTagCategoryId($event)" />
        </app-right-column>
        
        <div class="pagination-row" *ngIf="flow.tagsByCategory.length > elementsPerPage">
            <div class="pagination">
              <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.editTagsCurrentPage = $event"></pagination-controls>
            </div>   
        </div>
    }
    @if (showNewTag) {
        <app-create-tag [tagCategories]="flow.tagCategories" (trigger)="triggerShowList()" />
    }
    @if (showNewCategory) {
        <app-create-tag-category (trigger)="triggerShowList()" />
    }
    @if (showEditTag) {
        <app-edit-tag [tag]="flow.tag" [tagCategories]="flow.tagCategories" (showListTrigger)="triggerShowList()" />
    }
    @if (showEditCategory) {
        <app-edit-tag-category [tagCategory]="flow.tagCategory" (showListTrigger)="triggerShowList()" />
    }
    <app-bottom-bar moodsGalleryType="list-edition" [moodsLength]="flow.tagsByCategory.length"/>
</div>
<div class="spacer-150"></div>