<div class="edition">
    <div class="edition-selection">
        <p [style.fontWeight]="tagsFlow()?.tagCategory ? 'bold' : 'normal'">
            {{ tagsFlow()?.tagCategory?.name || 'Select a category.' }}
        </p>
        <div class="edition-buttons">
            <app-icon-list class="icon" [class.active]="currentViewMode === viewModes.ListView" size="25px"
                (click)="setViewMode(viewModes.ListView)" />
            <app-icon-plus class="icon" [class.active]="currentViewMode === viewModes.TagCategoryCreationView"
                size="25px" (click)="setViewMode(viewModes.TagCategoryCreationView)" />
            @if(tagsFlow()?.tagCategory) {
            <app-icon-edit class="icon" [class.active]="currentViewMode === viewModes.TagCategoryEditionView"
                size="25px" (click)="setViewMode(viewModes.TagCategoryEditionView)" />
            <app-icon-go class="icon" size="25px" (click)="goToTagCategory()" />
            }
        </div>
    </div>
    <div class="edition-selection">
        <p [style.fontWeight]="tagsFlow()?.tag ? 'bold' : 'normal'">
            {{ tagsFlow()?.tag?.name || 'Please, select a tag from the list.' }}</p>
        <div class="edition-buttons">
            <app-icon-plus class="icon" [class.active]="currentViewMode === viewModes.TagCreationView" size="25px"
                (click)="setViewMode(viewModes.TagCreationView)" />
            @if(tagsFlow()?.tag){
            <app-icon-edit class="icon" [class.active]="currentViewMode === viewModes.TagEditionView" size="25px"
                (click)="setViewMode(viewModes.TagEditionView)" />
            <app-icon-go class="icon" size="25px" (click)="goToTag()" />
            }
        </div>
    </div>

    @if (currentViewMode === viewModes.ListView) {
        @if(filterTags()?.length) {
            <div class="filter">
                <input type="text" [(ngModel)]="searchTags" placeholder="Filter tags ...">
            </div>
            <div class="edition-list">
                <div *ngFor="let tag of filterTags() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: currentPage}">
                    <a [class.active]="tag.businessId === tagsFlow()?.tag?.businessId" (click)="setTagId(tag.businessId)"><span>{{ tag.description }}</span> ▸ {{ tag.name }}</a>
                </div>
            </div>
        }
        @else if(!filterTags()?.length) {
            <p class="p">There are currently no tags in this list.</p>
            <div class="empty-list">
                <p>Click</p>
                <app-icon-plus size="25px" class="icon" />
                <p>to add a new tag.</p>
            </div>
        }
        @if((filterTags()?.length || 0) > elementsPerPage) {
            <div class="pagination-row">
                <div class="pagination">
                    <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="setCurrentPage($event)" />
                </div>
            </div>
        }
    }
</div>

@if (currentViewMode === viewModes.TagCreationView) {
    <app-create-tag [category]="tagsFlow()?.tagCategory" [tagCategories]="tagsFlow()?.tagCategories || []" (setViewMode)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.TagCategoryCreationView) {
    <app-create-tag-category (setViewMode)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.TagEditionView) {
    <app-edit-tag [tag]="tagsFlow()?.tag" [tagCategories]="tagsFlow()?.tagCategories || []" (setViewMode)="setViewMode(viewModes.ListView)" />
}
@if (currentViewMode === viewModes.TagCategoryEditionView) {
    <app-edit-tag-category [tagCategory]="tagsFlow()?.tagCategory" (setViewMode)="setViewMode(viewModes.ListView)" />
}

<app-right-column>
    <app-right-column-generic-list [items]="tagsFlow()?.tagCategories || []" 
        [selectedItemId]="tagsFlow()?.tagCategory?.businessId" (setSelectedItemId)="setTagCategoryId($event)" />
</app-right-column>

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-items-length [itemsLength]="tagsFlow()?.tagsByCategory?.length" />
    <app-bottom-toggle-right-menu />
</app-bottom-bar>