<div class="edition" *ngIf="flow() as flow">
    <div class="edition-selection">
        @if(flow.tagCategory?.name){
            <p><b>{{flow.tagCategory?.name}}</b></p>
        }
        @else {
            <p>Select a category.</p>
        }  
        <div class="edition-buttons">
            <app-icon-list class="icon" [class.active]="showList" size="25px" (click)="triggerShowList()" />
            <app-icon-plus class="icon" [class.active]="showNewCategory" size="25px" (click)="triggerShowNewCategory()" />
            @if(flow.tagCategory?.name){
                <app-icon-edit class="icon" [class.active]="showEditCategory" size="25px" (click)="triggerShowEditCategory()" />
            }
        </div>
    </div>
    <div class="edition-selection">
        @if(flow.tag?.name){
            <p><b>{{flow.tag?.name}}</b></p>
        }
        @else {
            <p>Select a tag.</p>
        }
        <div class="edition-buttons">
            <app-icon-plus class="icon" [class.active]="showNew" size="25px" (click)="triggerShowNew()" />
            @if(flow.tag?.name){
                <app-icon-edit class="icon" [class.active]="showEdit" size="25px" (click)="triggerShowEdit()" />
                <app-icon-go class="icon" size="25px" (click)="go()" />
            }
        </div>
    </div>
    @if (showList) {
        <div class="filter">
            <input type="text" [(ngModel)]="searchTags" placeholder="Filter tags ...">
        </div>
        
        <div class="edition-list">
            <div *ngFor="let tag of filterTags() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: paginationService.editTagsCurrentPage}">
                <a [class.active]="tag.name === flow.tag?.name" (click)="setTag(tag)"> ▸ {{tag.name}}</a>
            </div>
        </div>

        <app-right-column>
            <app-right-column-list [table]="flow.tagCategories" [currentEntityId]="flow.tagCategory?.businessId" (entityId)="updateTagCategoryId($event)" />
        </app-right-column>
        
        <div class="pagination-row" *ngIf="flow.tagsByCategory.length > elementsPerPage">
            <div class="pagination">
              <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.editTagsCurrentPage = $event" />
            </div>   
        </div>
    }
    @if (showNew) {
        <app-create-tag [tagCategories]="flow.tagCategories" (trigger)="triggerShowList()" />
    }
    @if (showNewCategory) {
        <app-create-tag-category (trigger)="triggerShowList()" />
    }
    @if (showEdit) {
        <app-edit-tag [tag]="flow.tag" [tagCategories]="flow.tagCategories" (showListTrigger)="triggerShowList()" />
    }
    @if (showEditCategory) {
        <app-edit-tag-category [tagCategory]="flow.tagCategory" (showListTrigger)="triggerShowList()" />
    }
    <app-bottom-bar moodsGalleryType="list-edition" [moodsLength]="flow.tagsByCategory.length"/>
</div>
<div class="spacer-150"></div>