<div id="layout-central" *ngIf="styleFlow() as flow">
    <h2>Delete Style</h2>
    
    <div class="row-white">
        <p>You are about to permanently delete " <strong>{{ flow.style?.name }}</strong> " !</p>
        <p>This action <u>cannot</u> be undone !!</p>
        <p *ngIf="flow.relations?.numberOfRelations !== 0">
            <strong>Attention :</strong> 
            This will also remove <b>{{ flow.relations?.numberOfRelations }} </b>
            relation{{ flow.relations?.numberOfRelations === 1 ? '' : 's'}} of this style.
        </p>
    </div>

    <p>Are you sure you want to proceed ?</p>
    
    <div class="row-white">
        <div class="menu-flex">
            <a id="yes" (click)="onDelete()">YES</a>
        </div>
    </div>
</div>