<app-menu-right-desktop>
    <div class="content_right_desktop">
        <!-- Random Button -->
        <div class="item-top box_buttons">
            <a routerLink="/moods/mood-details/">Random Mood</a>
        </div>
    </div>
</app-menu-right-desktop>

<div id="layout-central" *ngIf="links() as links">
    <!-- Pagination controls -->
    <div class="row-sticky" *ngIf="links.length > itemsPerPage">
        <div id="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
        </div>  
    </div>       
    <!-- Links List -->  
    <div *ngIf="links.length; else loading">
        <div id="list">
            <div *ngFor="let link of links | paginate : { itemsPerPage : itemsPerPage, currentPage: currentPage }">
                <div class="list-flex">
                    <img id="favicon" [src]="'https://s2.googleusercontent.com/s2/favicons?domain=' + link.url + '&sz=96'" />
                    <a class="list-item link" target="_blank" href="{{ link.url }}"> ▸ {{ link.name }}</a>   
                </div>  
            </div>
        </div>   
    </div>
    <!-- Loading -->
    <ng-template #loading>
        <div class="loading">
            <p>Loading ...</p>
            <img src="../../../../assets/app_icons/spinner.gif" />
        </div>
    </ng-template>
</div>