.pagination-row
{
    position: fixed;
    bottom: 65px;
    width: 100vw;
    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    border-top: 1px solid #6b5240;
    font-size: 15px;

    #pagination
    {
        pagination-controls
        {
            position: relative;
            left: -25px;
            text-align: center;
        }
        .pagination ::ng-deep .ngx-pagination .current 
        {
            background: #6b5240;  
            border-radius: 5px;
        }
    }
}