<div class="edition" *ngIf="flow() as flow">
    <div class="edition-selection">
        @if(flow.linkCategory?.name){
            <p><b>{{flow.linkCategory?.name}}</b></p>
        }
        @else {
            <p>Select a category.</p>
        }  
        <div class="edition-buttons">
            <img [class.active]="showList" src="../../../assets/app_icons/icon_scripts_001.png" (click)="triggerShowList()" />
            <img [class.active]="showNewCategory" src="../../../assets/app_icons/new.png" (click)="triggerShowNewCategory()" />
            @if(flow.linkCategory?.name){
                <img [class.active]="showEditCategory" src="../../../assets/app_icons/edit.png" (click)="triggerShowEditCategory()" />
            }
        </div>
    </div>

    <div class="edition-selection">
        @if(flow.link){
            <p><b>{{flow.link.name}}</b></p>
        }
        @else {
            <p>Please, select a link from the list.</p>
        }
        <div class="edition-buttons">
            <img class="active" [src]="'https://s2.googleusercontent.com/s2/favicons?domain=' + flow.link?.url + '&sz=96'" />
            <img [class.active]="showNew" src="../../../assets/app_icons/new.png" (click)="triggerShowNew()" />
            @if(flow.link){
                <img [class.active]="showEdit" src="../../../assets/app_icons/edit.png" (click)="triggerShowEdit()" />
                <img src="../../../assets/app_icons/arrow_up.png" (click)="go()" />
            }
        </div>
    </div>

    @if (showList) {
        <div class="filter">
            <input type="text" [(ngModel)]="searchLinks" placeholder="Filter links ...">
        </div>
        
        <div class="edition-list">
            <div *ngFor="let link of filterLinks() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: paginationService.editLinksCurrentPage}">
                <a [class.active]="link.name === flow.link?.name" (click)="setLink(link)"> ▸ {{link.name}}</a>
            </div>
        </div>

        <app-right-column>
            <app-right-column-list [table]="flow.linkCategories" [currentEntityId]="flow.linkCategory?.businessId" (entityId)="updateLinkCategoryId($event)" />
        </app-right-column>
        
        <div class="pagination-row" *ngIf="flow.linksByCategory.length > elementsPerPage">
            <div id="pagination">
              <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.editLinksCurrentPage = $event"></pagination-controls>
            </div>   
        </div>
    }
    @if (showNew) {
        <app-create-link [linkCategories]="flow.linkCategories" (trigger)="triggerShowList()"/>
    }
    @if (showNewCategory) {
        <app-create-link-category (trigger)="triggerShowList()"/>
    }
    @if (showEdit) {
        <app-edit-link [link]="flow.link" (trigger)="triggerShowList()"/>
    }
    @if (showEditCategory) {
        <app-edit-link-category [linkCategory]="flow.linkCategory" (showListTrigger)="triggerShowList()" />
    }
    
    <app-bottom-bar moodsGalleryType="list-edition" [moodsLength]="flow.linksByCategory.length"/>
</div>