@if(moods?.length) {
<div [ngClass]="isRightMenuOn() ? 'gallery menu-open' : 'gallery' ">
    <div *ngFor="let mood of moods || [] | paginate : { itemsPerPage : moodsPerPage, currentPage : getCurrentPage() }">
        <section>
            @if(mood.type == 1) {
            <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}"
                (click)="handleMoodId(mood.businessId)" />
            }
            @if(mood.type == 2) {
            <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"
                (click)="handleMoodId(mood.businessId)" />
            }
            @if(mood.type == 3) {
            <img src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg"
                (click)="handleMoodId(mood.businessId)" />
            }
            @if(mood.type == 4) {
            <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood.businessId}}.jpg"
                (click)="handleMoodId(mood.businessId)" />
            }
        </section>
    </div>
</div>
}
@if(!moods?.length || moods?.length === 0) {
<div class="empty-moods">
    <p>No moods found !</p>
</div>
}

<div class="pagination-row">
    @if(moods && moods.length > moodsPerPage) {
    <div class="pagination">
        <pagination-controls previousLabel="" nextLabel="" class="pagination"
            (pageChange)="updateCurrentPage($event)" />
    </div>
    }
</div>