@if(entity === undefined) {
    <div class="flex">
        <p><b>Total moods</b></p>
        <p>{{moodsLength | number : '4.0'}}</p>
    </div>
}
@if(entity != undefined) {
    @if(moodsGalleryType === 'model') {
        <h1>{{entity.pseudonym}}</h1> 
        <p class="p">{{entity.description}}</p>
        <hr class="dialog-hr">
        <div class="flex">
            <p><b>{{ 'title.first-name' | translate }}</b></p>
            <p>{{entity.firstName}}</p>
        </div>
        <div class="flex">
            <p><b>{{ 'title.last-name' | translate }}</b></p>
            <p>{{entity.lastName}}</p>
        </div>
        <div class="flex">
            <p><b>Total moods</b></p>
            <p>{{moodsLength | number : '4.0'}}</p>
        </div>
    }
    @if(moodsGalleryType === 'tag' || moodsGalleryType === 'artist' || moodsGalleryType === 'franchise') {
        <h1>{{entity.name}}</h1> 
        <p class="p">{{entity.description}}</p>
        <hr class="dialog-hr">
        <div class="flex">
            <p><b>Total moods</b></p>
            <p>{{moodsLength | number : '4.0'}}</p>
        </div>
    }
    <div class="flex_created">
        <div class="box_created">
            <p>{{ 'title.created' | translate }}</p>
            <p>{{entity.created | localizedDate }}</p>
        </div>
        <div class="box_created">
            <p>{{ 'title.modified' | translate }}</p>
            <p>{{entity.modified | localizedDate }}</p>
        </div>
    </div>  
}