// ==============================================
// - MoodBoard | Side Menu | 
// ==============================================

#menu_content_common
{  
    .flex-tags
    {
        display: flex;
        justify-content: center;

        margin-top: 5px; margin-bottom: 5px;

        background-color: rgba(107, 82, 64, 0.2);
        border: 1px solid #6b5240;
        border-radius: 5px;

        .box
        {
            .category-name
            {
                width: 105px;
        
                padding: 5px;

                display: block;

                font-size: 12px;
                color: #403125;
                font-weight: bold;
            }
            .name-tag
            {
                width: 105px;
            
                border: 1px solid #6b5240;
                border-radius: 5px;
        
                padding: 5px;
                margin-bottom: 3px;
        
                background-color: rgba(255, 255, 255, 0.5);

                display: block;

                color: #6b5240;
                text-align: center;
                text-decoration: none;
                font-size: 12px;
            }
            .name-tag:hover
            {
                cursor: pointer;
                background-color: #92715a;
                color: rgba(255, 255, 255, 0.79);      
                transition-duration: 250ms;  
            }
            .active
            {
                background-color: #6b5240;
                color: white;
            }
        }
    }
}