// ==============================================
// - MoodBoard | Side Menu | 
// ==============================================

// Menu Left Desktop :

#menu_left_desktop
{
    display: none;

    width: 330px;
    height: 100%;

    overflow-y: scroll;

    border-right: 1px solid #6b5240;
    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);

    z-index: 3;
    transition-duration: 500ms;
}

.menu_out_left_desktop
{
    position: fixed;
    top: 0;
    left: 1;
    opacity: 1;
    transition-duration: 500ms;
}
.menu_hidden_left_desktop
{
    position: fixed;
    top: 0;
    left: -1150px;
    opacity: 0;
    transition-duration: 500ms;
}

// -----------------------
// - MEDIA QUERIES :

@media (min-width: 1150px) 
{
    #menu_left_desktop
    {
        display: block;
    }
}