// ==============================================
// - MoodBoard | Side Menu | 
// ==============================================

// Menu Right Desktop :

#menu_right_desktop
{
    width: 285px;
    height: 100%;

    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: rgb(107, 82, 64, 0.7) #f1f1f1;

    border-left: 1px solid #6b5240;
    background-color: rgba(255, 253, 251, 0.95);
    backdrop-filter: blur(3px);

    z-index: 17;

    margin-top: 2px;
}

.menu_out_right_desktop
{
    position: fixed;
    top: 0;
    right: 0;
    opacity: 1;
    transition-duration: 500ms;
}
.menu_hidden_right_desktop
{
    position: fixed;
    top: 0;
    right: -310px;
    opacity: 0;
    transition-duration: 500ms;
}