@if(!gameStart) { <h1>Select your Clef</h1> }

@if(gameStart) {
<h1> Score : {{ score | number : '3.0' }}  <span *ngIf="timer > 0"> | Timer : {{ timer | number : '2.0' }}</span></h1>
}

<div class="trainer">
  @if(!gameEnd) {
  <div class="trainer-container">
    <img src="../../../../assets/app_tools/trainer-notes-back.png" />

    <img *ngIf="gameStart && randomNote.alteration === true" src="../../../../assets/app_tools/sharp.png" [ngClass]="'row' + randomNote.row" />
    <img *ngIf="gameStart && randomNote.extension === true" src="../../../../assets/app_tools/extension.png" [ngClass]="'row' + randomNote.row" />
    <img *ngIf="gameStart && randomNote.doubleUp === true" src="../../../../assets/app_tools/extension.png" [ngClass]="'row' + (randomNote.row - 2)" />
    <img *ngIf="gameStart && randomNote.doubleUp === false" src="../../../../assets/app_tools/extension.png" [ngClass]="'row' + (randomNote.row + 2)" />

    <img *ngIf="gameStart" src="../../../../assets/app_tools/note.png" [ngClass]="'row' + randomNote.row" />

    <img src="../../../../assets/app_tools/clef-treble.png" *ngIf="clefTreble === true" />
    <img src="../../../../assets/app_tools/clef-bass.png" *ngIf="clefBass   === true" />
    <img src="../../../../assets/app_tools/clef-alto.png" *ngIf="clefAlto   === true" />
  </div>
  }
  @if(gameEnd && score > 10) {
  <div class="trainer-container"><img src="../../../../assets/app_tools/winner.gif" /></div>
  }
  @if(gameEnd && score <= 10) { <div class="trainer-container"><img src="../../../../assets/app_tools/game-over.png" />
</div>
}
</div>

@if(!gameStart) {
<div class="trainer-buttons">
  <a [class.active]="clefBass" (click)="clefBassTrigger()">Bass</a>
  <a [class.active]="clefAlto" (click)="clefAltoTrigger()">Alto</a>
  <a [class.active]="clefTreble" (click)="clefTrebleTrigger()">Treble</a>
</div>
}

<p>{{ message }}</p>

@if(gameEnd) {
<h1>Total Run : {{ run | number : '2.0' }} seconds</h1>
}

@if(!gameStart) {
<div class="trainer-buttons"><a class="start" (click)="start()">START GAME</a></div>
<div class="trainer-buttons"><a class="start" appToggleDialog>Rules</a></div>
}

@if(gameStart && !gameEnd) {
<div class="notes">
  @if(currentLanguage() === 'fr') {
    <div *ngFor="let note of notesREF"><a (click)="updateUserNote(note)">{{ note.nameFr }}</a></div>
  }
  @if(currentLanguage() === 'en') {
    <div *ngFor="let note of notesREF"><a (click)="updateUserNote(note)">{{ note.name }}</a></div>
  }

</div>
}

@if(gameEnd) {
<div class="trainer-buttons"><a class="start" (click)="reset()">NEW GAME</a></div>
}

<app-spacer />

@if(!gameStart || gameEnd) {
<app-bottom-bar>
  <app-bottom-icon-back page="/dashboard" />
  <app-bottom-item-name itemName="Notes Trainer" />
  <app-bottom-toggle-right-menu />
</app-bottom-bar>
}

<app-dialog>
  <div class="dialog">
    <h3 class="dialog-h3">{{ 'title.rules' | translate }}</h3>
    <hr class="dialog-hr">
    <div class="dialog-p-title">Score as much as you can before time's up !</div>
    <hr class="dialog-hr">
    <div class="dialog-p"><b>For each correct answer</b></div>
    <div class="dialog-p"> ▸ Timer + 1 second</div>
    <div class="dialog-p"> ▸ Score + 5</div>
    <hr class="dialog-hr">
    <div class="dialog-p"><b>For each wrong answer</b></div>
    <div class="dialog-p"> ▸ Timer - 2 seconds</div>
    <div class="dialog-p"> ▸ Score - 6</div>
  </div>
</app-dialog>