<h1 class="h1">{{ 'title.account-settings' | translate }}</h1>
<div class="row-white">
    <div class="buttons">
        <app-button-back />
    </div>
</div>
<p class="p">{{ 'message.account-settings' | translate }}</p>
<div class="profile">
    <div class="flex">
        <p><b>{{ 'title.first-name' | translate }}</b></p>
        <p>{{userService.appUser.firstName}}</p>
    </div>
    <div class="flex">
        <p><b>{{ 'title.last-name' | translate }}</b></p>
        <p>{{userService.appUser.lastName}}</p>
    </div>
    <div class="flex">
        <p><b>{{ 'title.email' | translate }}</b></p>
        <p>{{userService.appUser.email}}</p>
    </div>
    <div class="flex">
        <p><b>{{ 'title.birthdate' | translate }}</b></p>
        <p>{{ userService.appUser.birthdate | localizedDate:undefined:false }}</p>
    </div>
    <div class="flex_created">
        <div class="box_created">
            <p>{{ 'title.created' | translate }}</p>
            <p>{{ userService.appUser.created | localizedDate }}</p>
        </div>
        <div class="box_created">
            <p>{{ 'title.modified' | translate }}</p>
            <p>{{ userService.appUser.modified | localizedDate }}</p>
        </div>
    </div>
</div>
<div class="row-white">
    <div class="buttons">
        <div class="button" routerLink="/users/delete-user/{{userService.appUser.businessId}}">{{ 'title.delete' | translate }}</div>
        <div class="button" routerLink="/users/user-update">{{ 'title.modify' | translate }}</div>
    </div>
</div>
<div class="spacer-75"></div>