<!-- Header -->
<header>
    <div class="header-grid">
        <!-- Section Left -->
        <div class="grid-section-left">
            <!-- Menu Trigger -->
            <div class="trigger">
                <img [class.img-active]="menuService.menuCustomOn === true" 
                src="/assets/app_icons/icon_hamburger_001.png" 
                (click)="menuTrigger()" />
            </div>
            <img class="logo" src="/assets/app_logos/fp_logo_03.png">
        </div>
        <!-- Section Middle -->
        <div class="grid-section-middle">
            <!-- <p>Search</p> -->
        </div>
        <!-- Section Right -->
        <!-- <div class="grid-section-right">
            @if (!authService.isConnectedSub) 
            {
                <div class="login">
                    <a>
                        <img [class.img-active]="menuService.menuCustomOn === true" 
                        src="../../../../assets/app_icons/login.png" />
                    </a>
                </div>
            }
            @if (authService.isConnectedSub) 
            {
                <div class="login">
                    <a>
                        <img [class.img-active]="menuService.menuCustomOn === true" 
                        src="../../../../assets/app_icons/logout.png" />
                    </a>
                </div>
            }
        </div> -->
    </div>
</header>