<div class="edition"> 
    <h2 class="h2">Create New Tag</h2>
    
    <form [formGroup]="formGroup">
        <input type="text" formControlName="name" placeholder="Name">
        <input type="text" formControlName="description" placeholder="Description">  
        <select formControlName="tagCategoryId">
          <option *ngFor="let tagCategory of tagCategories" [value]="tagCategory.businessId">
            {{ tagCategory.name }}
          </option>
        </select> 
    </form>

    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="createTag()">Submit</a>
</div>

<app-spacer />