<div class="edit-score">
    <p class="p">Score</p>
    <div class="score-display">
        <p>{{ moodScore | number : '3.0'}}</p>
    </div>
    <hr class="dialog-hr">
    <div class="score-buttons">
        <button (click)="handleUpdateMoodScore(-50)">-50</button>
        <button (click)="handleUpdateMoodScore(-10)">-10</button>
        <button (click)="handleUpdateMoodScore(-1)">-1</button>
        <button (click)="handleUpdateMoodScore(1)">+1</button>
        <button (click)="handleUpdateMoodScore(10)">+10</button>
        <button (click)="handleUpdateMoodScore(50)">+50</button>
    </div>
</div>