.edit-score {
    width: 350px;
    margin: auto;

    p {
        margin: 5px;
    }

    .score-display {
        width: 70px;
        margin: auto;

        padding: 10px;

        display: flex;
        justify-content: center;
        align-items: center;

        border: 3px solid var(--colorMain);
        border-radius: 10px;
        background-color: var(--colorWhiteOpacity7);
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

        backdrop-filter: blur(3px);
    
        p {
            color: var(--colorMain);
            font-weight: bold;
            margin: 0;
        }
    }
    
    .score-buttons {
        margin-top: 10px;
    
        display: flex;
        justify-content: center;
        align-items: center;
    
        button {
            margin: 0 5px;
            height: 44px;
            width: 44px;
    
            border: 3px solid var(--colorMainOpacity5);
            border-radius: 8px;
            background-color: white;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

            font-size: 13px;
            color: var(--colorMain);
    
            cursor: pointer;
            opacity: 0.8;
            transition-duration: 200ms;
        }
    
        button:hover {
            border: 3px solid var(--colorMain);
            opacity: 1;
        }
    }
}