@if (model()) {
    @if (model()?.businessId) {
    <h1>Edit : {{model()?.pseudonym}}</h1>
    }
  }
  @else {
    <h1>Create</h1>
  }
  
  <div [formGroup]="formGroup">
    <input formControlName="firstName" type="text" placeholder="First Name" />
    <input formControlName="lastName" type="text" placeholder="Last Name" />
    <input formControlName="pseudonym" type="text" placeholder="Pseudonym" />
    <input formControlName="gender" type="text" placeholder="Gender" />
  </div>
  
  <button (click)="handleSave()" [disabled]="formGroup.invalid">Save</button>