<p class="sticky-label"><b>{{ selectedMoods().length }}</b> Moods Selected</p>

<app-spacer height="25px" />

<div class="filter">
  <input type="text" [(ngModel)]="searchArtist" placeholder="Filter artists ..." />
</div>

<form [formGroup]="form">
  <div class="box-wrapper">
    <div class="box">
      <div *ngFor="let artist of filteredArtists()">
        <div class="duo">
          <input type="checkbox" [formControlName]="artist.businessId.toString()" id="{{ artist.name }}" />
          <label [for]="artist.name">{{ artist.name }}</label>
        </div>
      </div>
    </div>
  </div>
</form>

<app-spacer height="150px" />

<app-bottom-bar>
  <app-bottom-icon-back page="/moods/multi-tag" />
  <app-bottom-icon-to-top />
  <app-bottom-icon-save (triggerSave)="onSubmit()" />
</app-bottom-bar>