<svg 
  [attr.width]="size" 
  [attr.height]="size" 
  viewBox="0 0 200 100" 
  xmlns="http://www.w3.org/2000/svg">
  <g transform="translate(-374.28571,-580.50504)">
    <g transform="translate(587.86904,632.83837)">
      <path 
        d="m -113.58333,47.66667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
        [style.fill]="staffColor"
        style="opacity:0.25; stroke:none" />
      <path 
        d="m -113.58333,23.666667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
        [style.fill]="staffColor"
        style="opacity:0.25; stroke:none" />
      <path 
        d="m -113.58333,-0.33333304 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
        [style.fill]="staffColor"
        style="opacity:0.25; stroke:none" />
      <path 
        d="m -113.58333,-24.333333 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
        [style.fill]="staffColor"
        style="opacity:0.25; stroke:none" />
      <g transform="translate(36,-66.5)">
        <path 
          d="m -149.58333,18.166667 h -100 v -2 -2 h 100 100.000003 v 2 2 z"
          [style.fill]="staffColor"
          style="opacity:0.25; fill-opacity:1; stroke:none" />
      </g>
    </g>
    <g transform="matrix(0.17676114,0,0,-0.17676114,374.30093,664.95791)">
      <path 
        d="m 486.40784,279.375 h 158.48253 v 58.32157 H 486.40784 Z"
        [style.fill]="getNoteColor()"
        style="stroke:none; fill-opacity:1" />
    </g>
  </g>
</svg>