<div class="scripts">
    <h1>Arsenal Rythmique</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Nous le disions plus tôt, la musique est un art qui évolue dans le temps.</p>
        <p>La gestion du temps en musique, c'est ce qu'on appelle : <b>Le RYTHME</b>.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Voici donc notre point de départ pour aborder ces différents sujets :</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.Pulsation)"><b> ▸ La Pulsation</b> ( BPM et Tempo )</p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.TimeValues)"><b> ▸ Les Valeurs de Temps</b> ( Sons et Silences )</p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.TimeSignatures)"><b> ▸ Les Mesures</b> ( Simples et Composées )</p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Séquences</b> ( Boucles et Répétitions )</p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Rythmes</b> ( Traditions Culturelles )</p>
    </div>
</div>