<app-right-column>
    <div class="tools-icons">
        <div class="icon">
            <a [class.active]="showCircleofFifths" (click)="toggleCircleofFifths()">
                <img [src]="getImageURL('icons-tools', 'circle-fifths', 'png')" />
            </a>
            <span>Circle of Fifths</span>
        </div>
        <div class="icon">
            <a [class.active]="showChordWheel" (click)="toggleChordWheel()">
                <img [src]="getImageURL('icons-tools', 'chord-wheel', 'png')" />
            </a>
            <span>Chord Wheel</span>
        </div>
        <div class="icon">
            <a [class.active]="showDiapason" (click)="toggleDiapason()">
                <img [src]="getImageURL('icons-tools', 'diapason', 'svg')" />
            </a>
            <span>Diapason</span>
        </div>
        <div class="icon">
            <a [class.active]="showMiniKeys" (click)="toggleMiniKeys()">
                <img [src]="getImageURL('icons-tools', 'keyboard', 'svg')" />
            </a>
            <span>Keyboard</span>
        </div>
        <div class="icon">
            <a [class.active]="showTrainer" (click)="toggleTrainer()">
                <img [src]="getImageURL('icons-tools', 'notes-trainer', 'png')" />
            </a>
            <span>Notes Trainer</span>
        </div>
        <div class="icon">
            <a [class.active]="showTuner" (click)="toggleTuner()">
                <img [src]="getImageURL('icons-tools', 'guitar-tuner', 'png')" />
            </a>
            <span>Guitar Tuner</span>
        </div>
    </div>
</app-right-column>

<app-circle-of-fifths *ngIf="showCircleofFifths" />
<app-chord-wheel *ngIf="showChordWheel" />
<app-diapason *ngIf="showDiapason" />
<app-flying-keys-mini *ngIf="showMiniKeys" />
<app-trainer-notes *ngIf="showTrainer" />
<app-guitar-tuner *ngIf="showTuner" />