.tool-cards {
    width: 600px;
    margin: auto;
    margin-top: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

@media (max-width: 768px) {
  .tool-cards {
    width: 100%;
  }
}