<div class="scripts">
    <h1>La Tonalité</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La <strong>tonalité</strong> est l'essence même du système tonal.</p>
    </div>
    <div class="article_box primary">
        <p>On peut alors appliquer la formule à partir de n'importe quelle note.</p>

    </div>
    <div class="article_box">
        <p>Dans la création d'un contexte musical diatonique.</p>
    </div>
    <div class="article_box primary">
        <p><u>Quelques formules</u> :</p>
    </div>
</div>