.thumbnail {
    display: flex;
    justify-content: center;

    margin-bottom: 15px;

    img {
        max-height: 300px;
        width: auto;

        border: 3px solid var(--colorMain);
        border-radius: 10px;

        opacity: 0.9;
        transition-duration: 200ms;
        cursor: pointer;
    }

    img:hover {
        opacity: 1;
    }


    @media (max-width: 1150px) {
        img {
            max-height: none;
            width: 97%;
            height: auto;
        }
    }
}