<div class="menu-left" [ngClass]="menuService.menuCustomOn === true ? 'menu-on' : 'menu-off'">
    <div class="menu-grid">
        <div class="grid-section-left">
            <div class="trigger">
                <img [class.img-active]="menuService.menuCustomOn === true" 
                src="/assets/app_icons/icon_hamburger_001.png" 
                (click)="menuService.triggerMenuCustom()" />
            </div>
            <img class="logo" src="/assets/app_logos/fp_logo_03.png">
        </div>
    </div>
    <div class="scroll">
        <div class="menu-elements">
            <div>
                @if(userService.appUser === undefined) {
                    <a routerLink="/home" routerLinkActive="active" (click)="menuTrigger()">
                        <img src="/assets/app_icons/icon_home_001.png" />
                        <p>Home</p>
                    </a>
                }
                @else {
                    <a routerLink="/dashboard" routerLinkActive="active" (click)="menuTrigger()">
                        <img src="/assets/app_icons/icon_home_001.png" />
                        <p>Dashboard</p>
                    </a>
                }
                <a routerLink="/about" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_about_001.png" />
                    <p>About</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/tags" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/models" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_model_001.png" />
                    <p>Models</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_tools_001.png" />
                    <p>Tools</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_links_001.png" />
                    <p>Links</p>
                </a>
            </div>
            <!-- User ( Not Connected ) -->
            @if(userService.appUser === undefined)
            {
                <a class="user" routerLink="/login" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="/assets/app_icons/icon_artists_001.png" />
                    <p>Not Connected</p>
                </a>
            }
            <!-- User ( Connected ) -->
            @if(userService.appUser?.role === 1)
            {
                <a class="user" routerLink="/users/user-details" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_artists_001.png" />
                    <p>{{userService.appUser?.firstName}}</p>
                </a> 
            }
            <!-- Administrator -->
            @if(userService.appUser?.role === 2)
            {
                <a class="user" routerLink="/users/user-details" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/mood.png" />
                    <p>{{userService.appUser?.firstName}}</p>
                </a> 
            }
        </div>
        <div class="menu-footer">
            <p>© {{currentYear}} <a routerLink="/about" (click)="menuTrigger()">Flying PAD</a>
        </div>
    </div>
</div>