<div class="scripts">
    <h1>Les Valeurs de Temps</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Maintenant que nous avons pleine conscience de ce qu'est une pulsation.</p>
        <p>L'idée est de venir y placer nos sons en tout genre relativement aux battements.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p> - <b>Les valeurs de temps de base</b> attribuées <u>aux sons</u> (notes) :</p>
    </div>
    <table>
        <tr>
            <td class="width">1/4 de Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Double Croche</td>
        </tr>
        <tr>
            <td class="width">1/2 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Croche</td>
        </tr>
        <tr>
            <td class="width"><b>1 Battement</b></td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Noire</td>
        </tr>
        <tr>
            <td class="width">2 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Blanche</td>
        </tr>
        <tr>
            <td class="width">4 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Ronde</td>
        </tr>
    </table>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Au risque de me répéter, je rappelle que faire de la musique, c'est organiser les SONS...</p>
        <p>Mais également le SILENCE !! (Silences, au pluriel, en l'occurence).</p>
        <p>Nous allons donc faire pareil que pour les notes mais pour les silences.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Voici donc les <b>valeurs de temps équivalentes</b> attribuées <u>aux silences</u> :</p>
    </div>
    <table>
        <tr>
            <td class="width">1/4 de Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Quart de Soupir</td>
        </tr>
        <tr>
            <td class="width">1/2 Battement</td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Demi Soupir</td>
        </tr>
        <tr>
            <td class="width"><b>1 Battement</b></td>
            <td><img src="/assets/app_scripts/time_value_1.png" /></td>
            <td class="width">Soupir</td>
        </tr>
        <tr>
            <td class="width">2 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Demi Pause</td>
        </tr>
        <tr>
            <td class="width">4 Battements</td>
            <td><img src="/assets/app_scripts/time_value_2.png" /></td>
            <td class="width">Pause</td>
        </tr>
    </table>
</div>