:root {
    --mobile: 450px;
    --tablet-small: 768px;
    --tablet: 992px;
    --desktop: 1024px;

    --colorMain: #6b5240;
    --colorGreen: green;
    --colorOrange: orange;
    --colorRed: red;
    --colorWhite: white;

    --fontFamily: 'Open Sans', sans-serif;

    $sizeH1 : 17px;
    $sizeH2 : 16px;
    $sizeH3 : 15px;

    --logoFull: url(../assets/app_logos/fp_logo_01.png);
    --logoSmall: url(../assets/app_logos/fp_logo_02.png);

    --hamburger: url(../assets/app_icons/icon_hamburger_001.png);
    --hamburgerLeft: url(../assets/app_icons/icon_hamburger_left_001.png);
    --hamburgerRight: url(../assets/app_icons/icon_hamburger_right_001.png);

    --texture001: url(../assets/app_backgrounds/texture_001.jpg);

    --border: 1px;
}