/*  Flying PAD | SCSS Global Settings
   ========================================================================== */
html 
{
    /* Main Y scrollbar always visible to prevent page 'shaking' */
    overflow-y: scroll;             
    scrollbar-width: thin;
    scrollbar-color: rgb(107, 82, 64, 0.7) #f1f1f1;
    
    /* Main X scrollbar always hidden to prevent page losing focus */
    overflow-x: hidden;             

    // Disable User Selection :

    -moz-user-select: none;         /* Firefox */
    -webkit-user-select: none;      /* Chrome, Safari, Opéra depuis la version 15 */
    -ms-user-select: none;          /* Internet explorer depuis la version 10 et Edge */
    user-select: none;              /* Propriété standard */
}
  
body
{
    font-family: var(--fontFamily);                     // Main Font
    background-image: var(--texture001);                // Custom Background
    max-width: 100vw;                                   // Limit Width
}

// TODO: refactoring : replace ' _ ' by ' - ' for CSS class names
// TODO: refactoring : replace id by class if tag isn't unique per page