html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-color: var(--colorMainOpacity7) #f1f1f1;

    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

body {
    max-width: 100vw;
    height: 100%;
    background-color: var(--colorBackground);
    font-family: var(--fontFamily);
    box-sizing: border-box;
    transition: background-color 1s ease, color 1s ease;
    position: relative;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--texture001) repeat top left;
    opacity: 1;
    z-index: -1;
    transition: opacity 1s ease;
}

body.fade-background::before {
    opacity: 0;
}

.content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: relative;
    box-sizing: border-box;
    z-index: 1;
}

.h1 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 19px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;

    color: var(--colorMain);
    text-shadow: 0px 3px 3px var(--colorMainOpacity2);
}

.h2 {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    font-size: 17px;
    font-weight: normal;
    text-align: center;
    letter-spacing: 1px;

    color: var(--colorMain);
    text-shadow: 0px 3px 3px var(--colorMainOpacity2);
}

.p {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    color: var(--colorMain);
    text-align: center;
}

.ul {
    padding: 0;
}

hr {
    color: var(--colorMainOpacity5);
}

.span-warning {
    color: rgb(135, 0, 0);
    font-weight: bold;
}

.row-white {
    margin-top: 15px;
    padding: 15px;
    background-color: var(--colorWhiteOpacity4);
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
}

// Filters & inputs
.filter {
    display: flex;
    justify-content: center;

    input {
        padding: 10px;
        margin: 8px;
        border-radius: 5px;
        font-size: 14px;
        width: 200px;
    }

    input:focus {
        outline: none;
        border: 2px solid var(--colorMain);
    }
}
.form {
    input {
        padding: 10px;
        border-radius: 5px;
        font-size: 14px;
        width: 200px;
    }
    
    input:focus {
        outline: none;
        border: 2px solid var(--colorMain);
    }
}

// Dialog.
.dialog-h3 {
    margin-top: 10px;
    text-align: center;
    color: var(--colorMain);
}

.dialog-p {
    color: var(--colorMain);
}

.dialog-entity-name {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    color: var(--colorMainOpacity7);
    font-weight: bold;
}
.dialog-hr {
    color: var(--colorMainOpacity1);
    margin-bottom: 15px;
}

// Break Points ( Media Queries ).
.responsive {
    display: flow-root;
}
@media (max-width: 1150px) {
    .responsive {
        display: none;
    }
}

// Pagination.
.pagination-row {
    position: fixed;
    bottom: 65px;
    width: 100vw;
    
    background-color: rgba(255, 253, 251, 0.8);
    backdrop-filter: blur(3px);
    border-top: 1px solid var(--colorMain);

    display: flex;
    justify-content: center;
}
.pagination { 
    pagination-controls {
        position: relative;
        left: -30px;
        text-align: center;
    }

    .ngx-pagination .current {
        background: var(--colorMain);
        border-radius: 5px;
    }
}