.buttons {
    display: flex;
    justify-content: center;
    text-align: center;

    .button {
        display: block;
        width: 150px;
        height: 25px;
    
        background-color: var(--colorMain);
        border: 1px solid var(--colorMain);
        border-radius: 5px;
        box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);
        
        padding: 8px;
        margin: 8px;

        display: flex;
        justify-content: center;
        align-items: center;
    
        letter-spacing: 1px;
        color: var(--colorWhite);
        font-size: 15px;
    }
    .button:hover:not(.button-disabled) {
        background-color: var(--colorWhite);
        color: var(--colorMain);
        cursor: pointer;
        transition-duration: 500ms;
    }
    .button-active {
        background-color: var(--colorWhite);
        color: var(--colorMain);
    }
    .button-disabled {
        background-color: rgb(112, 112, 112);
        border: 1px solid rgb(72, 72, 72);
        box-shadow: 0px 2px 4px rgb(112, 112, 112);
        color: var(--colorWhiteOpacity8);
        cursor: not-allowed;
    }
}