.dialog-h3 {
    margin-top: 10px;
    text-align: center;
    color: var(--colorMain);
}

.dialog-p {
    color: var(--colorMain);
}

.dialog-entity-name {
    margin: 0;
    margin-top: 15px;
    margin-bottom: 15px;

    text-align: center;
    color: var(--colorMainOpacity7);
    font-weight: bold;
}
.dialog-hr {
    color: var(--colorMainOpacity1);
    margin-bottom: 15px;
}