<div class="edition">
  <h2 class="h2">Create Artist</h2>
  <form [formGroup]="formGroup">
    <input type="text" formControlName="name" placeholder="Full Name">
    <input type="text" formControlName="description" placeholder="Description">
    <div class="checkboxes" formArrayName="styles">
      <div *ngFor="let styleControl of getStyles.controls; let i = index" [formGroupName]="i">
        <div class="combo">
          <label [for]="styleControl.value.name">{{ styleControl.value.name }}</label>
          <input type="checkbox" [id]="styleControl.value.name" formControlName="isChecked">
        </div>
      </div>
    </div>
  </form>
  <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="onSubmit()">Submit</a>
</div>