<div id="layout-central">
    <h1>Les Gammes</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>
    <div class="article_box">
        <p>Une Gamme, c'est une échelle d'intervalles.</p>
        <p>Nous pouvons ainsi construire toutes sortes de gammes.</p>
        <p> - Gamme à 5 notes ( Pentatonique )</p>
        <p> - Gamme à 7 notes ( Diatonique )</p>
        <p> - Gamme à 12 notes ( Chromatique )</p>
        <p><u>Exemple</u> :</p>
        <p>L'échelle d'intervalles M2, M3, P4, P5, M6, M7 ( Gamme Diatonique Majeure )</p>
    </div>
    <div class="article_box primary">
        <p>Comme il est possible de démarrer à partir de n'importe quelle note ...</p>
        <p>On peut considérer une gamme comme une formule.</p>
        <p><u>Exemple</u> :</p>
        <p>Toujours en partant de l'échelle d'intervalles M2, M3, P4, P5, M6, M7 :</p>
        <p>En partant de Do, nous aurons : Do Ré Mi Fa Sol La Si ( Do Majeur ).</p>
        <p>En partant de Ré, nous aurons : Ré Mi Fa# Sol La Si Do# ( Ré Majeur ).</p>
        <p>En partant de Mi, nous aurons : Mi Fa# Sol# La Si Do# Ré# ( Mi Majeur ).</p>
        <p>etc ...</p>
    </div>
</div>