<div [ngClass]="infoIsActive === true ? 'info' : 'info off' ">
    <h1 *ngIf="mood?.name !== '...' ">{{ mood?.name }}</h1>
    <p *ngIf="mood?.description !== '...' ">{{mood?.description}}</p>
    <div *ngIf="userService.appUser.role === 2">
        <p class="box-title">Starring</p>
        <div class="list_categories">
            <div *ngFor="let model of models">
                <a (click)="updateModelId(model.businessId)"> ▸ {{model.pseudonym}}</a>
            </div>
        </div>
        <p class="box-title">From</p>
        <div class="list_categories">
            <div *ngFor="let franchise of franchises">
                <a (click)="updateFranchiseId(franchise.businessId)"> ▸ {{franchise.name}}</a>
            </div>
        </div>
        <p class="box-title">Art By</p>
        <div class="list_categories">
            <div *ngFor="let artist of artists">
                <a (click)="updateArtistId(artist.businessId)"> ▸ {{artist.name}}</a>
            </div>
        </div>
    </div>
    <div *ngIf="userService.appUser.role === 2">
        <div class="item-top box-score" >
            <button (click)="updateMoodScore(-10)">-10</button>
            <button (click)="updateMoodScore(-1)">-1</button>
            <p><b>{{ mood?.score | number : '3.0'}}</b></p>
            <button (click)="updateMoodScore(1)">+1</button>
            <button (click)="updateMoodScore(10)">+10</button>
        </div>
    </div>
    <div *ngIf="mood?.type === 1 ">
        <div class="item-top flex">
            <p><b>Size</b></p>
            <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Extension</b></p>
            <p>*.{{ typeCheck(mood).extension }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Height</b></p>
            <p>{{ typeCheck(mood).height }} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Width</b></p>
            <p>{{ typeCheck(mood).width }} pixels</p>
        </div>
        </div>
    <div *ngIf="mood?.type === 2 ">
        <div class="item-top flex">
            <p><b>Size</b></p>
            <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Extension</b></p>
            <p>*.{{ typeCheck(mood).extension }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Height</b></p>
            <p>{{typeCheck(mood).height}} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Width</b></p>
            <p>{{typeCheck(mood).width}} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Duration</b></p>
            <p>{{typeCheck(mood).duration | formatDuration }}</p>
        </div>
    </div>
    <div class="flex_created">
        <div class="box_created">
            <p>Created :</p>
            <p>{{ mood?.created | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
        <div class="box_created">
            <p>Modified :</p>
            <p>{{ mood?.modified | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
    </div>
</div>