.flow-list
{
    min-height: 910px;
    max-height: 910px;
    overflow-y: scroll;

    min-width: 215px;
    max-width: 215px;
    
    border-right: 3px solid #6b5240;

    margin-top: 85px;

    ul
    {
        margin: 0; padding: 0;

        li
        {
            color: #6b5240;
            border-bottom: 2px solid #6b5240;
            padding: 5px;

            white-space: nowrap;        /* Empêche le texte de passer à la ligne */
            overflow: hidden;           /* Coupe le texte qui déborde */
            text-overflow: ellipsis;    /* Ajoute les points de suspension à la fin du texte */
        }
        li:hover
        {
            cursor: pointer;
        }
        .active
        {
            background-color: rgb(255, 255, 255);
        }
    }

    .bottom-space
    {
        height: 150px;
    }
}