<app-button-top />

<div id="layout-central">
    <h1>La Notation Musicale</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>
    <div class="article_box">
        <p>Parce qu'au bout d'un moment, il n'est plus possible de tout retenir par coeur.</p>
        <br>
        <p>Il sera donc nécessaire de déléguer une partie de sa mémoire à l'écrit.</p>
        <p>Et inversément, écrire quelque chose permet de mieux le retenir ...</p>
    </div>
    <div class="article_box primary">
        <p>Connaître les différents systèmes de notation permet de trouver beaucoup plus de ressources.</p>
        <p>Et ainsi, de progresser plus rapidement.</p>
        <br>
        <p>Sur notre planète, la langue internationale étant l'anglais.</p>
        <p>Le système de notation anglo-saxon est naturellement devenu une référence.</p>
    </div>
    <div class="article_box">
        <p> - Du point de vue de la francophonie,</p>
        <p>Les musiciens utilisent le système de notation européenne.</p>
        <p>Nous utiliserons les notes Do, Ré, Mi, ...</p>
        <br>
        <p> - Du point de vue international,</p>
        <p>Le système de notation anglo-saxon sera de rigueur.</p>
        <p>Nous utiliserons alors les notes C, D, E, ...</p>
    </div>
    <div class="article_box primary">
        <p>Différentes représentations graphiques sont également à notre portée.</p>
        <p> - Les partitions dites ' classiques '</p>
        <p> - Les TAB's ( Pratique, pour les instruments à cordes )</p>
        <p> - La notation en accords ( <u>exemple</u> : C C Bb F )</p>
    </div>
</div>

<div class="bottom-box"></div>