<div class="scripts">
    <h1>Les Accords</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Un accord, c'est une combinaison d'<span class="link" (click)="setViewMode(viewModes.Intervals)">intervalles</span>.</p>
        <p><u>Exemple</u> :</p>
        <p>Triade majeure :</p>
        <p> ▸ M3, P5.</p>
    </div>
    <div class="article_box primary">
        <p>On peut alors appliquer la formule à partir de n'importe quelle note.</p>
        <p><u>Exemple</u> :</p>
        <p>En partant de Do :</p>
        <p> ▸ Do + Mi + Sol</p>
        <p>En partant de Ré :</p>
        <p> ▸ Ré + Fa# + La</p>
        <p>En partant de Mi :</p>
        <p> ▸ Mi + Sol# + Si</p>
        <p>etc ...</p>
    </div>
    <div class="article_box">
        <p>La condition pour parler d'accord, est d'avoir au minimum 3 notes différentes.</p>
        <p>Do + Sol + Do ( à l'octave ) N'EST PAS UN ACCORD !!</p>
        <p>Nous pouvons ainsi construire des accords de 3 notes ( Triades ), de 4 notes ( Tétrades ), et plus ...</p>
    </div>
</div>