<app-button-top />
<div id="layout-central" *ngIf="linksFlow() as flow">
    <!-- Pagination controls -->
    <div class="row-sticky" *ngIf="flow.length > mpp">
      <div id="pagination">
          <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>  
    </div>     
    <!-- List -->
    <div id="list">
        <div *ngFor="let link of flow | paginate : { itemsPerPage : mpp, currentPage: p }">
          <div class="list-flex"> 
            <a class="list-item link" href="{{ link.url }}" target="_blank" (click)="updateLinkId(link.businessId)"> ▸ {{link.name}}</a>   
            <a class="list-item update" routerLink="/links/update-link" (click)="updateLinkId(link.businessId)">U</a>      
            <a class="list-item delete" routerLink="/links/delete-link" (click)="updateLinkId(link.businessId)">D</a>     
          </div>  
        </div>
    </div>
</div>
<div class="bottom-box"></div>