<div class="edition">
    <h2 class="h2">Edit current franchise</h2>
    <form [formGroup]="formGroup">
      <input type="text" formControlName="name" placeholder="Full Name">
      <input type="text" formControlName="description" placeholder="Description"> 
      <div class="checkboxes" formArrayName="media">
        <div *ngFor="let mediumControl of mediaArray.controls; let i = index" [formGroupName]="i">
          <div class="combo">
            <label [for]="mediumControl.get('name')?.value">{{ mediumControl.get('name')?.value }}</label>
            <input type="checkbox" [id]="mediumControl.get('name')?.value" formControlName="isChecked">
          </div>
        </div>
      </div>
    </form>    
    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="onSubmit()">Submit</a>
    <a class="edition-button" (click)="openDeleteDialog()">Delete</a>
  </div>  
  <div class="spacer-150"></div>
  @if(isDeleteDialogOpen) {
    <app-dialog (dialog)="closeDeleteDialog()">
        <app-delete-franchise [franchise]="franchise" (toggleDialog)="closeDeleteDialogEmit()" />
    </app-dialog>
}