.edit-mood-menu {
    position: fixed;
    top: 61px;
    left: -2px;

    width: 315px;

    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--colorWhiteOpacity5);
    backdrop-filter: blur(3px);
    border: 3px solid var(--colorMain);
    border-radius: 0 15px 15px 0;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

    z-index: 5;

    .button {
        position: relative;
        top: 0;

        margin: 10px;

        .icon {
            height: 50px;
            width: 50px;

            display: flex;
            justify-content: center;
            align-items: center;

            background-color: var(--colorWhiteOpacity4);
            border: 3px solid var(--colorMainOpacity4);
            border-radius: 10px;
            box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);

            transition-duration: 500ms;

            margin-bottom: 5px;
        }

        .icon-text {
            p {
                margin: 0;

                font-size: 9px;
                font-weight: bold;
                text-align: center;
                color: var(--colorMainOpacity7);

                transition-duration: 500ms;
            }
        }
    }

    .button:not(.active):hover {
        cursor: pointer;

        .icon {
            border: 3px solid var(--colorMainOpacity8);
            background-color: var(--colorWhiteOpacity8);
        }

        .icon-text {
            color: var(--colorMain);
        }
    }

    .active {
        .icon {
            border: 3px solid var(--colorMain);
            background-color: var(--colorWhite);
        }

        .icon-text {
            p {
                color: var(--colorMain);
            }
        }
    }
}

@media (max-width: 800px) {
    .edit-mood-menu {
        position: sticky;
        top: 61px;
        left: 0;

        margin: auto;

        border-radius: 15px;

        transform: translateX(0);
    }
}