.moods-gallery
{
    height: 100vh;
    overflow-y: scroll;
    border-right: 3px solid #6b5240;
    min-width: 215px;

    p
    {
        text-align: center;
        color: #6b5240;  
    }

    .pagination-row
    {
        position: sticky;
        bottom: 78px;
        left: 0;
        margin: 0;
        padding: 0;
        font-size: 15px;
        background-color: rgb(255, 255, 255, 0.85);
        border-top: 3px solid #6b5240;
        padding: 5px;

        #pagination
        {
            pagination-controls
            {
                position: relative;
                left: -25px;
                text-align: center;
            }
            .pagination ::ng-deep .ngx-pagination .current 
            {
                background: #6b5240;  
                border-radius: 5px;
            }
        }
    }

    .loading
    {
        position: relative;
        top: 85px;
        font-size: 14px;
    }

    .gallery
    {
        margin-top: 85px;
        padding: 20px;
        padding-top: 20px;
        padding-bottom: 20px;
        columns: 6;
        margin-bottom: 150px;

        transition-duration: 500ms;

        section 
        {
            margin-left: 0px;
            margin-right: 25px;
            margin-top: 0px;
            margin-bottom: 20px;

            img, video
            {
                width: 100%;
                border: 10px solid rgba(255, 255, 255, 0);
                border-radius: 30px;
            }
            img:hover 
            {
                border: 10px solid rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 6px 12px 0px #502a0e;
                cursor: pointer;
                transition-duration: 500ms;
            }
            .vid 
            {
                box-shadow: 0 0 0 1px var(--colorMain);
            }
            .vid-youtube 
            {
                box-shadow: 0 0 0 1px red;
            } 
            .active
            {
                border: 10px solid rgb(255, 255, 255);
                border-radius: 10px;
                box-shadow: 0 6px 12px 0px #502a0e;
                transition-duration: 500ms;
            }
        }
    }
    .menu-open
    {
        margin-right: 330px;
    }

    @media (max-width: 550px) {
        .gallery {
            columns: 2;
        }
    }

    @media (min-width: 551px) and (max-width: 850px) {
        .gallery {
            columns: 3;
        }
    }

    @media (min-width: 851px) and (max-width: 1150px) {
        .gallery {
            columns: 4;
        }
    }

    @media (min-width: 1151px) {
        .gallery {
            columns: 6; // Resets to default for larger screens
        }
    }
}