<p class="sticky-label"><b>{{ selectedMoods().length }}</b> Moods Selected</p>

<app-spacer height="25px" />

<form>
    <div class="multi-tags">
        @for (category of tagsList; track $index) {
        <div class="tags-box">
            <div class="box-category">
                <p>{{category.category.name}}</p>
            </div>
            <div class="overflow">
                <div *ngFor="let tag of category.tagsCheckBoxes">
                    <div>
                        <label [for]="tag.name">
                            <span>{{tag.name}}</span>
                            <input type="checkbox" [id]="tag.name" [checked]="tag.isChecked"
                                (change)="onTagCheckChange(tag)" />
                            <div class="custom-checkbox"></div>
                        </label>
                    </div>
                </div>
            </div>
        </div>
        }
    </div>
</form>

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back page="/moods/mood-manager" />
    <app-bottom-icon-to-top />
    <app-bottom-icon-save (triggerSave)="onSubmit()" />
</app-bottom-bar>