<h1 class="h1">Profile Update</h1>
<div class="row-white">
  <div class="buttons">
    <app-button-back />
  </div>
</div>
<div class="crud-form">
  <form [formGroup]="formGroup">      
    <label for="in_first_name">First Name :</label>
    <input type="text" id="in_first_name" formControlName="firstName">
    <label for="in_last_name">Last Name :</label>
    <input type="text" id="in_last_name" formControlName="lastName">
    <label for="in_birthdate">Birthdate :</label>
    <input type="date" id="in_birthdate" formControlName="birthdate">
  </form> 
</div>
<div class="buttons">
  <div class="button" (click)="onSubmit()">Submit</div>
</div>