@if(galleryType() === galleryTypes.Gallery) {
@if(moods?.length) {
<div [ngClass]="isRightMenuOn() ? 'gallery menu-open' : 'gallery' ">
    <div *ngFor="let mood of moods || [] | paginate : { itemsPerPage : itemsPerPage, currentPage : currentPage() }">
        <section>
            @if(mood.type == 1) {
            <img [class.active]="currentMood?.businessId === mood.businessId"
                [appScrollActive]="currentMood?.businessId === mood.businessId"
                src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}"
                (click)="handleSetMood(mood.businessId)" />
            }
            @if(mood.type == 2) {
            <img [class.active]="currentMood?.businessId === mood.businessId"
                [appScrollActive]="currentMood?.businessId === mood.businessId" class="vid"
                src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg"
                (click)="handleSetMood(mood.businessId)" />
            }
            @if(mood.type == 3) {
            <img [class.active]="currentMood?.businessId === mood.businessId"
                [appScrollActive]="currentMood?.businessId === mood.businessId"
                src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg"
                (click)="handleSetMood(mood.businessId)" />
            }
            @if(mood.type == 4) {
            <img class="vid-youtube" [class.active]="currentMood?.businessId === mood.businessId"
                [appScrollActive]="currentMood?.businessId === mood.businessId"
                [src]="'https://img.youtube.com/vi/' + mood.url + '/hqdefault.jpg'"
                (click)="handleSetMood(mood.businessId)" />
            }
            @if(mood.type == 5) {
            <img [class.active]="currentMood?.businessId === mood.businessId"
                [appScrollActive]="currentMood?.businessId === mood.businessId" [src]="mood.thumbnailUrl"
                (click)="handleSetMood(mood.businessId)" />
            }
        </section>
    </div>
</div>
}
@if(!moods?.length) {
<div class="empty-moods">
    <p>No moods found !</p>
</div>
}
<div class="pagination-row">
    @if(moods && moods.length > itemsPerPage) {
    <div class="pagination">
        <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="setCurrentPage($event)" />
    </div>
    }
</div>

<app-spacer />
}

@if(galleryType() === galleryTypes.Details) {
@if(currentMood) {
<div class="viewer">
    @if(currentMood.type === 1) {
    <div class="type-1">
        <img [style.height.px]="moodSizeToggle() ? 1500 : null"
            src="{{environment}}/Content/img_thumbs/{{currentMood.businessId}}.{{currentMood.extension}}" />
    </div>
    }
    @if(currentMood.type === 2) {
    <div class="type-2">
        <video controls autoplay loop [muted]="true"
            [src]="environment + '/Content/video/' + currentMood.businessId + '.' + currentMood.extension"
            type="video/mp4">
        </video>
    </div>
    }
    @if(currentMood.type === 3) {
    <div class="type-3">
        <!-- Work in Progress -->
    </div>
    }
    @if(currentMood.type === 4) {
    <div class="type-4">
        <iframe width="560" height="315" [src]="safeYouTubeUrl" title="YouTube video player" frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
            referrerpolicy="strict-origin-when-cross-origin" allowfullscreen>
        </iframe>
    </div>
    }
    @if(currentMood.type === 5) {
    <div class="type-5">
        <iframe width="50%" height="166" scrolling="no" frameborder="no" allow="autoplay"
            [src]="safeSoundCloudUrl"></iframe>
    </div>
    }
</div>
}
@else {
<p class="p">No mood selected.</p>
}
}