<app-spacer height="25px" />
<p class="p"><b>{{ selectedMoods().length }}</b> Moods Selected</p>
<div class="row-white">
    <div class="filter">
        <input type="text" [(ngModel)]="searchModel" placeholder="Filter models ..." />
    </div>
    <form [formGroup]="form">
        <div class="form-container">
            <div class="form-flex">
                <div class="form_cat_box">
                    <div *ngFor="let model of filteredModels">
                        <div class="duo">
                            <input type="checkbox" [formControlName]="model.businessId.toString()"
                                id="{{ model.pseudonym }}" />
                            <label [for]="model.pseudonym">{{ model.pseudonym }}</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="buttons">
            <app-button-back />
            <div class="button" (click)="onSubmit()">Submit</div>
        </div>
    </form>
</div>