<div class="scripts">
    <h1>Point de Vue</h1> 
    <div class="article_box">
        <p>Alors, la musique... Comment dirais-je ?</p>
        <p>Disons que c'est un domaine relativement vaste.</p>
        <p>Et qu'il est possible de l'aborder de multiples façons.</p>
    </div>
    <div class="article_box primary">
        <p>Comme il faut bien commencer quelque part, j'ai du en choisir une.</p>
        <p>Ceci étant un choix totalement arbitraire.</p>
        <p>Mais j'ai donc décidé d'aborder la chose à travers le prisme du <b>système tonal</b>.</p>
        <p>Pour être précis : du système tonal moderne associé à la gamme tempérée.</p>
    </div>
    <div class="article_box">
        <p>Bon, peut-être que ces termes ne vous disent pas grand chose pour le moment.</p>
        <p>Mais quelque part, tant mieux si c'est le cas...</p>
        <p>J'aurai donc le privilège de vous faire découvrir tout ça.</p>
        <p>Pour le moment, je vais juste dire qu'en gros, c'est un système d'organisation des fréquences.</p>
    </div>
    <div class="article_box primary">
        <p>Bref, ce n'est par hasard que j'ai choisi cet angle d'approche.</p>
        <p>Déjà, ben c'est le système qui a produit la plupart des oeuvres que vous chérissez.</p>
        <p>Et à vrai dire, c'est le système qui domine largement toute la sphère musicale.</p>
    </div>
    <div class="article_box">
        <p>Bien qu'il existe d'autres systèmes dont nous parlerons aussi.</p>
        <p>Personnellement, je trouve qu'il est bien plus facile de les aborder en venant du tonal, plutôt que l'inverse.</p>
    </div>
    <div class="article_box primary">
        <p>Tout ça, pour dire que :</p>
        <p>Gardez dans un coin de la tête que tant que je ne précise pas le contraire,</p>
        <p>Tout ce que je vais dire va s'inscrire dans le cadre de ce système :</p>
        <p><u>Le système tonal moderne associé à la gamme tempérée</u>.</p>
    </div>
</div>