.layout-standard
{
    display: flex;

    .left-side
    {
        position: sticky;
        top: 0;
        width: 70px;
        height: 100vh;

        display: flex;
        flex-direction: column;

        background-color: rgba(255, 255, 255, 0.8);
        box-shadow: 0 3px 6px 0px rgba(80, 42, 14, 0.3);
        transition-duration: 200ms;
        border-right: 1px solid #6b5240;

        z-index: 10;

        .section-top
        {
            display: flex;
            align-items: center;

            h1
            {
               font-size: 20px; 
            }
            .display-none
            {
                display: none;
            }

            img
            {
                width: 15px;
                height: 15px;
                background-color: rgba(255, 255, 255, 0.7);
                border-radius: 5px;
                border: 1px solid rgba(0, 0, 0, 0.15);
                padding: 10px;
                margin: 15px;
            }
            img:hover
            {
                border: 1px solid #6b5240;
                background-color: rgba(255, 255, 255);
                transition-duration: 500ms;
                cursor: pointer;
            }
            .img-active
            {
                border: 1px solid #6b5240;
            }
        }
        @media screen and (max-width: 1150px) 
        {
            .section-top 
            {
                display: none;
            }
        }
        .section-elements
        {
            height: 100%;

            .element-group
            {
                display: flex;
                align-items: center;

                img
                {
                    width: 25px;
                    height: 25px;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    padding: 5px;
                    margin: 15px; margin-bottom: 5px; margin-top: 5px;
                }
                img:hover
                {
                    cursor: pointer;
                    border: 1px solid #6b5240;
                    transition-duration: 500ms;
                }
                .img-active
                {
                    border: 1px solid #6b5240;
                }
                a
                {
                    display: block;
                    width: 150px;
                    color: #6b5240;
                    text-decoration: none;
                    display: block;
                    margin: 10px;
                    transition-duration: 200ms;
                }
                a:hover
                {
                    text-decoration: underline;
                    margin: 10px;
                    transition-duration: 200ms;
                }
                .display-none
                {
                    display: none;
                }
                .active
                {
                    text-decoration: underline;
                }
            }
        }
        @media screen and (max-width: 1150px) 
        {
            .section-elements
            {
                padding-top: 10px;
            }
        }
        .section-end
        {
            flex-grow: 1;
            margin-bottom: 15px;

            .element-group
            {
                display: flex;
                align-items: center;

                img
                {
                    width: 25px;
                    height: 25px;
                    background-color: rgba(255, 255, 255, 0.7);
                    border-radius: 5px;
                    border: 1px solid rgba(0, 0, 0, 0.15);
                    padding: 5px;
                    margin: 15px; margin-bottom: 5px; margin-top: 5px;
                }
                img:hover
                {
                    cursor: pointer;
                    border: 1px solid #6b5240;
                    transition-duration: 500ms;
                }
                .img-active
                {
                    border: 1px solid #6b5240;
                }
                a
                {
                    display: block;
                    width: 150px;
                    color: #6b5240;
                    text-decoration: none;
                    display: block;
                    margin: 10px;
                    transition-duration: 200ms;
                }
                a:hover
                {
                    text-decoration: underline;
                    margin: 10px;
                    transition-duration: 200ms;
                }
                .display-none
                {
                    display: none;
                }
                .active
                {
                    text-decoration: underline;
                }
            }
        }
    }

    .left-out
    {
        width: 70px;
        transition-duration: 200ms;
    }

    .left-out-full
    {
        width: 250px;
        transition-duration: 200ms;
    }

    .right-side
    {
        width: 100%;

        .section-top
        {
            width: 100%;
            position: sticky;
            top: 0;
            display: flex;
            justify-content: flex-end;

            background-color: rgba(255, 253, 251, 0.8);
            backdrop-filter: blur(3px);

            padding-top: 10px; padding-bottom: 10px;
            border-bottom: 1px solid #6b5240;

            z-index: 5;

            a
            {
                display: block;
                height: 35px;
                width: 100px;
                border-radius: 5px;
                border: 2px solid #413429;
                text-align: center;
                line-height: 35px;
                text-decoration: none;
                background-color:  #6b5240;
                color: white;
                margin-right: 15px;
                font-size: 13px;
            }
            span
            {   
                display: block;
                height: 35px;
                width: 100px;
                border-radius: 5px;
                border: 2px solid #413429;    
                background-color: rgb(192, 192, 192);       
                text-align: center;
                letter-spacing: 1px;
                text-decoration: none;
                color: #666;
                line-height: 35px;
                margin-right: 15px;
                font-size: 13px;
                cursor: not-allowed;
            }
        }
    }
}