<div class="mood-card">
    <div class="form">  
        <form [formGroup]="formGroup">
            <input type="text" formControlName="name" placeholder="{{mood?.name}}">
            <input type="text" formControlName="description" placeholder="{{mood?.description}}">    
        </form>
    </div>
    <div *ngIf="mood?.type == 1">           
        <img src="{{environment}}/Content/img_thumbs/{{mood?.businessId}}.{{mood?.extension}}" />
    </div>
    <div *ngIf="mood?.type == 2">
        <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood?.businessId}}.jpg" />        
    </div>
    <div *ngIf="mood?.type == 3">
        <img src="{{environment}}/Content/txt_thumbs/{{mood?.businessId}}.jpg" />       
    </div>
    <div *ngIf="mood?.type == 4">
        <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood?.businessId}}.jpg" />
    </div>
    <div class="box-score">
        <button (click)="updateMoodScore(-10)">-10</button>
        <button (click)="updateMoodScore(-1)">-1</button>
        <p><b>{{ mood?.score | number : '3.0'}}</b></p>
        <button (click)="updateMoodScore(1)">+1</button>
        <button (click)="updateMoodScore(10)">+10</button>
    </div>
    <div *ngIf="mood?.type === 1 ">
        <div class="item-top flex">
            <p><b>Size</b></p>
            <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Extension</b></p>
            <p>*.{{ typeCheck(mood).extension }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Height</b></p>
            <p>{{ typeCheck(mood).height }} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Width</b></p>
            <p>{{ typeCheck(mood).width }} pixels</p>
        </div>
    </div>
    <div *ngIf="mood?.type === 2 ">
        <div class="item-top flex">
            <p><b>Size</b></p>
            <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Extension</b></p>
            <p>*.{{ typeCheck(mood).extension }}</p>
        </div>
        <div class="item-middle flex">
            <p><b>Height</b></p>
            <p>{{typeCheck(mood).height}} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Width</b></p>
            <p>{{typeCheck(mood).width}} pixels</p>
        </div>
        <div class="item-middle flex">
            <p><b>Duration</b></p>
            <p>{{typeCheck(mood).duration | formatDuration }}</p>
        </div>
    </div>
    <div class="flex_created">
        <div class="box_created">
            <p>Created :</p>
            <p>{{ mood?.created | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
        <div class="box_created">
            <p>Modified :</p>
            <p>{{ mood?.modified | date : 'MMMM d, y | HH:mm' }}</p>
        </div>
    </div>
    <div class="buttons">
        <a [class.disabled]="formGroup.invalid" (click)="update()">Update</a>
        <a (click)="triggerDeleteMood()">Delete</a>
    </div>
    <div [ngClass]="triggerDelete === true ? 'box-delete on-delete' : 'box-delete' " (click)="triggerDeleteMood()">
        <h1>Warning !!</h1>
        <br>
        <p>This will delete mood & all associations permanently</p>
        <br>
        <p>Are you sure ?</p>
        <br>
        <span (click)="deleteMood()">Delete</span>
    </div>
    <div class="bottom-space"></div>
</div>