<div class="scripts">
    <h1>Arsenal Mélodique</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>La voix de la musique... </p>
        <p>Celle qui nous raconte une histoire, celle qui guide nos émotions et capte notre attention...</p>
        <p>C'est ce qu'on appelle : <b>LA MÉLODIE</b> !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Voici donc notre point de départ pour aborder ces différents sujets :</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box primary">
        <p><b> ▸ Les Intervalles Mélodiques</b></p>
    </div>
    <div class="article_box primary">
        <p class="link" (click)="setViewMode(viewModes.Scales)"><b> ▸ Les Gammes</b></p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Les Modes</b></p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Le Timbre</b></p>
    </div>
    <div class="article_box primary">
        <p><b> ▸ Notes d'approche, de passage et ornementations.</b></p>
    </div>
</div>