<div *ngIf="flow() as flow">
    @if(moodMenuState() === 'gallery') {
        @if(flow.moodsGalleryType === 'all') {
            <app-moods-gallery [moods]="flow.moods" (moodId)="updateMoodId($event)" [galleryType]="flow.moodsGalleryType" [currentMoodId]="flow.mood.businessId" />
            <app-dialog *ngIf="showDialog" (dialog)="toggleDialog()">
                <app-dialog-info [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moods.length" />
            </app-dialog>  
            <app-overlay [isOverlayOn]="showDialog" (toggle)="toggleDialog()" />
            <app-bottom-bar [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moods.length" 
                (dialog)="toggleDialog()" (showMultiTag)="updateMoodMenuState('multi-tag') "/>
        }
        @if(flow.moodsGalleryType === 'tag') {
            <p class="sticky-label"> ▸ <b>{{ flow.tag?.name }}</b> - {{ flow.tag?.description }}</p>
            <app-moods-gallery [moods]="flow.moodsByTag" (moodId)="updateMoodId($event)" [galleryType]="flow.moodsGalleryType" [currentMoodId]="flow.mood.businessId" />
            <app-dialog *ngIf="showDialog" (dialog)="toggleDialog()">
                <app-dialog-info [moodsGalleryType]="flow.moodsGalleryType" [entity]="flow.tag" [moodsLength]="flow.moodsByTag.length"/>
            </app-dialog>  
            <app-overlay [isOverlayOn]="showDialog" (toggle)="toggleDialog()" />
            <app-bottom-bar [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moodsByTag.length" 
                (dialog)="toggleDialog()" (showMultiTag)="updateMoodMenuState('multi-tag')"/>
        }
        @if(flow.moodsGalleryType === 'model') {
            <p class="sticky-label"> ▸ <b>{{ flow.model?.pseudonym }}</b></p>
            <app-moods-gallery [moods]="flow.moodsByModel" (moodId)="updateMoodId($event)" [galleryType]="flow.moodsGalleryType" [currentMoodId]="flow.mood.businessId" />
            <app-dialog *ngIf="showDialog" (dialog)="toggleDialog()">
                <app-dialog-info [moodsGalleryType]="flow.moodsGalleryType" [entity]="flow.model" [moodsLength]="flow.moodsByModel.length"/>
            </app-dialog>
            <app-overlay [isOverlayOn]="showDialog" (toggle)="toggleDialog()" />
            <app-bottom-bar [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moodsByModel.length" 
                (dialog)="toggleDialog()" (showMultiTag)="updateMoodMenuState('multi-tag')"/>
        }
        @if(flow.moodsGalleryType === 'artist') {
            <p class="sticky-label"> ▸ <b>{{ flow.artist?.name }}</b></p>
            <app-moods-gallery [moods]="flow.moodsByArtist" (moodId)="updateMoodId($event)" [galleryType]="flow.moodsGalleryType" [currentMoodId]="flow.mood.businessId" />
            <app-dialog *ngIf="showDialog" (dialog)="toggleDialog()">
                <app-dialog-info [moodsGalleryType]="flow.moodsGalleryType" [entity]="flow.artist" 
                [moodsLength]="flow.moodsByArtist.length"/>
            </app-dialog>
            <app-overlay [isOverlayOn]="showDialog" (toggle)="toggleDialog()" />
            <app-bottom-bar [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moodsByArtist.length" 
                (dialog)="toggleDialog()" (showMultiTag)="updateMoodMenuState('multi-tag')" />
        }
        @if(flow.moodsGalleryType === 'franchise') {
            <p class="sticky-label"> ▸ <b>{{ flow.franchise?.name }}</b></p>
            <app-moods-gallery [moods]="flow.moodsByFranchise" (moodId)="updateMoodId($event)" [galleryType]="flow.moodsGalleryType" [currentMoodId]="flow.mood.businessId" />
            <app-dialog *ngIf="showDialog" (dialog)="toggleDialog()">
                <app-dialog-info [moodsGalleryType]="flow.moodsGalleryType" [entity]="flow.franchise" [moodsLength]="flow.moodsByFranchise.length"/>
            </app-dialog>  
            <app-overlay [isOverlayOn]="showDialog" (toggle)="toggleDialog()" />
            <app-bottom-bar [moodsGalleryType]="flow.moodsGalleryType" [moodsLength]="flow.moodsByFranchise.length" 
                (dialog)="toggleDialog()" (showMultiTag)="updateMoodMenuState('multi-tag')"/>
        }
        <app-right-column>
            <app-column-full
              [tags]="flow.tagsWithCategories"
              [currentTagId]="flow.tag?.businessId"
              (tagId)="updateTagId($event)"
              (tagCategoryId)="updateTagCategoryId($event)">
            </app-column-full>
          </app-right-column>
    }

    @if(moodMenuState() === 'details') {
        <app-mood-viewer [mood]="flow.mood" (getIndex)="getPage($event)" />
        
        @if(leftCardIsActive) {
            <app-mood-details 
            [mood]="flow.mood" [artists]="flow.mood.artists" [models]="flow.mood.models" [tags]="flow.mood.tags" [franchises]="flow.mood.franchises"
            (artistId)="updateArtistId($event)" (modelId)="updateModelId($event)" (tagId)="updateTagId($event)" (franchiseId)="updateFranchiseId($event)" />
        }

        <app-right-column>
            <app-related-tags [relatedTags]="flow.mood.tags" [currentTagId]="flow.tag?.businessId" (tagId)="onRelatedTagClicked($event)" />
        </app-right-column>

        @if(flow.moodsGalleryType === 'all') {
            <app-bottom-bar 
            moodsGalleryType="details" [moodsLength]="flow.moods.length" [currentIndex]="flow.moodsIndexes.currentIndex" [diaporamaIsActive]="isDiaporamaActive"
            [moodType]="flow.mood.type"
            (dialog)="toggleDialog()" (openMoodInNewTab)="openMoodInNewTab()" (randomMood)="getRandomMood()" 
            (back)="updateMoodMenuState('gallery')" (getIndex)="getPage($event)" (diaporamaStart)="diaporamaStart($event)" (diaporamaStop)="diaporamaStop()" 
            (leftCard)="leftCardToggle()" (isFocused)="getMoodHeight($event)" (edition)="updateMoodMenuState('edition')"/>
        }
        @if(flow.moodsGalleryType === 'tag') {
            <app-bottom-bar 
            moodsGalleryType="details" [moodsLength]="flow.moodsByTag.length" [currentIndex]="flow.moodsByTagIndexes.currentIndex" [diaporamaIsActive]="isDiaporamaActive"
            [moodType]="flow.mood.type"
            (dialog)="toggleDialog()" (openMoodInNewTab)="openMoodInNewTab()" (randomMood)="getRandomMood()" 
            (back)="updateMoodMenuState('gallery')" (getIndex)="getPage($event)" (diaporamaStart)="diaporamaStart($event)" (diaporamaStop)="diaporamaStop()" 
            (leftCard)="leftCardToggle()" (isFocused)="getMoodHeight($event)" (edition)="updateMoodMenuState('edition')"/>
        }
        @if(flow.moodsGalleryType === 'model') {
            <app-bottom-bar 
            moodsGalleryType="details" [moodsLength]="flow.moodsByModel.length" [currentIndex]="flow.moodsByModelIndexes.currentIndex" [diaporamaIsActive]="isDiaporamaActive" 
            [moodType]="flow.mood.type"
            (dialog)="toggleDialog()" (openMoodInNewTab)="openMoodInNewTab()" (randomMood)="getRandomMood()" 
            (back)="updateMoodMenuState('gallery')" (getIndex)="getPage($event)" (diaporamaStart)="diaporamaStart($event)" (diaporamaStop)="diaporamaStop()" 
            (leftCard)="leftCardToggle()" (isFocused)="getMoodHeight($event)" (edition)="updateMoodMenuState('edition')"/> 
        }
        @if(flow.moodsGalleryType === 'artist') {
            <app-bottom-bar 
            moodsGalleryType="details" [moodsLength]="flow.moodsByArtist.length" [currentIndex]="flow.moodsByArtistIndexes.currentIndex" [diaporamaIsActive]="isDiaporamaActive" 
            [moodType]="flow.mood.type"
            (dialog)="toggleDialog()" (openMoodInNewTab)="openMoodInNewTab()" (randomMood)="getRandomMood()" 
            (back)="updateMoodMenuState('gallery')" (getIndex)="getPage($event)" (diaporamaStart)="diaporamaStart($event)" (diaporamaStop)="diaporamaStop()" 
            (leftCard)="leftCardToggle()" (isFocused)="getMoodHeight($event)" (edition)="updateMoodMenuState('edition')"/>   
        }
        @if(flow.moodsGalleryType === 'franchise') {
            <app-bottom-bar 
            moodsGalleryType="details" [moodsLength]="flow.moodsByFranchise.length" [currentIndex]="flow.moodsByFranchiseIndexes.currentIndex" [diaporamaIsActive]="isDiaporamaActive" 
            [moodType]="flow.mood.type"
            (dialog)="toggleDialog()" (openMoodInNewTab)="openMoodInNewTab()" (randomMood)="getRandomMood()" 
            (back)="updateMoodMenuState('gallery')" (getIndex)="getPage($event)" (diaporamaStart)="diaporamaStart($event)" (diaporamaStop)="diaporamaStop()" 
            (leftCard)="leftCardToggle()" (isFocused)="getMoodHeight($event)" (edition)="updateMoodMenuState('edition')" />
        }
    }

    @if(moodMenuState() === 'edition') {
        <app-edit-mood [mood]="flow.mood" [environment]="environment" (showDetails)="updateMoodMenuState('details')" (showGallery)="updateMoodMenuState('gallery')"/>
    }

    @if(moodMenuState() === 'multi-tag') {
        @if(flow.moodsGalleryType === 'all') {
            <app-multi-tag [moods]="flow.moods" />
            <app-bottom-bar moodsGalleryType="multi-tag" [moodsLength]="flow.moods.length" 
                (back)="updateMoodMenuState('gallery')" />
        }
        @if(flow.moodsGalleryType === 'tag') {
            <app-multi-tag [moods]="flow.moodsByTag" />
            <app-bottom-bar [entityName]="flow.tag?.name" [moodsLength]="flow.moodsByTag.length" moodsGalleryType="multi-tag" 
                (back)="updateMoodMenuState('gallery')" />
        }
        @if(flow.moodsGalleryType === 'model') {
            <app-multi-tag [moods]="flow.moodsByModel" />
            <app-bottom-bar [entityName]="flow.model?.pseudonym" [moodsLength]="flow.moodsByModel.length" moodsGalleryType="multi-tag" 
                (back)="updateMoodMenuState('gallery')" />
        }
        @if(flow.moodsGalleryType === 'artist') {
            <app-multi-tag [moods]="flow.moodsByArtist" />
            <app-bottom-bar [entityName]="flow.artist?.name" [moodsLength]="flow.moodsByArtist.length" moodsGalleryType="multi-tag" 
                (back)="updateMoodMenuState('gallery')" />
        }
        @if(flow.moodsGalleryType === 'franchise') {
            <app-multi-tag [moods]="flow.moodsByFranchise" />
            <app-bottom-bar [entityName]="flow.franchise?.name" [moodsLength]="flow.moodsByFranchise.length" moodsGalleryType="multi-tag" 
                (back)="updateMoodMenuState('gallery')" />
        }
    }
</div>