<!-- To Top Button -->
<app-button-top />

<app-menu-right-desktop *ngIf="franchise() as franchise">
    <div class="content_right_desktop">  
        <!-- Random Mood Button -->
        <div class="item-top box_buttons">
            <a routerLink="/moods/mood-details" (click)="getRandomMood()">Random Mood</a>
        </div>
        <!-- Franchise Details -->
        <h1 class="item-top">{{ franchise.franchise.name}}</h1>
        <div class="item-top flex">
            <p><b>Moods</b></p>
            <p>{{ franchise.moods.length | number : '3.0' }} / <b>{{ franchise.totalMoods | number : '3.0' }}</b></p>
        </div>
        <div class="item-top flex">
            <p><b>Models</b></p>
            <p>{{ franchise.models.length | number : '3.0'}}</p>
        </div>        
        <div>
            <!-- Creation / Modification Data -->
            <div class="item-top flex_created">
                <div class="box_created">
                    <p>Created :</p>
                    <p>{{franchise.franchise.created | date : 'MMMM d, y | HH:mm'}}</p>
                </div>
                <div class="box_created">
                    <p>Modified :</p>
                    <p>{{franchise.franchise.modified | date : 'MMMM d, y | HH:mm'}}</p>
                </div>
            </div> 
        </div>
        <!-- Select All Models Button -->
        <div class="item-top box_buttons">
            <a>Select All Models</a>
        </div>
        <!-- Related Models // Females -->
        <div *ngIf="franchise.modelsF.length !== 0">  
            <div class="item-top picture">
                <img src="../../../../assets/app_icons/gender/female.png">
            </div>    
            <div class="item-top flex">
                <p><b>Models</b></p>
                <p>{{ franchise.modelsF.length | number : '2.0'}}</p>
            </div>   
            <div class="item-top model-flex">
                <div *ngFor="let model of franchise.modelsF">
                    <div *ngIf="model.pseudonym === (model$ | async)?.pseudonym">
                        <a class="active" (click)="getModel(model.businessId)">{{model.pseudonym}}</a>  
                    </div>
                    <div *ngIf="model.pseudonym !== (model$ | async)?.pseudonym">
                        <a (click)="getModel(model.businessId)">{{model.pseudonym}}</a>  
                    </div>              
                </div> 
            </div>
        </div> 
        <!-- Related Models // Males -->
        <div *ngIf="franchise.modelsM.length !== 0">              
            <div class="item-top picture">
                <img src="../../../../assets/app_icons/gender/male.png">
            </div>  
            <div class="item-top flex">
                <p><b>Models</b></p>
                <p>{{ franchise.modelsM.length | number : '2.0'}}</p>
            </div>    
            <div class="item-bottom model-flex">
                <div *ngFor="let model of franchise.modelsM">
                    <div *ngIf="model.pseudonym === (model$ | async)?.pseudonym">
                        <a class="active" (click)="getModel(model.businessId)">{{model.pseudonym}}</a>  
                    </div>
                    <div *ngIf="model.pseudonym!== (model$ | async)?.pseudonym">
                        <a (click)="getModel(model.businessId)">{{model.pseudonym}}</a>  
                    </div>                 
                </div>
            </div>
        </div> 
        <div *ngIf="franchise.franchise.name != '# Unknown Artist'">
            <!-- Search -->
            <div class="item-bottom box_buttons">
                <a target="_blank" href="https://www.google.com/search?q={{franchise.franchise.name}}">Search Google</a>
                <a target="_blank" href="https://images.google.com/images?q={{franchise.franchise.name}}">Google Images</a>
            </div>  

            <!-- Related Links -->
            <!-- <div *ngIf="links.length != 0">
                <h1>Dedicated Links</h1>
                <div class="list_categories" >            
                    <div *ngFor="let l of links">
                        <a target="_blank" href="{{l.url}}">{{l.name}}</a>      
                    </div>
                </div>   
            </div> -->
        </div> 
        <!-- Model Details -->
        <div *ngIf="(model$ | async)?.businessId !== 0">
            <!--  Gender -->
            <div *ngIf="(model$ | async)?.pseudonym !== '# Unknown Model'">
                <div class="item-top picture" *ngIf="(model$ | async)?.gender === 'F'">
                    <img src="../../../../assets/app_icons/gender/female.png">
                </div>  
                <div class="item-top picture" *ngIf="(model$ | async)?.gender === 'M'">
                    <img src="../../../../assets/app_icons/gender/male.png">
                </div>  
            </div>   
            <div *ngIf="(model$ | async)?.pseudonym !== '# Unknown Model'">
                <div class="item-middle flex" *ngIf="(model$ | async)?.firstName !== '...' ">
                    <p><b>First Name</b></p>
                    <p>{{(model$ | async)?.firstName}}</p>
                </div>
                <div class="item-middle flex" *ngIf="(model$ | async)?.lastName !== '...' ">
                    <p><b>Last Name</b></p>
                    <p>{{(model$ | async)?.lastName}}</p>
                </div>
            </div>            
            <div class="item-top list_categories" *ngIf="(model$ | async) as model">
                <a routerLink="/models/model-gallery" (click)="updateModelId(model.businessId)"> ▸ {{ model.pseudonym }}</a>
            </div>            
            <div>
                <!-- Creation / Modification Data -->
                <div class="item-top flex_created">
                    <div class="box_created">
                        <p>Created :</p>
                        <p>{{(model$ | async)?.created | date : 'MMMM d, y | HH:mm'}}</p>
                    </div>
                    <div class="box_created">
                        <p>Modified :</p>
                        <p>{{(model$ | async)?.modified | date : 'MMMM d, y | HH:mm'}}</p>
                    </div>
                </div> 
            </div>
            <div *ngIf="(model$ | async)?.pseudonym != '# Unknown Model'">
                <!-- Search -->            
                <div class="item-bottom box_buttons">
                    <a target="_blank" href="https://www.google.com/search?q={{(model$ | async)?.pseudonym}}">Search Google</a>
                    <a target="_blank" href="https://images.google.com/images?q={{(model$ | async)?.pseudonym}}">Google Images</a>
                </div>   
                <!-- Related Links -->
                <!-- <div *ngIf="links.length != 0">
                    <h1>Dedicated Links</h1>
                    <div class="list_categories" >            
                        <div *ngFor="let l of links">
                            <a target="_blank" href="{{l.url}}">{{l.name}}</a>      
                        </div>
                    </div>   
                </div> -->
            </div> 
        </div>
    </div>
</app-menu-right-desktop>

<div id="layout-central" *ngIf="franchise() as franchise">
    <!-- Pagination -->
    <div class="row-sticky" *ngIf="franchise.moods.length > mpp">
        <div id="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>    
    <!-- Moods Gallery -->
    <div id="sub_gallery">
        <div *ngFor="let m of franchise.moods | paginate : { itemsPerPage: mpp, currentPage: p }">
            <section>
                <div *ngIf="m.type == 1">           
                    <a routerLink="/moods/mood-details" (click)="updateMoodId(m.businessId)">
                        <img src="{{environment}}/Content/img_thumbs/{{m.businessId}}.{{m.extension}}"/>
                    </a>
                </div>
                <div *ngIf="m.type == 2">
                    <a routerLink="/moods/mood-details" (click)="updateMoodId(m.businessId)">
                        <img src="{{environment}}/Content/video_thumbs/{{m.businessId}}.jpg"/>
                    </a>         
                </div>
            </section>
        </div>
    </div>
</div>