<app-button-top />

<div id="layout-central">
    <h1>La Mélodie</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>    
    <div class="article_box">
        <p>Une <b>mélodie</b>, c'est une suite de notes alliant à la fois :</p>
        <p> ▸ Une force rythmique, de par l'organisation de ses notes dans le temps.</p>
        <p> ▸ Une force harmonique, de par l'organisation des intervalles qui la compose.</p>
    </div>
    <div class="article_box primary">
        <p>La mélodie est le guide ultime d'un discours musical.</p>
    </div>
    <div class="article_box">
        <p>Une mélodie puissante, fonctionnera a cappella.</p>
        <p>Mais peut prendre un sens différent lorsque placée dans un contexte harmonique précis.</p>
    </div>
</div>

<div class="bottom-box"></div>