<div class="bar">
    @if(moodsGalleryType === 'all') {
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        @if(user().role === 2) {
            <a (click)="handleShowMultiTag()"><app-icon-edit class="icon" size="25px" /></a>
        }
        <a routerLink="/settings"><app-icon-settings class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'artist') {
        <a class="tweak" *ngIf="entityName"><div class="position"><b>{{entityName}}</b></div></a>
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a (click)="handleDialog()" [class.active]="infoTriggerIsActive === true"><app-icon-info class="icon" appAnimSpin size="25px" /></a>
        <a (click)="handleShowMultiTag()" *ngIf="user().role === 2"><app-icon-edit class="icon" size="25px" /></a>
        @if(entityName != '# Unknown Artist') {
            <a target="_blank" href="https://www.google.com/search?q={{entityName}}"><app-icon-google class="icon" size="25px" /></a>
            <a target="_blank" href="https://images.google.com/images?q={{entityName}}"><app-icon-google-lens class="icon" size="25px" /></a>
        }
        <a routerLink="/settings"><app-icon-settings class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'model') {
        <a class="tweak" *ngIf="entityName"><div class="position"><b>{{entityName}}</b></div></a>
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a (click)="handleDialog()" [class.active]="infoTriggerIsActive === true"><app-icon-info appAnimSpin class="icon" size="25px" /></a>
        <a (click)="handleShowMultiTag()" *ngIf="user().role === 2"><app-icon-edit class="icon" size="25px" /></a>
        @if(entityName != '# Unrelated Model' && entityName != '# Unknown Model') {
            <a target="_blank" href="https://www.google.com/search?q={{entityName}}"><app-icon-google class="icon" size="25px" /></a>
            <a target="_blank" href="https://images.google.com/images?q={{entityName}}"><app-icon-google-lens class="icon" size="25px" /></a>
        }
        <a routerLink="/settings"><app-icon-settings class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'tag') {
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a (click)="handleDialog()" [class.active]="infoTriggerIsActive === true"><app-icon-info appAnimSpin class="icon" size="25px" /></a>
        <a (click)="handleShowMultiTag()" *ngIf="user().role === 2"><app-icon-edit class="icon" size="25px" /></a>
        <a routerLink="/settings"><app-icon-settings class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'franchise') {
        <a class="tweak" *ngIf="entityName"><div class="position"><b>{{entityName}}</b></div></a>
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a (click)="handleDialog()" [class.active]="infoTriggerIsActive === true"><app-icon-info appAnimSpin class="icon" size="25px" /></a>
        <a (click)="handleShowMultiTag()" *ngIf="user().role === 2"><app-icon-edit class="icon" size="25px" /></a>
        @if(entityName != '# Unrelated Franchise') {
            <a target="_blank" href="https://www.google.com/search?q={{entityName}}"><app-icon-google class="icon" size="25px" /></a>
            <a target="_blank" href="https://images.google.com/images?q={{entityName}}"><app-icon-google-lens class="icon" size="25px" /></a>
        }
        <a routerLink="/settings"><app-icon-settings class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'details') {
        <a (click)="handleGetIndex('previous')"><app-icon-arrow-short appAnimGrow class="icon" size="25px" direction="left" /></a>
        <a class="tweak"><div class="position">{{ currentIndex + 1 | number : '4.0'}} / {{moodsLength | number : '4.0'}}</div></a>
        <a (click)="handleGetIndex('next')"><app-icon-arrow-short appAnimGrow class="icon" size="25px" direction="right" /></a>
        <a (click)="handleBackToGallery()"><app-icon-moods class="icon" size="25px" /></a>
        <a class="toggle" *ngIf="!diaporamaIsActive" (click)="handleDiaporamaStart(false)"><app-icon-play class="icon" size="25px" /></a>
        <a class="toggle" *ngIf="!diaporamaIsActive" (click)="handleDiaporamaStart(true)"><app-icon-play-shuffle class="icon" size="25px" /></a>
        <a *ngIf="diaporamaIsActive" (click)="handleDiaporamaStop()"><app-icon-stop class="icon" size="25px" /></a>
        <a (click)="handleLeftCard()"><app-icon-info appAnimSpin class="icon" size="25px" /></a>
        <a (click)="handleEditButton()" *ngIf="user().role === 2"><app-icon-edit class="icon" size="25px" /></a>
        <a class="toggle" (click)="handleToggleFocus()" *ngIf="moodType === 1"><app-icon-wheel class="icon" [ngClass]="{'rotate': focusIsActive, 'rotate-back': !focusIsActive}" size="25px" /></a>
        <span class="toggle" *ngIf="moodType !== 1"><app-icon-wheel class="icon" size="25px" color="grey" /></span>
        <a class="toggle" (click)="handleOpenMoodInNewTab()"><app-icon-open class="icon" size="25px" /></a>
        <a (click)="handleRandomMood()"><app-icon-question appAnimRandom class="icon" size="25px" /></a>
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'link') {
        <a class="tweak" *ngIf="entityName"><div class="position"><b>{{entityName}}</b></div></a>
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'edit-mood') {
        <a (click)="handleShowDetails()"><app-icon-back class="icon" size="25px" /></a>
        <a (click)="handleTriggerSaveMood()"><app-icon-save class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
    }
    @if(moodsGalleryType === 'list-edition'){
        <a class="tweak"><div class="position">{{moodsLength | number : '4.0'}}</div></a>
        <a routerLink="/dashboard"><app-icon-back class="icon" size="25px" /></a>
    }
    @if(moodsGalleryType === 'multi-tag'){
        <a (click)="handleBackToGallery()"><app-icon-back class="icon" size="25px" /></a>
        <a routerLink="/moods/multi-tag-tags"><app-icon-tag class="icon" size="25px" /></a>
        <a routerLink="/moods/multi-tag-artists"><app-icon-artist class="icon" size="25px" /></a>
        <a routerLink="/moods/multi-tag-models"><app-icon-model class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
    }
    @if(moodsGalleryType === 'upload-images'){
        <a (click)="handleBackToGallery()"><app-icon-back class="icon" size="25px" /></a>
        <a (click)="handleTriggerSaveMood()"><app-icon-save class="icon" size="25px" /></a>
        @if(topButtonIsActive) {
            <a appScrollToTop><app-icon-arrow-short class="icon" size="25px" /></a>
        } @else {
            <span><app-icon-arrow-short class="icon" size="25px" color="grey" /></span>
        }
    }
    @if(moodsGalleryType === 'scripts'){
        <a appToggleRightMenu><app-icon-menu-right appAnimGrow class="icon" size="25px" /></a>
    }
</div>