<div class="edition"> 
    <h2 class="h2">Edit current model.</h2>
    <form [formGroup]="formGroup">
        <input type="text" formControlName="pseudonym" value="{{model?.pseudonym}}">
        <input type="text" formControlName="firstName" value="{{model?.firstName}}">
        <input type="text" formControlName="lastName" value="{{model?.lastName}}">
        <input type="text" formControlName="gender" value="{{model?.gender}}">
        <input type="text" formControlName="description" value="{{model?.description}}">    
        <div class="checkboxes" formArrayName="franchises">
            <div *ngFor="let franchise of franchisesArray.controls; let i = index" [formGroupName]="i">
              <div class="combo">
                <label [for]="franchise.get('name')?.value">{{ franchise.get('name')?.value }}</label>
                <input type="checkbox" [id]="franchise.get('name')?.value" formControlName="isChecked">
              </div>
            </div>
          </div>
    </form>
    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="onSubmit()">Update</a>
    <a class="edition-button" (click)="openDeleteDialog()">Delete</a>
</div>
<div class="spacer-150"></div>
@if(isDeleteDialogOpen) {
    <app-dialog (dialog)="closeDeleteDialog()">
        <app-delete-model [model]="model" (toggleDialog)="closeDeleteDialogEmit()" />
    </app-dialog>
}