<div class="mood-card">
    <div class="mood-menu">
        <div [class.active]="isPaneActive(ActivePane.Mood)" (click)="setActivePane(ActivePane.Mood)">
            <img src="../../../../assets/app_icons/icon_mood_001.png"/>
        </div>
        <div [class.active]="isPaneActive(ActivePane.Artists)" (click)="setActivePane(ActivePane.Artists)">
            <img src="../../../../assets/app_icons/artist.png"/>
        </div>
        <div [class.active]="isPaneActive(ActivePane.Models)" (click)="setActivePane(ActivePane.Models)">
            <img src="../../../../assets/app_icons/icon_model_001.png"/>
        </div>
        <div [class.active]="isPaneActive(ActivePane.Tags)" (click)="setActivePane(ActivePane.Tags)">
            <img src="../../../../assets/app_icons/icon_tags_001.png"/>
        </div>
        <div [class.active]="isPaneActive(ActivePane.Franchises)" (click)="setActivePane(ActivePane.Franchises)">
            <img src="../../../../assets/app_icons/icon_franchises_001.png"/>
        </div>
    </div>
    <div *ngIf="isPaneActive(ActivePane.Mood)">
        <div class="form">  
            <form [formGroup]="formGroup">
                <input type="text" formControlName="name" placeholder="{{mood?.name}}">
                <input type="text" formControlName="description" placeholder="{{mood?.description}}">    
            </form>
        </div>
        <div class="flow-score">
            <button (click)="updateMoodScore(-10)">-10</button>
            <button (click)="updateMoodScore(-1)">-1</button>
            <p><b>{{ mood?.score | number : '3.0'}}</b></p>
            <button (click)="updateMoodScore(1)">+1</button>
            <button (click)="updateMoodScore(10)">+10</button>
        </div>
        <div class="mood-view">
            <div *ngIf="mood?.type == 1">           
                <a target="_blank" href="{{environment}}/Content/img_thumbs/{{mood?.businessId}}.{{mood?.extension}}"><img src="{{environment}}/Content/img_thumbs/{{mood?.businessId}}.{{mood?.extension}}" /></a>
            </div>
            <div *ngIf="mood?.type == 2">
                <a target="_blank" href="{{environment}}/Content/video_thumbs/{{mood?.businessId}}.jpg"><img class="vid" src="{{environment}}/Content/video_thumbs/{{mood?.businessId}}.jpg" />   </a>     
            </div>
            <div *ngIf="mood?.type == 3">
                <a target="_blank" href="{{environment}}/Content/txt_thumbs/{{mood?.businessId}}.jpg"><img src="{{environment}}/Content/txt_thumbs/{{mood?.businessId}}.jpg" />  </a>     
            </div>
            <div *ngIf="mood?.type == 4">
                <a target="_blank" href="{{environment}}/Content/youtube_thumbs/{{mood?.businessId}}.jpg"><img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood?.businessId}}.jpg" /></a>
            </div>
        </div>
        <div class="buttons">
            <a [class.disabled]="formGroup.invalid" (click)="update()">Update</a>
            <a (click)="triggerDeleteMood()">Delete</a>
        </div>
        <div *ngIf="mood?.type === 1 ">
            <div class="item-top flex">
                <p><b>Size</b></p>
                <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Extension</b></p>
                <p>*.{{ typeCheck(mood).extension }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Height</b></p>
                <p>{{ typeCheck(mood).height }} pixels</p>
            </div>
            <div class="item-middle flex">
                <p><b>Width</b></p>
                <p>{{ typeCheck(mood).width }} pixels</p>
            </div>
        </div>
        <div *ngIf="mood?.type === 2 ">
            <div class="item-top flex">
                <p><b>Size</b></p>
                <p>{{ typeCheck(mood).size | formatSize:2 }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Extension</b></p>
                <p>*.{{ typeCheck(mood).extension }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Height</b></p>
                <p>{{typeCheck(mood).height}} pixels</p>
            </div>
            <div class="item-middle flex">
                <p><b>Width</b></p>
                <p>{{typeCheck(mood).width}} pixels</p>
            </div>
            <div class="item-middle flex">
                <p><b>Duration</b></p>
                <p>{{typeCheck(mood).duration | formatDuration }}</p>
            </div>
        </div>
        <div class="flex_created">
            <div class="box_created">
                <p>Created :</p>
                <p>{{ mood?.created | date : 'MMMM d, y | HH:mm' }}</p>
            </div>
            <div class="box_created">
                <p>Modified :</p>
                <p>{{ mood?.modified | date : 'MMMM d, y | HH:mm' }}</p>
            </div>
        </div>
        <div [ngClass]="triggerDelete === true ? 'box-delete on-delete' : 'box-delete' " (click)="triggerDeleteMood()">
            <h1>Warning !!</h1>
            <br>
            <p>This will delete mood & all associations permanently</p>
            <br>
            <p>Are you sure ?</p>
            <br>
            <span (click)="deleteMood()">Delete</span>
        </div>
    </div>
    <div *ngIf="isPaneActive(ActivePane.Artists)">
        <ul>
            <div *ngFor="let artist of artists">
                <li [class.active]="artist.businessId === currentArtistId" (click)="handleArtistId(artist.businessId)"> ▸ {{artist.name}}</li>
            </div>
        </ul>
    </div>
    <div *ngIf="isPaneActive(ActivePane.Models)">
        <ul>
            <div *ngFor="let model of models">
                <li [class.active]="model.businessId === currentModelId" (click)="handleModelId(model.businessId)"> ▸ {{model.pseudonym}}</li>
            </div>      
        </ul>
    </div>
    <div *ngIf="isPaneActive(ActivePane.Tags)">
        <ul>
            <div *ngFor="let tag of tags">
                <li [class.active]="tag.businessId === currentTagId" (click)="handleTagId(tag.businessId)"> ▸ {{tag.name}}</li>
            </div>          
        </ul>
    </div>
    <div *ngIf="isPaneActive(ActivePane.Franchises)">
        <ul>
            <div *ngFor="let franchise of franchises">
                <li [class.active]="franchise.businessId === currentFranchiseId" (click)="handleFranchiseId(franchise.businessId)"> ▸ {{franchise.name}}</li>
            </div>          
        </ul>
    </div>
    <div class="bottom-space"></div>
</div>