<div class="edition">
  <h2 class="h2">Edit current artist</h2>

  <form [formGroup]="formGroup">
    <input type="text" formControlName="name" placeholder="Name">
    <input type="text" formControlName="description" placeholder="Description">

    <div class="checkboxes" formArrayName="styles">
      <div *ngFor="let style of stylesArray.controls; let i = index" [formGroupName]="i">
        <div class="combo">
          <label [for]="style.get('name')?.value">{{ style.get('name')?.value }}</label>
          <input type="checkbox" [id]="style.get('name')?.value" formControlName="isChecked">
        </div>
      </div>
    </div>
  </form>

  <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="updateArtist()">Submit</a>
  <a class="edition-button" (click)="toggleDialog()">Delete</a>
</div>

<app-spacer />

<app-dialog>
  <app-delete-artist [artist]="artist" (setViewMode)="handleSetViewMode()" />
</app-dialog>