<div id="layout-central" *ngIf="mood() as flow">
    <!-- // Viewer    -->
    <div id="viewer">
        <!-- Image -->
        <div class="mood-image" *ngIf="flow.mood.type === 1">
            <div id="mood_content" >
                <img [ngStyle]="{'height.px' : moodHeight}"
                src="{{environment}}/Content/img_thumbs/{{flow.mood.businessId}}.{{flow.mood.extension}}" />
            </div>
            <div (click)="getPage('previous')" id="page_previous"></div>
            <div (click)="getPage('next')" id="page_next"></div>
        </div>
        <!-- Video -->
        <div class="mood-video" *ngIf="flow.mood.type === 2">
            <div class="video-container">
                <video
                    controls
                    autoplay
                    loop
                    [muted]="true"
                    src="{{environment}}/Content/video/{{flow.mood.businessId}}.{{flow.mood.extension}}"
                    type="video/mp4">
                </video>
            </div>
        </div>
        <!-- Video YouTube -->
        <div class="mood-video" *ngIf="flow.mood.type === 4">
            <div class="video-container">
                <div class="youtube" *ngIf="flow.media" [innerHTML]="getSafeContent(typeCheck(flow.media).url)"></div>
            </div>
        </div>
    </div>
</div>

<div class="bar" *ngIf="moods() as moods">
    <!-- Previous Page -->
    <a (click)="getPage('previous')">
        <img src="../../../../assets/app_icons/arrow_left.png" />
    </a>
    <!-- Mood Position -->
    <a><div class="position">{{ moods.currentIndex + 1 | number : '4.0'}} / {{moods.moodsList.length | number : '4.0'}}</div></a>
    <!-- Next Page -->
    <a (click)="getPage('next')">
        <img src="../../../../assets/app_icons/arrow_right.png" />
    </a>
    <!-- Go Back -->
    <a routerLink="/moods/gallery">
        <img src="../../../../assets/app_icons/icon_moods_001.png" />
    </a>
    <!-- Toggle Size -->
    <a (click)="toggleFocus()" class="toggle" *ngIf="mood().mood.type === 1">
        <img [ngClass]="{'rotate': isFocused, 'rotate-back': !isFocused}" src="../../../../assets/app_icons/toggle.png" />
    </a>
    <!-- Diaporama -->
    <a *ngIf="intervalId === undefined" (click)="diaporamaStart(false)">
        <img src="../../../../assets/app_icons/play.png" />
    </a>
    <div *ngIf="diaporamaSwitch">
        <a *ngIf="intervalId !== undefined" (click)="diaporamaStop()">
            <img src="../../../../assets/app_icons/stop.png" />
        </a>
    </div>
    <a *ngIf="intervalId === undefined" (click)="diaporamaStart(true)">
        <img src="../../../../assets/app_icons/play-random.png" />
    </a>
    <div *ngIf="!diaporamaSwitch">
        <a *ngIf="intervalId !== undefined" (click)="diaporamaStop()">
            <img src="../../../../assets/app_icons/stop.png" />
        </a>
    </div>
    <!-- Edit Mood -->
    <a class="toggle" routerLink="/moods/mood-details-edit">
        <img src="../../../../assets/app_icons/edit.png" />
    </a>
    <!-- Show Tags -->
    <a class="toggle" routerLink="/moods/mood-details-tags">
        <img src="../../../../assets/app_icons/icon_hamburger_right_001.png" />
    </a>
    <!-- Random Button -->
    <a (click)="getRandomMood()">
        <img appAnimRandom src="../../../../assets/app_icons/random.png" tabindex="0" />
    </a>
    <!-- Open File / Download -->
    <a (click)="openDownload()">
        <img src="../../../../assets/app_icons/download.png" />
    </a>
</div>