<app-menu-right-desktop *ngIf="mood() as flow">
    <div class="content_right_desktop">
        <!-- Random Button -->
        <div class="item-top box_buttons">
            <a (click)="getRandomMood()">Random Mood</a>
        </div>
        <!-- Mood Details -->
        <div class="item-top flex" *ngIf="moods() as moods">
            <p><b>Mood</b></p>
            <p>{{ moods.currentIndex + 1 | number : '3.0'}} / {{moods.moodsList.length | number : '3.0'}}</p>
        </div>
        <!-- Related Tags -->
        <h1 class="item-top">Tags ( {{ flow.tags.length }} )</h1>
        <div class="item-bottom list_categories">
            <div *ngFor="let tag of flow.tags">
                <div>
                    <a routerLink="/moods/gallery"
                        [ngClass]="tag.businessId === moods().tagDetails?.businessId ? 'active' : '' "
                        (click)="updateTagId(tag.businessId)">
                        {{tag.name}}
                    </a>
                </div>
            </div>
        </div>
        <!-- Diaporama -->
        <h1 class="item-top">Diaporama</h1>
        <div class="item-top box_buttons_flex">
            <a *ngIf="intervalId === undefined" (click)="diaporamaStart(false)">Play</a>
            <div *ngIf="diaporamaSwitch">
                <a *ngIf="intervalId !== undefined" (click)="diaporamaStop()">Stop</a>
            </div>
            <a *ngIf="intervalId === undefined" (click)="diaporamaStart(true)">Play</a>
            <div *ngIf="!diaporamaSwitch">
                <a *ngIf="intervalId !== undefined" (click)="diaporamaStop()">Stop</a>
            </div>
        </div>
        <!-- Options -->
        <div class="item-top box_buttons">
            <!-- Focus -->
            <a (click)="toggleFocus()" *ngIf="isFocused === true" class="active" >Toggle Size</a>
            <a (click)="toggleFocus()" *ngIf="isFocused === false">Toggle Size</a>
            <!-- Download -->
            <a (click)="openDownload()">Open / Download</a>
        </div>
        <!-- Score Settings -->
        <div *ngIf="userService.appUser.role === 2">
            <div class="item-top box-score">
                <button (click)="updateMoodScore(flow.mood.businessId, -10)">-10</button>
                <button (click)="updateMoodScore(flow.mood.businessId, -1)">-1</button>
                <p><b>{{ flow.mood.score | number : '3.0'}}</b></p>
                <button (click)="updateMoodScore(flow.mood.businessId, 1)">+1</button>
                <button (click)="updateMoodScore(flow.mood.businessId, 10)">+10</button>
            </div>
        </div>
        <!-- Related Models -->
        <h1 class="item-top">Starring</h1>
        <div class="item-top box_buttons">
            <div *ngFor="let model of flow.models">
                <a routerLink="/models/model-gallery" (click)="updateModelId(model.businessId)">{{model.pseudonym}}</a>
            </div>
        </div>
        <!-- Related Franchises -->
        <h1 class="item-top">From</h1>
        <div class="item-top box_buttons">
            <div *ngFor="let franchise of flow.franchises">
                <a routerLink="/franchises/franchise-gallery" (click)="updateFranchiseId(franchise.businessId)">{{franchise.name}}</a>
            </div>
        </div>
        <!-- Related Artists -->
        <h1 class="item-top">Art By</h1>
        <div class="item-top box_buttons">
            <div *ngFor="let artist of flow.artists">
                <a routerLink="/artists/artist-gallery" (click)="updateArtistId(artist.businessId)">{{artist.name}}</a>
            </div>
        </div>
        <!-- Mood Settings -->
        <div *ngIf="userService.appUser.role === 2">
            <div class="item-top list_categories">
                <span>▸ Mood | Title & Description</span>
                <span>▸ Mood | Tags</span>
                <span>▸ Mood | Artists</span>
                <span>▸ Mood | Models</span>
                <span>▸ Mood | Delete</span>
            </div>
        </div>
        <!-- Mood Type : IMAGE -->
        <div *ngIf="flow.mood.type === 1 ">
            <div class="item-middle flex">
              <p><b>Size</b></p>
              <p>{{ typeCheck(flow.media).size | formatSize:2 }}</p>
            </div>
            <div class="item-middle flex">
              <p><b>Extension</b></p>
              <p>*.{{ typeCheck(flow.media).extension }}</p>
            </div>
            <div class="item-middle flex">
              <p><b>Height</b></p>
              <p>{{ typeCheck(flow.media).height }} pixels</p>
            </div>
            <div class="item-middle flex">
              <p><b>Width</b></p>
              <p>{{ typeCheck(flow.media).width }} pixels</p>
            </div>
          </div>
        <!-- Mood Type : VIDEO -->
        <div *ngIf="flow.mood.type === 2 ">
            <div class="item-middle flex">
                <p><b>Size</b></p>
                <p>{{ typeCheck(flow.media).size | formatSize:2 }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Extension</b></p>
                <p>*.{{ typeCheck(flow.media).extension }}</p>
            </div>
            <div class="item-middle flex">
                <p><b>Height</b></p>
                <p>{{typeCheck(flow.media).height}} pixels</p>
            </div>
            <div class="item-middle flex">
                <p><b>Width</b></p>
                <p>{{typeCheck(flow.media).width}} pixels</p>
            </div>
            <div class="item-middle flex">
                <p><b>Duration</b></p>
                <p>{{typeCheck(flow.media).duration | formatDuration }}</p>
            </div>
        </div>
        <!-- Auditable Info -->
        <div class="item-bottom flex_created">
            <div class="box_created">
                <p>Created :</p>
                <p>{{ flow.mood.created | date : 'MMMM d, y | HH:mm' }}</p>
            </div>
            <div class="box_created">
                <p>Modified :</p>
                <p>{{ flow.mood.modified | date : 'MMMM d, y | HH:mm' }}</p>
            </div>
        </div>
    </div>
</app-menu-right-desktop>

<div id="layout-central" *ngIf="mood() as flow">
    <!-- // Viewer    -->
    <div id="viewer">
        <!-- Image -->
        <div class="mood-image" *ngIf="flow.mood.type === 1">
            <div id="mood_content" >
                <img [ngStyle]="{'height.px' : moodHeight}"
                src="{{environment}}/Content/img_thumbs/{{flow.mood.businessId}}.{{flow.mood.extension}}" />
            </div>
            <div (click)="getPage('previous')" id="page_previous"></div>
            <div (click)="getPage('next')" id="page_next"></div>
        </div>
        <!-- Video -->
        <div class="mood-video" *ngIf="flow.mood.type === 2">
            <div class="navigation">
                <a (click)="getPage('previous')"><img src="../../../../assets/app_icons/arrow_left.png" /></a>
                <h1>Navigation</h1>
                <a (click)="getPage('next')"><img src="../../../../assets/app_icons/arrow_right.png" /></a>
            </div>
            <div class="video-container">
                <video
                    controls
                    autoplay
                    loop
                    [muted]="true"
                    src="{{environment}}/Content/video/{{flow.mood.businessId}}.{{flow.mood.extension}}"
                    type="video/mp4">
                </video>
            </div>
        </div>
        <!-- Video YouTube -->
        <div class="mood-video" *ngIf="flow.mood.type === 4">
            <div class="navigation">
                <a (click)="getPage('previous')"><img src="../../../../assets/app_icons/arrow_left.png" /></a>
                <h1>Navigation</h1>
                <a (click)="getPage('next')"><img src="../../../../assets/app_icons/arrow_right.png" /></a>
            </div>
            <div class="video-container">
                <div *ngIf="flow.media" [innerHTML]="getSafeContent(typeCheck(flow.media).url)"></div>
            </div>
        </div>
    </div>
</div>