<div id="container_wheel">
  <img #wheel id="wheel" src="../../../../assets/app_tools/wheel.png" />
  <img src="../../../../assets/app_tools/wheel_focus.png" />
</div>

<div class="wheel-controls mobile">
  <a (click)="rotateImage(30)"><img appAnimGrow src="../../../../assets/app_icons/arrow_left.png" /></a>
  <a routerLink="/tools"><img src="../../../../assets/app_icons/icon_tools_001.png" /></a>
  <a (click)="randomPosition()"><img appAnimRandom src="../../../../assets/app_icons/random.png" /></a>
  <a (click)="rotateImage(-30)"><img appAnimGrow src="../../../../assets/app_icons/arrow_right.png" /></a>
</div>

<div class="wheel-controls desktop">
  <a (click)="rotateImage(30)"><img appAnimGrow src="../../../../assets/app_icons/arrow_left.png" /></a>
  <a routerLink="/tools"><img src="../../../../assets/app_icons/icon_tools_001.png" /></a>
  <a (click)="randomPosition()"><img appAnimRandom src="../../../../assets/app_icons/random.png" /></a>
  <a (click)="rotateImage(-30)"><img appAnimGrow src="../../../../assets/app_icons/arrow_right.png" /></a>
</div>