footer {
    height: 150px;
    background-color: var(--colorFooter);

    display: flex;
    justify-content: center;
    align-items: center;

    p {
        font-size: 15px;
        color: var(--colorWhiteOpacity8)
    }
}