<svg
  [style.width]="size"
  [style.height]="size"
  [style.fill]="getColor()"
  viewBox="0 0 200 200"
  xmlns="http://www.w3.org/2000/svg"
>
  <!-- Line 1 -->
  <rect x="80" y="25"  width="40" height="40" />
  <rect x="135" y="25" width="40" height="40" />

  <!-- Line 2 -->
  <rect x="25" y="80"  width="40" height="40" />
  <rect x="80" y="80"  width="40" height="40" />
  <rect x="135" y="80" width="40" height="40" />

  <!-- Line 3 -->
  <rect x="25" y="135" width="40" height="40" />
  <rect x="80" y="135" width="40" height="40" />
  <rect x="135" y="135" width="40" height="40" />
</svg>