<div class="edition">
    <div class="edition-selection">
        <p *ngIf="modelsFlow()?.model"><b>{{ modelsFlow()?.model?.pseudonym }}</b></p>
        <p *ngIf="!modelsFlow()?.model">Please, select a model from the list.</p>
        
        <div class="edition-buttons">
            <app-icon-list (click)="setViewMode(viewModes.ListView)" class="icon" [class.active]="currentViewMode === viewModes.ListView" size="25px" />
            <app-icon-plus (click)="setViewMode(viewModes.ModelCreationView)" class="icon" [class.active]="currentViewMode === viewModes.ModelCreationView" size="25px" />
            
            @if(modelsFlow()?.model) {
                <app-icon-edit (click)="setViewMode(viewModes.ModelEditionView)" class="icon" [class.active]="currentViewMode === viewModes.ModelEditionView" size="25px" />
                <app-icon-go class="icon" size="25px" (click)="go()" />
            }
        </div>
    </div>

    @if(currentViewMode === viewModes.ListView) {
        <div class="filter"><input type="text" [ngModel]="searchModelsSignal()" (ngModelChange)="handleSearchModelsChange($event)" placeholder="Filter models ..." /></div>

        <div class="edition-list">
            <div *ngFor="let model of filterModels() | paginate: { itemsPerPage: elementsPerPage, currentPage: displayPage() }">
                <a [class.active]="model.pseudonym === modelsFlow()?.model?.pseudonym" (click)="setModelId(model.businessId)"><span>{{ model.description }}</span> ▸ {{ model.pseudonym }}</a>
            </div>
        </div>
        @if(filterModels().length > elementsPerPage) {
            <div class="pagination-row">
                <div class="pagination">
                    <pagination-controls (pageChange)="onPageChange($event)" previousLabel="" nextLabel="" class="pagination" />
                </div>
            </div>
        }
    }
    @if(currentViewMode === viewModes.ModelCreationView) {
        <app-create-model [franchises]="franchisesFlow()?.franchises || []" (setViewMode)="setViewMode(viewModes.ListView)" />
    }
    @if(currentViewMode === viewModes.ModelEditionView) {
        <app-edit-model [model]="modelsFlow()?.model" (setViewMode)="setViewMode(viewModes.ListView)" />
    }
</div>

<app-spacer />

<app-bottom-bar>
    <app-bottom-icon-back />
    <app-bottom-items-length [itemsLength]="modelsFlow()?.models?.length" />
</app-bottom-bar>