<!-- Left Menu -->
<div class="menu-left" [ngClass]="menuCustom.menuCustomOn === true ? 'menu-on' : 'menu-off'">
    <div class="menu-grid">
        <!-- Section Left -->
        <div class="grid-section-left">
            <!-- Menu Trigger -->
            <div class="trigger">
                <img [ngClass]="menuCustom.menuCustomOn ? 'img-active' : '' " 
                src="../../../../assets/app_icons/icon_hamburger_001.png" 
                (click)="menuCustom.triggerMenuCustom()" />
            </div>
            <img class="logo" src="../../../../assets/app_logos/fp_logo_03.png">
        </div>
    </div>
    <div class="scroll">
        <div class="menu-elements">
            <!-- User ( Not Connected ) -->
            <div *ngIf="userService.appUser.role !== 1 && userService.appUser.role !== 2">
                <a routerLink="/home" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>Home</p>
                </a>
                <a routerLink="/about" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_about_001.png" />
                    <p>About</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>Tools</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>Links</p>
                </a>
            </div>
            <!-- User ( Connected ) -->
            <div *ngIf="authService.isConnectedSub && userService.appUser.role === 1">
                <a routerLink="/home" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>Home</p>
                </a>
                <a routerLink="/about" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_about_001.png" />
                    <p>About</p>
                </a>
                <a routerLink="/moods" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/tags" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>Tools</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>Links</p>
                </a>
            </div>
            <!-- Administrator -->
            <div *ngIf="authService.isConnectedSub && userService.appUser.role === 2">
                <a routerLink="/dashboard/home" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_home_001.png" />
                    <p>Dashboard</p>
                </a>
                <a routerLink="/franchises/gallery" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_franchises_001.png" />
                    <p>Medias</p>
                </a>
                <a routerLink="/moods/gallery" routerLinkActive="active" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_moods_001.png" />
                    <p>Moods</p>
                </a>
                <a routerLink="/moods/mood-details" routerLinkActive="active" routerLinkActive="active" 
                    [routerLinkActiveOptions]="{exact: true}" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_mood_001.png" />
                    <p>Mood</p>
                </a>
                <a routerLink="/tags/gallery" routerLinkActive="active" (click)="menuTrigger()"
                    [routerLinkActiveOptions]="{exact: true}">
                    <img src="../../../../assets/app_icons/icon_tags_001.png" />
                    <p>Tags</p>
                </a>
                <a routerLink="/scripts" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_scripts_001.png" />
                    <p>Scripts</p>
                </a>
                <a routerLink="/tools" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_tools_001.png" />
                    <p>Tools</p>
                </a>
                <a routerLink="/links" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_links_001.png" />
                    <p>Links</p>
                </a> 
            </div>
            <!-- User ( Not Connected ) -->
            <div *ngIf="userService.appUser.role !== 1 && userService.appUser.role !== 2">
                <a class="user" routerLink="/authentication/register" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/icon_artists_001.png" />
                    <p>{{userService.appUser.firstName}}</p>
                </a>
            </div>
            <!-- User ( Connected ) -->
            <div *ngIf="authService.isConnectedSub && userService.appUser.role === 1">
                <a class="user" routerLink="/users/user-details" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/mood.png" />
                    <p>{{userService.appUser.firstName}}</p>
                </a>          
            </div>
            <!-- Administrator -->
            <div *ngIf="authService.isConnectedSub && userService.appUser.role === 2">
                <a class="user" routerLink="/users/user-details" routerLinkActive="active" (click)="menuTrigger()">
                    <img src="../../../../assets/app_icons/mood.png" />
                    <p>{{userService.appUser.firstName}}</p>
                </a>        
            </div>
        </div>
        <div class="menu-footer">
            <p>© {{currentYear}} <a routerLink="/about" (click)="menuTrigger()">Flying PAD</a>
        </div>
    </div>
</div>

<!-- Overlay -->
<div class="overlay" [class.overlay-hidden]="menuCustom.menuCustomOn === false" (click)="menuTrigger()"></div>

<!-- Header -->
<header>
    <div class="header-grid">
        <!-- Section Left -->
        <div class="grid-section-left">
            <!-- Menu Trigger -->
            <div class="trigger">
                <img [class.img-active]="menuCustom.menuCustomOn === true" 
                src="../../../../assets/app_icons/icon_hamburger_001.png" 
                (click)="menuCustom.triggerMenuCustom()" />
            </div>
            <img class="logo" src="../../../../assets/app_logos/fp_logo_03.png">
        </div>
        <!-- Section Middle -->
        <div class="grid-section-middle">
            <!-- <p>Search</p> -->
        </div>
        <!-- Section Right -->
        <div class="grid-section-right">
            <!-- Login -->
            <div class="login" *ngIf="!(authService.isConnectedSub | async)">
                <a routerLink="/authentication/login">
                    <img [class.img-active]="menuCustom.menuCustomOn === true" 
                    src="../../../../assets/app_icons/login.png" />
                </a>
            </div>
            <!-- Logout -->
            <div class="login" *ngIf="authService.isConnectedSub | async">
                <a routerLink="/home" (click)="logout()">
                    <img [class.img-active]="menuCustom.menuCustomOn === true" 
                    src="../../../../assets/app_icons/logout.png" />
                </a>
            </div>
        </div>
    </div>
</header>

<!-- Page Content ( Router Outlet )-->
<div class="content"><router-outlet /></div>