/*  Flying PAD | SCSS Global Variables
   ========================================================================== */

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the theme object.
$front-ng18-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
:root 
{
    @include mat.all-component-themes($front-ng18-theme);

    // Break Points :

    --mobile :          450px;
    --tablet-small :    768px;
    --tablet :          992px;
    --desktop :         1024px;

    // Main Colors :

    --colorMain :        #6b5240;

    // CRUD Colors :

    --colorGreen :       green;
    --colorOrange :      orange;
    --colorRed :         red;
    --colorWhite :       white;

    // Fonts & Typography : 

    --fontFamily : 'Open Sans', sans-serif;

    $sizeH1 : 17px;
    $sizeH2 : 16px;
    $sizeH3 : 15px;

    // Logos : 

    --logoFull : url(/assets/app_logos/fp_logo_01.png);
    --logoSmall : url(/assets/app_logos/fp_logo_02.png);

    // Icons :

    --hamburger : url(/assets/app_icons/icon_hamburger_001.png);
    --hamburgerLeft : url(/assets/app_icons/icon_hamburger_left_001.png);
    --hamburgerRight : url(/assets/app_icons/icon_hamburger_right_001.png);

    // Backgrounds & Textures :

    --texture001 : url(/assets/app_backgrounds/texture_001.jpg);

    // - Borders :

    --border : 1px;
}

// Comment out the line below if you want to use the pre-defined typography utility classes.
// For more information: https://material.angular.io/guide/typography#using-typography-styles-in-your-application.
// @include mat.typography-hierarchy($front-ng18-theme);

// Comment out the line below if you want to use the deprecated `color` inputs.
// @include mat.color-variants-backwards-compatibility($front-ng18-theme);