<svg [attr.width]="size" [attr.height]="size" viewBox="0 0 199.46988 99.906921">
    <g transform="translate(-0.24707682,-50.081608)" id="g3862">
        <g transform="translate(0.67340029,-0.33670034)">
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="146.5159" id="rect3810"
                [style.fill]="staffColor"
                style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="122.4915" id="rect3810-9"
                [style.fill]="staffColor"
                style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="98.467102" id="rect3810-6"
                [style.fill]="staffColor"
                style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="74.442703" id="rect3810-2"
                [style.fill]="staffColor"
                style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
            <rect width="199.46988" height="3.8093295" x="-0.42632347" y="50.418308" id="rect3810-4"
                [style.fill]="staffColor"
                style="display:inline; overflow:visible; visibility:visible; opacity:0.25; fill-opacity:1; fill-rule:evenodd; stroke:none; stroke-width:2; marker:none; enable-background:accumulate" />
        </g>
        <g>
            <ellipse transform="matrix(1.0417702,0,0,0.99368848,-3.2711109,48.269236)" id="path3185" cx="93.412224"
                cy="37.343243" rx="6.7109594" ry="7.0356832" [style.fill]="getNoteColor()"
                [style.stroke]="getNoteColor()" />
            <path sodipodi:nodetypes="cc" transform="translate(0.24707682,46.942827)" id="path3189"
                d="m 99.370497,74.904143 c 0,-0.980054 11.690643,-41.407291 11.690643,-41.407291"
                style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
                [style.stroke]="getNoteColor()" />
            <path sodipodi:nodetypes="ccc" transform="translate(0.24707682,46.942827)" id="path3191"
                d="m 93.352286,44.390585 c 5.469166,0.374434 15.719444,-1.00955 17.568844,-10.508711 -2.35588,3.713543 -2.43934,10.948646 -16.135887,7.77043"
                style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
                [style.stroke]="getNoteColor()" />
            <g transform="translate(167.4375,12.875)">
                <ellipse transform="matrix(1.0417702,0,0,0.99368848,-163.94962,11.395885)" id="path3185-0"
                    cx="93.412224" cy="37.343243" rx="6.7109594" ry="7.0356832" [style.fill]="getNoteColor()"
                    [style.stroke]="getNoteColor()" />
                <path id="path3189-7" sodipodi:nodetypes="cc"
                    d="m -56.192219,67.910357 c 0,-0.980054 6.821925,-24.344029 6.821925,-24.344029"
                    style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
                    [style.stroke]="getNoteColor()" />
                <path id="path3191-6" sodipodi:nodetypes="ccc"
                    d="m -67.079149,54.460061 c 5.469167,0.374434 15.719445,-1.00955 17.568845,-10.508711 -2.35588,3.713543 -2.43934,10.948646 -16.135888,7.77043"
                    style="fill:none; stroke-width:3; stroke-linecap:butt; stroke-linejoin:miter; stroke-opacity:1"
                    [style.stroke]="getNoteColor()" />
            </g>
        </g>
    </g>
</svg>