<div class="flow">
    <div class="flow-toolbar toolbar-top">
        <div class="toolbar-card" (click)="goBack()">
            <div class="card-title">
                <img src="../../../assets/app_icons/arrow_left.png" />
                <p>Dashboard</p>
            </div>
        </div>

        <div [class.active]="showMoods" class="toolbar-card" (click)="toggleMoods()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_moods_001.png" />
                <p>Moods</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.moods?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showTags" class="toolbar-card" (click)="toggleTags()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_tags_001.png" />
                <p>Tags</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.tags?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showTagCategories" class="toolbar-card" (click)="toggleTagCategories()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Tag Categories</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.tagCategories?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showTagsByCategory" class="toolbar-card" (click)="toggleTagsByCategory()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_tags_001.png" />
                <p>Tags By Category</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.tags?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showMoodsByTag" class="toolbar-card" (click)="toggleMoodsByTag()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_moods_001.png" />
                <p>Moods By Tag</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.moodsByTag?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showArtists" class="toolbar-card" (click)="toggleArtists()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_artists_001.png" />
                <p>Artists</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.artists?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showStyles" class="toolbar-card" (click)="toggleStyles()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Styles</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.styles?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showArtistsByStyle" class="toolbar-card" (click)="toggleArtistsByStyle()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_artists_001.png" />
                <p>Artists By Style</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.artistsByStyle?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showMoodsByArtist" class="toolbar-card" (click)="toggleMoodsByArtist()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_moods_001.png" />
                <p>Moods By Artist</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.moodsByArtist?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showFranchises" class="toolbar-card" (click)="toggleFranchises()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_franchises_001.png" />
                <p>Franchises</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.franchises?.length || '0' }} )</p>
            </div>
        </div>
        
        <div [class.active]="showMedias" class="toolbar-card" (click)="toggleMedias()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Medias</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.medias?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showFranchisesByMedia" class="toolbar-card" (click)="toggleFranchisesByMedia()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_franchises_001.png" />
                <p>Franchises By Media</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.franchisesByMedia?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showMoodsByFranchise" class="toolbar-card" (click)="toggleMoodsByFranchise()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_moods_001.png" />
                <p>Moods By Franchise</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.moodsByFranchise?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showModels" class="toolbar-card" (click)="toggleModels()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_model_001.png" />
                <p>Models</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.models?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showModelsByFranchise" class="toolbar-card" (click)="toggleModelsByFranchise()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_model_001.png" />
                <p>Models By Franchise</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.modelsByFranchise?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showMoodsByModel" class="toolbar-card" (click)="toggleMoodsByModel()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_moods_001.png" />
                <p>Moods By Model</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.moodsByModel?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showLinks" class="toolbar-card" (click)="toggleLinks()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_links_001.png" />
                <p>Links</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.links?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showLinkCategories" class="toolbar-card" (click)="toggleLinkCategories()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Link Categories</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.linkCategories?.length || '0' }} )</p>
            </div>
        </div>

        <div [class.active]="showLinksByCategory" class="toolbar-card" (click)="toggleLinksByCategory()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_links_001.png" />
                <p>Links By Category</p>
            </div>
            <div class="card-info">
                <p>( {{ flow()?.linksByCategory?.length || '0' }} )</p>
            </div>
        </div>
    </div>
   
    <div *ngIf="showTagCategories"><app-list-flow property="name" [list]="flow()?.tagCategories" (itemId)="updateTagCategoryId($event)" /></div>
    <div *ngIf="showTags"><app-list-flow property="name"  [list]="flow()?.tags" (itemId)="updateTagId($event)" /></div>
    <div *ngIf="showTagsByCategory"><app-list-flow property="name" [list]="flow()?.tagsByCategory" (itemId)="updateTagId($event)" /></div>
    <div *ngIf="showStyles"><app-list-flow property="name" [list]="flow()?.styles" (itemId)="updateStyleId($event)" /></div>
    <div *ngIf="showArtists"><app-list-flow property="name" [list]="flow()?.artists" (itemId)="updateArtistId($event)" /></div>
    <div *ngIf="showArtistsByStyle"><app-list-flow property="name" [list]="flow()?.artistsByStyle" (itemId)="updateArtistId($event)" /></div>
    <div *ngIf="showModels"><app-list-flow property="pseudonym" [list]="flow()?.models" (itemId)="updateModelId($event)" /></div>
    <div *ngIf="showModelsByFranchise"><app-list-flow property="pseudonym" [list]="flow()?.modelsByFranchise" (itemId)="updateModelId($event)" /></div>
    <div *ngIf="showMedias"><app-list-flow property="name" [list]="flow()?.medias" (itemId)="updateMediaId($event)" /></div>
    <div *ngIf="showFranchises"><app-list-flow property="name" [list]="flow()?.franchises" (itemId)="updateFranchiseId($event)" /></div>
    <div *ngIf="showFranchisesByMedia"><app-list-flow property="name" [list]="flow()?.franchisesByMedia" (itemId)="updateFranchiseId($event)" /></div>
    <div *ngIf="showLinkCategories"><app-list-flow property="name" [list]="flow()?.linkCategories" (itemId)="updateLinkCategoryId($event)" /></div>
    <div *ngIf="showLinks"><app-list-flow property="name" [list]="flow()?.links" (itemId)="updateLinkId($event)" /></div>
    <div *ngIf="showLinksByCategory"><app-list-flow property="name" [list]="flow()?.linksByCategory" (itemId)="updateLinkId($event)" /></div>
    
    <div *ngIf="showMoods"><app-moods-gallery-flow [moods]="flow()?.moods" (moodId)="updateMoodId($event)" /></div>
    <div *ngIf="showMoodsByTag"><app-moods-gallery-flow [moods]="flow()?.moodsByTag" (moodId)="updateMoodId($event)" /></div>
    <div *ngIf="showMoodsByModel"><app-moods-gallery-flow [moods]="flow()?.moodsByModel" (moodId)="updateMoodId($event)" /></div>
    <div *ngIf="showMoodsByArtist"><app-moods-gallery-flow [moods]="flow()?.moodsByArtist" (moodId)="updateMoodId($event)" /></div>
    <div *ngIf="showMoodsByFranchise"><app-moods-gallery-flow [moods]="flow()?.moodsByFranchise" (moodId)="updateMoodId($event)" /></div>

    <div *ngIf="showMood && flow()?.mood"><app-mood-details-flow [mood]="flow()?.mood" /></div>

    <div class="flow-toolbar toolbar-bottom">
        <div [class.active]="showMood" class="toolbar-card" (click)="toggleMood()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_mood_001.png" />
                <p>Mood</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.mood?.name || 'Mood'}} )</p>
            </div>
        </div>

        <div [class.active]="showTagCategory" class="toolbar-card" (click)="toggleTagCategory()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Tag Category</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.tagCategory?.name || 'Tag Category'}} )</p>
            </div>
        </div>

        <div [class.active]="showTag" class="toolbar-card" (click)="toggleTag()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_tags_001.png" />
                <p>Tag</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.tag?.name || 'Tag'}} )</p>
            </div>
        </div>

        <div [class.active]="showModel" class="toolbar-card" (click)="toggleModel()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_model_001.png" />
                <p>Model</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.model?.pseudonym || 'Model'}} )</p>
            </div>
        </div>

        <div [class.active]="showStyle" class="toolbar-card" (click)="toggleStyle()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Style</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.style?.name || 'Style'}} )</p>
            </div>
        </div>

        <div [class.active]="showArtist" class="toolbar-card" (click)="toggleArtist()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_artists_001.png" />
                <p>Artist</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.artist?.name || 'Artist'}} )</p>
            </div>
        </div>

        <div [class.active]="showMedia" class="toolbar-card" (click)="toggleMedia()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Media</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.media?.name || 'Media'}} )</p>
            </div>
        </div>

        <div [class.active]="showFranchise" class="toolbar-card" (click)="toggleFranchise()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_franchises_001.png" />
                <p>Franchise</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.franchise?.name || 'Franchise'}} )</p>
            </div>
        </div>

        <div [class.active]="showLinkCategory" class="toolbar-card" (click)="toggleLinkCategory()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_medias_001.png" />
                <p>Link Category</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.linkCategory?.name || 'Link Category'}} )</p>
            </div>
        </div>

        <div [class.active]="showLink" class="toolbar-card" (click)="toggleLink(); goToURL()">
            <div class="card-title">
                <img src="../../../assets/app_icons/icon_links_001.png" />
                <p>Link</p>
            </div>
            <div class="card-info">
                <p>( {{flow()?.link?.name || 'Link'}} )</p>
            </div>
        </div>
    </div>
</div>