<app-button-top />
<div id="layout-central">
    <h1>Nommer les Notes</h1>
    <div class="row-white">
        <div class="menu-flex">
            <app-button-back></app-button-back>
        </div>
    </div>
    <div class="article_box">
        <p><b>Exercice pratique</b> :</p>
    </div>
    <div class="article_box primary">
        <p>Pour apprendre à les repérer du premier coup d'oeil.</p>
    </div>
    <div class="image_single">
        <img src="../../../../../../assets/app_scripts/seq_clavier.png" />
    </div>
    <div class="article_box">
        <p><b>1.</b> Placez-vous face au clavier</p>
        <p><b>2.</b> Fermez les yeux</p>
        <p><b>3.</b> Tapez une note au hasard</p>
        <p><b>4.</b> Ouvrez les yeux</p>
        <p><b>5.</b> Nommez la note le plus vite possible</p> 
        <p><u>Exercice Bonus : </u></p>
        <p> - Nommer la note dans les deux systèmes</p>
        <p> - Chanter la note</p>
    </div>
</div>
<div class="bottom-box"></div>