<!-- Top Button -->
<app-button-top />

<div id="layout-central" *ngIf="tagsList() as tags">
    <div class="mobile"> 
        <div class="tags-gallery" *ngIf="tags.length; else loading">
            <div *ngFor="let list of tags">
                <div class="box">
                    <!-- Category Name -->
                    <p>{{ list.category.name }}</p>
                    <!-- Tag List -->
                    <div class="flex">
                        <div *ngFor="let tag of list.tags">
                            <a id="{{tag.businessId}}" 
                                [ngClass]="tag.businessId === moods().tagDetails?.businessId ? 'active' : '' " 
                                routerLink="/moods/gallery" 
                                (click)="updateTagId(tag.businessId)">▸ {{ tag.name }}
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>    
        <!-- Loading -->
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>
    </div>

    <div class="desktop">
        <div id="tags-wall" *ngIf="tags.length; else loading">
            <div class="tags-box" *ngFor="let category of tags">
                <div class="box-category">
                    <p class="name-cat left">{{ category.category.name }}</p>
                </div>
                <div class="overflow">
                    <div *ngFor="let tag of category.tags">
                        <p><span> ▸ </span><a routerLink="/moods/gallery" class="name-tag" (click)="updateTagId(tag.businessId)">{{ tag.name }}</a></p>
                    </div>
                </div>
            </div>   
        </div>
        <!-- Loading -->
        <ng-template #loading>
            <div class="loading">
                <p>Loading ...</p>
                <img src="../../../../assets/app_icons/spinner.gif" />
            </div>
        </ng-template>  
    </div>
</div>