<div class="home">
  <div class="left">
    <img class="logo" [src]="getImageURL('images-logo', 'logo-1', 'png')" />
    <p class="p">{{ 'message.home-quote' | translate }}</p>
    <div class="cta">
      <a class="button-big" routerLink="/moods">{{ 'message.home-cta' | translate }}</a>
    </div>
  </div>
  <div class="right">
    @if(flow()?.mood?.type === 1) {
      @if (flow()?.mood?.height === flow()?.mood?.width) {
      <img class="mood-square"
        src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
      }
      @if (flow()?.mood?.height > flow()?.mood?.width) {
      <img class="mood-portrait"
        src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
      }
      @if (flow()?.mood?.height < flow()?.mood?.width) {
      <img class="mood-landscape"
        src="{{environment}}/Content/img_thumbs/{{flow()?.mood?.businessId}}.{{flow()?.mood?.extension}}" />
      }
    }
  </div>
</div>