<app-button-top />
<div class="scripts">
    <h1>Avant de commencer</h1>
    <div class="article_box">
        <p>Bonjour à toutes et à tous !</p>
    </div>
    <div class="article_box primary">
        <p>Bienvenue dans cet espace de recherche dédié à la <u>pratique musicale</u>.</p>
    </div>
    <div class="article_box">
        <p>L'objectif étant de bâtir une communauté de musiciens de tout horizons.</p>
        <p>Partager nos expériences respectives et ensemble, progresser dans notre art !</p>
    </div>        
    <div class="article_box primary">
        <p>Je vais commencer par réunir un maximum de ressources sur mes pages.</p>
        <p>Le tout, en mettant l'accent sur la lisibilité.</p>
        <p>La structure des articles ainsi que leur contenu seront, bien entendu, revus et édités en cours de route.</p>
    </div>
    <div class="article_box">
        <p> - <b>Comment participer ?</b></p>
        <p>Par souci de simplicité,</p>
        <p>je vous propose d'utiliser <u>la section 'commentaires'</u> de <a target="_blank" href="https://www.youtube.com/@flyingpad">ma chaîne YouTube</a>.</p>
    </div>
</div>
<div class="bottom-box"></div>