<div class="scripts">
    <h1>Avant de commencer</h1>
    <div class="article_box">
        <p>Bonjour à toutes et à tous !</p>
    </div>
    <div class="article_box primary">
        <p>Bienvenue dans cet espace de recherche dédié à la <u>pratique musicale</u> !</p>
    </div>
    <div class="article_box">
        <p>L'objectif étant de mettre à disposition sur ce site, un maximum de ressources théoriques.</p>
        <p>Et de les expliquer ensuite, par le biais de vidéos sur ma chaîne youtube.</p>
        <p>Le tout, en mettant l'accent sur la lisibilité et l'accessibilité.</p>
    </div>        
    <div class="article_box primary">
        <p>La structure des articles ainsi que leur contenu seront revus et édités en cours de route.</p>
    </div>
    <div class="article_box">
        <p> - <b>Comment participer ?</b></p>
        <p>N'hésitez pas à me faire part de vos suggestions, avis, et critiques constructives.</p>
        <p>Par souci de simplicité,</p>
        <p>je vous propose d'utiliser <u>la section 'commentaires'</u> de <a target="_blank" href="https://www.youtube.com/@flyingpad">ma chaîne YouTube</a>.</p>
    </div>
</div>
<div class="bottom-box"></div>