<app-button-top />
<div id="layout-central" *ngIf="tagsFlow() as flow">
    <!-- Pagination controls -->
    <div class="row-sticky" *ngIf="flow.length > mpp">
      <div id="pagination">
          <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="p = $event"></pagination-controls>
      </div>  
    </div>     
    <!-- List -->
    <div id="list">
        <div *ngFor="let tag of flow | paginate : { itemsPerPage : mpp, currentPage: p }">
          <div class="list-flex"> 
            <a class="list-item link" routerLink="/tags/tags-gallery" (click)="updateTagId(tag.businessId)"> ▸ {{tag.name}}</a>   
            <a class="list-item update" routerLink="/tags/update-tag" (click)="updateTagId(tag.businessId)">U</a>      
            <a class="list-item delete" routerLink="/tags/delete-tag" (click)="updateTagId(tag.businessId)">D</a>     
          </div>  
        </div>
    </div>
</div>
<div class="bottom-box"></div>