<!-- Right Column Trigger -->
<div class="column-trigger" [class.column-trigger-on]="menuService.menuRActive === true" (click)="menuTrigger()">
    <div class="trigger-arrow"></div>
</div>
<!-- Right Column -->
<div class="right-column" [ngClass]="menuService.menuRActive == true ? 'right-column-on' : 'right-column-off'" *ngIf="artistsFlow() as Flow">
        <!-- Artists Menu -->
        <div class="item-top flex">
            <p><b>Total Artists</b></p>
            <p>{{ Flow.totalItems | number : '3.0'}} / {{ Flow.totalArtists }}</p>
        </div> 
        <div class="item-top list-categories">
            <a routerLink="/artists/create-artist"> ▸ Create Artist</a>
        </div>
        <!-- Styles Menu  -->
        <div class="item-top flex">
            <p><b>Total Styles</b></p>
            <p>{{ Flow.styles.length | number : '3.0'}}</p>
        </div> 
        <div class="item-top list-categories">
            <a routerLink="/artists/create-style"> ▸ Create Style</a>
        </div>
        <!-- Styles -->
        <div class="list">
            <div class="link-flex">
                <a routerLink="/artists/list" 
                    [ngClass]="Flow.selectedStyleId === null ? 'active' : 'category' " 
                    (click)="resetStyles()"> ▸ All Styles</a>
            </div>
            <div class="link-flex" *ngFor="let style of Flow.styles">
                <a routerLink="/artists/list" 
                [ngClass]="Flow.selectedStyleId === style.businessId ? 'active' : 'category' "
                id="{{style.businessId}}" (click)="updateCurrentStyleId(style.businessId)"> ▸ {{style.name}}</a>
                <a class="update" 
                routerLink="/artists/update-style" (click)="updateCurrentStyleId(style.businessId)">U</a>
                <a class="delete" 
                routerLink="/artists/delete-style" (click)="updateCurrentStyleId(style.businessId)">D</a>
            </div>
        </div>
    </div>
<router-outlet />