.wheel-controls {
    margin-top: 15px;

    display: flex;
    justify-content: center;
    align-items: center;

    a {
        height: 50px;
        width: 50px;

        display: flex;
        justify-content: center;
        align-items: center;

        background-color: var(--colorWhiteOpacity5);
        border: 3px solid var(--colorMainOpacity5);
        border-radius: 10px;

        margin: 0 25px;
        cursor: pointer;
        transition-duration: 300ms;

        .icon {
            padding: 25px;
        }
    }
    a:hover {
        background-color: var(--colorWhite);
        border: 3px solid var(--colorMain);
    }

    p {
        font-size: 12px;
        color: var(--colorMain);
        text-align: center;
        margin: 0;
        margin-top: 5px;
    }
}

.wheel-container {
    position: relative;
    height: 500px;
    width: 500px;
    margin: auto;
    margin-top: 25px;

    img {
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        border-radius: 300px;
    }
}

.wheel {
    transition: transform 0.5s ease-out;
}

@media (max-width: 600px) {
    .wheel-container {
        width: 100%;
        min-height: 450px;
    }
}