<div id="layout-central" *ngIf="artistsFlow() as Flow">
  <!-- User Input -->
  <div class="user-input">
      <input #searchInput type="text" placeholder="Search" [formControl]="nameSearchField">
  </div>
  <ng-container *ngIf="Flow.artistsPage">
    <!-- Pagination -->
    <div class="user-pagination">
      <!-- Previous Page -->
      <button (click)="pagination(Flow.previousId)" [disabled]="Flow.itemPosition === 0"> prev </button>
      <!-- Slider -->
      <div id="slider">
        <p>{{ Flow.itemPosition | number : '3.0'}}</p>
        <input 
          type="range" 
          name="slider" 
          min="0" 
          max="{{ Flow.totalItems }}"
          step="1" 
          [(ngModel)]="Flow.itemPosition"
          disabled
        >        
        <p>{{ Flow.totalItems | number : '3.0'}}</p>
      </div>
      <!-- Next Page -->
      <button (click)="pagination(Flow.nextId)" [disabled]="Flow.itemPosition > Flow.totalItems - 20"> next </button>
    </div>    
    <!-- List -->
    <div id="list">
      <div *ngFor="let artist of Flow.artistsPage">
        <div class="list-flex"> 
          <a class="list-item link" routerLink="/artists/artist-gallery" (click)="updateArtistId(artist.businessId)"> ▸ {{artist.name}}</a>   
          <a class="list-item update" routerLink="/artists/update-artist" (click)="updateArtistId(artist.businessId)">U</a>      
          <a class="list-item delete" routerLink="/artists/delete-artist" (click)="updateArtistId(artist.businessId)">D</a>     
        </div>  
      </div>
    </div>
  </ng-container>  
</div>