.profile {
    padding: 25px;

    max-width: 450px;
    margin: auto;

    background-color: var(--colorMainOpacity2);
    border: 3px solid var(--colorMain);
    border-radius: 10px;
    box-shadow: 0 3px 4px 0px var(--colorMainOpacity2);


    .flex {
        height: 25px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: var(--colorWhiteOpacity7);
        border-radius: 5px;

        padding: 15px;
        margin-bottom: 15px;

        p {
            margin: 0;
            color: var(--colorMain);
            font-size: 14px;
            letter-spacing: 1px;

            a:hover {
                text-decoration: underline;
            }
        }
        input {
            margin: 0;
            padding: 5px;
            border-radius: 5px;

            text-align: right;
            color: var(--colorMain);
            font-size: 14px;
            letter-spacing: 1px;
        }
    }

    .flex_created {
        margin: 30px;
        margin-top: 15px;
        margin-bottom: 0;

        .box_created {
            display: flex;
            justify-content: space-between;

            p {
                margin: 0;
                margin-bottom: 5px;
                text-align: center;
                color: var(--colorMainOpacity8);
                font-size: 13px;
            }
        }
    }
}