<div class="edition-delete">
    <h1>Delete Tag Category</h1>
    <hr>
    
    <p>You are about to permanently delete :</p>
    <p class="entity-name">' {{ tagCategory?.name }} '</p>
    <p>This action <u>cannot</u> be undone !!</p>
    <p><span class="span-warning">Attention :</span> This will also remove all associated tags.</p>
    
    <p class="p">Are you sure you want to proceed ?</p>
    
    <div class="buttons">
        <div class="button" (click)="deleteTagCategory()">YES</div>
    </div>
</div>