<div *ngIf="flow() as flow">
    <div class="filter-links">
        <input type="text" [(ngModel)]="searchLinks" placeholder="Filter links ...">
    </div>
    
    <div class="list">
        <div *ngFor="let item of filterLinks() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: currentPage }">
            <div class="group">
                <img id="favicon" [src]="'https://s2.googleusercontent.com/s2/favicons?domain=' + item.url + '&sz=96'" />
                <a target="_blank" href="{{item.url}}"> ▸ {{item.name}}</a>
            </div>
        </div>
    </div>
    
    <div class="pagination-row" *ngIf="flow.linksByCategory.length > elementsPerPage">
        <div id="pagination">
          <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="currentPage = $event"></pagination-controls>
        </div>   
    </div>
    
    <app-right-column>
        <app-right-column-list [table]="flow?.linkCategories" (entityId)="updateLinkCategoryId($event)"/>
    </app-right-column>
    
    <app-dialog *ngIf="showDialog" (dialog)="handleDialog()"><app-dialog-info moodsGalleryType="link" [entity]="flow.linkCategory" [moodsLength]="flow?.linksByCategory?.length"/></app-dialog>     
    <app-bottom-bar moodsGalleryType="link" [entityName]="flow?.linkCategory?.name" [moodsLength]="flow?.linksByCategory?.length" (dialog)="openDialog()"/>
</div>