<div class="edition">
    <div class="edition-selection">
        <p [style.fontWeight]="linksFlow()?.link ? 'bold' : 'normal'">{{ linksFlow()?.link?.name || 'Please, select a link from the list.' }}</p>
        <div class="edition-buttons">
            <img class="icon active" [src]="'https://s2.googleusercontent.com/s2/favicons?domain=' + linksFlow()?.link?.url + '&sz=96'" />
            @if(linksFlow()?.link) {
                <app-icon-go class="icon" size="25px" (click)="go()" />
            }
        </div>
    </div>
    @if(filterLinks()?.length) {
        <div class="filter"><input type="text" [(ngModel)]="searchLinks" placeholder="Filter links ..."></div>
        <div class="edition-list">
            <div *ngFor="let link of filterLinks() || [] | paginate : { itemsPerPage : elementsPerPage, currentPage: currentPage}">
                <a [class.active]="link.name === linksFlow()?.link?.name" (click)="setLinkId(link.businessId)"><span>{{link.description}}</span> ▸ {{link.name}}</a>
            </div>
        </div>
    }
    @else if(!filterLinks()?.length) {
        <div class="empty-list">
            <p>There are currently no links in this list.</p>
        </div>
    }
</div>

<app-right-column>
    <app-right-column-generic-list [items]="linksFlow()?.linkCategories || []"
        [selectedItemId]="linksFlow()?.linkCategory?.businessId" (setSelectedItemId)="setLinkCategoryId($event)" />
</app-right-column>

@if((linksFlow()?.linksByCategory?.length || 0) > elementsPerPage) {
    <div class="pagination-row">
        <div class="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="setCurrentPage($event)" />
        </div>
    </div>
}

<app-spacer />

<app-bottom-bar>
    <app-bottom-item-name [itemName]="linksFlow()?.linkCategory?.name" />
    <app-bottom-items-length [itemsLength]="linksFlow()?.linksByCategory?.length" />
    <app-bottom-toggle-right-menu />
</app-bottom-bar>