<div class="left-column" [class]="isLeftMenuOn ? 'on' : 'off' ">
    <div class="top">
        <div class="header">
            <div class="hamburger" (click)="handleMenuToggle()" [class.active]="isLeftMenuOn">
                <app-icon-hamburger size="23px" />
            </div>
            <div class="logo-mini">
                <img [src]="getImageURL('images-logo', 'logo-2', 'png')" />
            </div>
            <div class="logo">
                <img [src]="getImageURL('images-logo', 'logo-3', 'png')" />
            </div>
        </div>
        <div class="menu-elements">
            @if(isUserConnected) {
                <a routerLink="/dashboard" routerLinkActive="active" (click)="handleMenuMobile()">
                    <app-icon-user class="svg-icon" size="25px" />
                    <p>{{ 'title.dashboard' | translate }}</p>
                </a>
            }
            @if(!isUserConnected) {
                <a routerLink="/home" routerLinkActive="active" (click)="handleMenuToggle()">
                    <app-icon-user class="svg-icon" size="25px" />
                    <p>{{ 'title.home' | translate }}</p>
                </a>
            }
            <a routerLink="/scripts" routerLinkActive="active" (click)="handleMenuMobile()">
                <app-icon-script class="svg-icon" size="25px" />
                <p>Scripts</p>
            </a>
            <a routerLink="/tools" routerLinkActive="active" (click)="handleMenuMobile()">
                <app-icon-tools class="svg-icon" size="25px" />
                <p>{{ 'title.tools' | translate }}</p>
            </a>
            @if(!isUserConnected) {
                <a routerLink="/links" routerLinkActive="active" (click)="handleMenuMobile()">
                    <app-icon-link class="svg-icon" size="25px" />
                    <p>{{ 'title.links' | translate }}</p>
                </a>
            }
            <a routerLink="/moods" routerLinkActive="active" (click)="handleMenuToggle()">
                <app-icon-moods class="svg-icon" size="25px" />
                <p>Moods</p>
            </a>
            <a routerLink="/tags" routerLinkActive="active" (click)="handleMenuToggle()">
                <app-icon-tag class="svg-icon" size="25px" />
                <p>Tags</p>
            </a>
            @if(isUserConnected) {
                <a routerLink="/media" routerLinkActive="active" (click)="handleMenuToggle()">
                    <app-icon-media class="svg-icon" size="25px" />
                    <p>Media</p>
                </a>
            }
        </div>
    </div>
    <div class="bottom">
        <div class="menu-elements">
            @if(isUserConnected) {
                <a (click)="handleLogout()" routerLink="/home" (click)="handleMenuToggle()">
                    <app-icon-logout class="svg-icon" size="25px" />
                    <p>{{ 'title.logout' | translate }}</p>
                </a>
            }
            @if(!isUserConnected) {
                <a routerLink="/log-in" (click)="handleMenuToggle()">
                    <app-icon-user class="svg-icon" size="25px" />
                    <p>{{ 'title.log-in' | translate }}</p>
                </a>
            }
            <a routerLink="/settings" routerLinkActive="active" (click)="handleMenuMobile()">
                <app-icon-settings class="svg-icon" size="25px" />
                <p>{{ 'title.settings' | translate }}</p>
            </a>
        </div>
        <hr class="dialog-hr">
        <div class="menu-footer">
            <p>© {{currentYear}} <a routerLink="/about" (click)="handleMenuToggle()">Flying PAD</a> | Version : {{appVersion}}</p>
        </div>
    </div>
</div>