<div class="left-column" [class]="isLeftMenuOn ? 'on' : 'off' ">
    <div class="top">
        <div class="header">
            <div class="icon" (click)="handleMenuToggle()" [class.active]="isLeftMenuOn">
                <img [src]="getImageURL('icons-main-menu', 'hamburger', 'png')" />
            </div>
            <div class="logo-mini">
                <img [src]="getImageURL('images-logo', 'logo-2', 'png')" />
            </div>
            <div class="logo">
                <img [src]="getImageURL('images-logo', 'logo-3', 'png')" />
            </div>
        </div>
        <div class="menu-elements">
            @if(isUserConnected) {
                <a routerLink="/dashboard" routerLinkActive="active">
                    <img [src]="getImageURL('icons-main-menu', 'model', 'png')" />
                    <p>{{ 'title.dashboard' | translate }}</p>
                </a>
            }
            @if(!isUserConnected) {
                <a routerLink="/home" routerLinkActive="active" (click)="handleMenuToggle()">
                    <img [src]="getImageURL('icons-main-menu', 'home', 'png')" />
                    <p>{{ 'title.home' | translate }}</p>
                </a>
            }
            <a routerLink="/scripts" routerLinkActive="active">
                <img [src]="getImageURL('icons-main-menu', 'scripts', 'png')" />
                <p>Scripts</p>
            </a>
            <a routerLink="/tools" routerLinkActive="active">
                <img [src]="getImageURL('icons-main-menu', 'tools', 'png')" />
                <p>{{ 'title.tools' | translate }}</p>
            </a>
            @if(!isUserConnected) {
                <a routerLink="/links" routerLinkActive="active">
                    <img [src]="getImageURL('icons-main-menu', 'links', 'png')" />
                    <p>{{ 'title.links' | translate }}</p>
                </a>
            }
            <a routerLink="/moods" routerLinkActive="active" (click)="handleMenuToggle()">
                <img [src]="getImageURL('icons-main-menu', 'moods', 'png')" />
                <p>Moods</p>
            </a>
            <a routerLink="/tags" routerLinkActive="active" (click)="handleMenuToggle()">
                <img [src]="getImageURL('icons-main-menu', 'tags', 'png')" />
                <p>Tags</p>
            </a>
            @if(isUserConnected) {
                <a routerLink="/media" routerLinkActive="active" (click)="handleMenuToggle()">
                    <img [src]="getImageURL('icons-main-menu', 'media', 'png')" />
                    <p>Media</p>
                </a>
            }
        </div>
    </div>
    <div class="bottom">
        <div class="menu-elements">
            @if(isUserConnected) {
                <a (click)="handleLogout()" routerLink="/home" (click)="handleMenuToggle()">
                    <img [src]="getImageURL('icons-main-menu', 'logout', 'png')" />
                    <p>{{ 'title.logout' | translate }}</p>
                </a>
            }
            @if(!isUserConnected) {
                <a routerLink="/log-in" (click)="handleMenuToggle()">
                    <img [src]="getImageURL('icons-main-menu', 'model', 'png')" />
                    <p>{{ 'title.log-in' | translate }}</p>
                </a>
            }
            <a routerLink="/settings">
                <img [src]="getImageURL('icons-main-menu', 'settings', 'png')" />
                <p>{{ 'title.settings' | translate }}</p>
            </a>
        </div>
        <hr class="dialog-hr">
        <div class="bottom-menu">
            <p class="version">v.0.7</p>
        </div>
        <hr class="dialog-hr">
        <div class="menu-footer">
            <p>© {{currentYear}} <a routerLink="/about" (click)="handleMenuToggle()">Flying PAD</a></p>
        </div>
    </div>
</div>