<app-menu-right-desktop>
    <div class="content_right_desktop">
        <!-- Random Button -->
        <div class="item-top box_buttons">
            <a routerLink="/moods/mood-details/">Random Mood</a>
        </div>

        <!-- Shortcuts -->
        <div>
            <h1 class="item-top">Shortcuts</h1>

            <div class="item-top list_categories">
                <!-- <a routerLink="/artist-details" routerLinkActive="active" 
                *ngIf="(artist$ | async)?.name === '# Unknown Artist'">▸ Unknown Artist</a>
                
                <a routerLink="/artist-details"
                *ngIf="(artist$ | async)?.name !== '# Unknown Artist'">▸ Unknown Artist</a> -->

                <span>▸ Unknown Artist</span>
                <span>▸ Unknown Model</span>

                <!-- <a>▸ Unknown Model</a> -->
            </div>

            <div class="item-top list_categories">
                <!-- <a routerLink="/admin/moods-create-images">▸ Add Image</a>
                <a routerLink="/admin/moods-create-video">▸ Add Video</a> -->
                <span>▸ Add Image</span>
                <span>▸ Add Video</span>
            </div>

            <!-- Multi-Tag Options -->
            <div class="item-bottom box_buttons">
                <!-- <a routerLink="/multi-tag-a">Multi Tag</a> -->
                <span>Multi Tag</span>
            </div>
        </div>
    </div>
</app-menu-right-desktop>

<app-menu-right-mobile>
    <div class="content_right_mobile">
        <!-- Random Button -->
        <div class="item-top box_buttons">
            <a routerLink="/moods/mood-details/" (click)="menuMobileService.allMenuTriggerOff()">Random Mood</a>
        </div>
    </div>
</app-menu-right-mobile>

<router-outlet />