<div class="edition">
    <h2 class="h2">Edit Current Tag</h2>

    <form [formGroup]="formGroup">
        <input type="text" formControlName="name">
        <input type="text" formControlName="description">
        <select formControlName="tagCategoryId">
            <option *ngFor="let category of tagCategories" [value]="category.businessId"
                [selected]="tag?.tagCategoryId === category.businessId">
                {{category.name}}
            </option>
        </select>
    </form>

    <a class="edition-button" [class.edition-button-disabled]="formGroup.invalid" (click)="updateTag()">Submit</a>
    <a class="edition-button" (click)="toggleDialog()">Delete</a>
</div>

<app-spacer />

<app-dialog>
    <app-delete-tag [tag]="tag" [tagCategoryId]="tag?.tagCategoryId" (setViewMode)="handleSetViewMode()" />
</app-dialog>