<div class="edition"> 
    <h2 class="h2">Edit current tag.</h2>
    <form [formGroup]="editFormGroup">
        <input type="text" formControlName="name">
        <input type="text" formControlName="description">    
        <select formControlName="tagCategoryId">
            <option *ngFor="let category of tagCategories" [value]="category.businessId" [selected]="tag?.tagCategoryId === category.businessId">
                {{category.name}}
            </option>
        </select>  
    </form>
    <a class="edition-button" [class.edition-button-disabled]="editFormGroup.invalid" (click)="onSubmit()">Submit</a>
    <a class="edition-button" (click)="openDeleteDialog()">Delete</a>
</div>

@if(isDeleteDialogOpen) {
    <app-dialog (dialog)="closeDeleteDialog()">
        <app-delete-tag [tag]="tag" [tagCategoryId]="tag?.tagCategoryId" (toggleDialog)="closeDeleteDialogEmit()" />
    </app-dialog>
}