<div class="scripts">
    <h1>Principes Élémentaires</h1>
    <div class="article_box">
        <p>Les ARTS, au sens large du terme, reposent en grande partie sur le principe du <b>CONTRASTE</b>.</p>
    </div>
    <div class="article_box primary">
        <p><u>Par exemple</u>, entre : Clair et Obscur, Douceur et Dureté, Chaleur et Froideur, Rapidité et Lenteur, etc ...</p>
    </div>
    <div class="article_box">
        <p>La musique n'échappe pas à cette règle, car si on parle bien par définition d'<u>organiser des sons</u>.</p>
        <p>On les organise avant tout par opposition au silence, donc à l'absence de son.</p>
        <p>La musique dans sa globalité repose donc sur ce premier contraste entre "silence" et "bruit".</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Et quand on parle de "bruit", cela implique forcément la notion de volume.</p>
        <p>Nous pouvons donc, souligner un deuxième contraste entre les bruits "doux" et ceux qui sont "puissants"</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Ensuite, la musique étant un art qui évolue dans le temps,</p>
        <p>Relevons l'apparition d'un troisième contraste entre : rapidité et lenteur.</p>
        <p>Et un quatrième contraste entre : sons courts et sons longs ...</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>À cela, ajoutons encore la dimension harmonique, c'est à dire, de la simultanéité des sons.</p>
        <p>Là encore, il va s'agir de contraste.</p>
        <p>L'idée étant de basculer en alternance entre 2 états élémentaires :</p>
        <p>- Un état de stabilité harmonique</p>
        <p>- Un état d'instabilité harmonique</p>
    </div>
    <div class="article_box primary">
        <p>En harmonie, ce concept d'alternance entre stabilité et d'instabilité,</p>
        <p>on peut le concevoir de plusieurs manières :</p>
        <p> - Au niveau des intervalles, donc à partir de deux notes jouées simultanément.</p>
        <p> - Au niveau des accords, donc à partir de trois notes ou plus, jouées simultanément.</p>
        <p> - Enfin, la stabilité ou instabilité relative entre les accords.</p>
    </div>
    <div class="article_box">
        <p>Il est primordial de faire cette distinction entre ces différentes conceptions.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Bien entendu, quand on parle de contraste, on souligne les deux pôles extrêmes.</p>
        <p>Mais aussi vrai qu'il existe entre le blanc et le noir, une infinité de nuances de gris.</p>
        <p>Il en va de même pour tous les exemples de contrastes dont nous allons parler.</p>
    </div>
</div>