<div class="scripts">
    <h1>Principes Élémentaires</h1>
    <div class="article_box">
        <p>Dans son essence, la musique repose sur un principe binaire ...</p>
        <p>L'idée étant de basculer en alternance entre 2 états élémentaires :</p>
        <p>- Un état de stabilité ;</p>
        <p>- Un état d'instabilité.</p>
    </div>
    <div class="article_box primary">
        <p>Ce concept d'alternance entre stabilité et d'instabilité, on peut le concevoir de plusieurs manières :</p>
        <p> - Au niveau des intervalles, donc à partir de deux notes jouées simultanément.</p>
        <p> - Au niveau des accords, donc à partir de trois notes ou plus, jouées simultanément.</p>
        <p> - Enfin, la stabilité ou instabilité relative entre les accords.</p>
    </div>
    <div class="article_box">
        <p>Il est primordial de faire cette distinction entre ces différentes conceptions.</p>
    </div>
</div>