<div id="layout-central">
    @if (moods().length > 0) {
        <div class="gallery">
            @for (mood of moods() | paginate : { itemsPerPage : moodsPerPage, currentPage : paginationService.moodsByTagCurrentPage}; track $index) {
                <section>
                    @if (mood.type == 1) {
                        <img src="{{environment}}/Content/img_thumbs/{{mood.businessId}}.{{mood.extension}}" />
                    }
                    @if (mood.type == 2) {
                        <img class="vid" src="{{environment}}/Content/video_thumbs/{{mood.businessId}}.jpg" />  
                    }
                    @if (mood.type == 3) {
                        <img src="{{environment}}/Content/txt_thumbs/{{mood.businessId}}.jpg" /> 
                    }
                    @if (mood.type == 4) {
                        <img class="vid-youtube" src="{{environment}}/Content/youtube_thumbs/{{mood.businessId}}.jpg" />
                    }
                </section>
            }
            @empty
            {
                <p>Moods list is empty.</p>
            }
        </div>
    }
    @else {
        <p>No moods have been found.</p>
    }    
</div>
<!-- Pagination -->
<div class="pagination-row">
    @if (moods().length > moodsPerPage) {
        <div id="pagination">
            <pagination-controls previousLabel="" nextLabel="" class="pagination" (pageChange)="paginationService.moodsByTagCurrentPage = $event"></pagination-controls>
        </div>  
    }
</div>
<div class="bar">

</div>