<div class="filter">
    <input type="text" [(ngModel)]="input" placeholder="Filter models ...">
</div>
<div class="form-container">
    <div class="form-flex">
        <div class="form_cat_box">
            <div *ngFor="let model of filterModels()">
                <div class="duo">
                    <input type="checkbox" id="{{model.pseudonym}}" value="{{model.pseudonym}}" 
                        [checked]="model.isChecked" (change)="model.isChecked = !model.isChecked">
                    <label for="{{model.pseudonym}}">{{model.pseudonym}}</label>
                </div>     
            </div>   
        </div>
    </div> 
</div>
<div class="buttons">
    <div class="button" (click)="onSubmit()">Submit</div>
</div>
<div class="spacer-150"></div>