.quick-flex {
    display: flex;
    align-items: center;

    .link-youtube {
        margin-right: 10px;
    }
    .link-youtube:hover {
        color: darkred;
        transition-duration: 500ms;
    }

    .icon {
        animation: bounce 1s ease;
    }

    @keyframes bounce {
        0%,
        20%,
        50%,
        80%,
        100% {
            transform: translateY(0);
        }
    
        40% {
            transform: translateY(-20px);
        }
    
        60% {
            transform: translateY(-10px);
        }
    }
}