<div class="scripts">
    <h1>Avant de commencer</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Bonjour à toutes et à tous !</p>
    </div>
    <div class="article_box">
        <p>Bienvenue dans cet espace de recherche dédié à la <b>pratique musicale</b> !</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>L'objectif étant de mettre à disposition sur ce site, un maximum de ressources théoriques.</p>
        <p>Et de les expliquer ensuite, par le biais de vidéos sur ma chaîne youtube.</p>
        <p>Le tout, en mettant l'accent sur la lisibilité et l'accessibilité.</p>
    </div>
    <div class="article_box primary">
        <p>La structure des articles ainsi que leur contenu seront revus et édités en cours de route.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p> ▸ <b>Comment participer ?</b></p>
        <p>N'hésitez pas à me faire part de vos suggestions, avis, et critiques constructives.</p>
        <p>Par souci de simplicité,</p>
        <div class="quick-flex">
            <p>je vous propose d'utiliser la section 'commentaires' de 
                <a class="link-youtube" target="_blank" href="https://www.youtube.com/@flyingpad"><u>ma chaîne YouTube</u></a>
            </p>
            <a class="icon" target="_blank" href="https://www.youtube.com/@flyingpad"><app-logo-youtube size="30px" /></a>
        </div>
    </div>
</div>