<div class="scripts">
    <h1>Les Intervalles</h1>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Je vais vous demander d'accorder une importance toute particulière à ce chapitre !</p>
        <p>Celui-ci étant :</p>
        <p> ▸ D'une part, l'aboutissement des précédents.</p>
        <p> ▸ Et d'autre part, la clé qui ouvre toutes les portes de la compréhension du système tonal.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Dans les chapitres précédents, nous avons identifié les notes.</p>
        <p>Et avons défini une unité de mesure (le demi-ton) pour mesurer les distances entre les notes.</p>
        <p>La distance qui sépare deux notes et que nous allons mesurer se nomme : Un <b>intervalle</b> !</p>
    </div>
    <div class="article_box primary">
        <p>Maintenant, accrochez-vous ! La logique qui va suivre n'est pas bien compliquée en soi.</p>
        <p>Mais elle est absolument <u>FONDAMENTALE</u> pour ne pas se perdre par la suite !</p>
    </div>  
    <div class="article_box">
        <p>Nous allons faire une distinction entre :</p>
        <p> ▸ Les intervalles <u>à l'intérieur</u> d'une octave.</p>
        <p> ▸ Les intervalles <u>au delà</u> de l'octave.</p>
    </div>  
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Commençons par les intervalles à l'intérieur d'une octave.</p>
        <p>Ici, chaque intervalle porte un nom unique :</p>
    </div>  
    <div class="intervals">
        <table>
            <tr>
                <td>1/2 ton</td>
                <td>Seconde mineure</td>
            </tr>
            <tr>
                <td>1 ton</td>
                <td>Seconde majeure</td>
            </tr>
            <tr>
                <td>1 ton 1/2</td>
                <td>Tierce mineure</td>
            </tr>
            <tr>
                <td>2 tons</td>
                <td>Tierce majeure</td>
            </tr>
            <tr>
                <td>2 tons 1/2</td>
                <td>Quarte juste</td>
            </tr>
            <tr>
                <td>3</td>
                <td>Triton</td>
            </tr>
            <tr>
                <td>3 tons 1/2</td>
                <td>Quinte juste</td>
            </tr>
            <tr>
                <td>3 tons 1/2</td>
                <td>Quinte augmentée</td>
            </tr>
            <tr>
                <td>4 tons</td>
                <td>Sixte</td>
            </tr>
            <tr>
                <td>4 tons 1/2</td>
                <td>Septième mineure</td>
            </tr>
            <tr>
                <td>5 tons</td>
                <td>Septième majeure</td>
            </tr>
            <tr>
                <td>6 tons</td>
                <td><b>Octave</b></td>
            </tr>
        </table>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Maintenant, que se passe-t-il au delà de l'octave ?</p>
        <p>Vous m'accorderez que dans les faits, ce sont les même notes qui se répètent en boucle.</p>
    </div>  
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Si nous prenons par exemple l'intervalle Do - Ré :</p>
        <p> ▸ Dans son octave de départ, c'est une seconde majeure.</p>
        <p> ▸ Mais si vous prenez le ré à une octave au dessus, l'intervalle devient une neuvième majeure.</p>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Et nous pourrions continuer comme cela à l'infini :</p>
        <p>Neuvième, Dixième, ... , Trentième, Cent-cinquante-troisième, etc ...</p>
        <p>Mais soyons honnêtes, cela deviendrait vite ingérable.</p>
    </div> 
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Aussi, dans la pratique, c'est un peu plus particulier, et on s'arrête généralement aux treizièmes.</p>
        <p>Le tout, en "repliant" les intervalles dans l'octave de départ.</p>
        <p>Une neuvième pourra donc être l'équivalent d'une seconde.</p>
        <p>Si on utilise le terme neuvième, ce sera juste pour indiquer que la note se trouve au delà de l'octave.</p>
        <p>Et cela, même si la note se trouve 3, 5 ou 10 octaves plus haut !!</p>
    </div> 
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Vous ne verrez (fort heureusement) donc jamais parler de vingt-troisième majeure pour parler d'un intervalle Do - Ré (2 octaves au dessus).</p>
        <p>On parlera par contre bien de neuvième majeure, pour indiquer que le ré dépasse malgré tout l'octave.</p>
        <p>Et spécifiquement, dans certains contextes d'analyse, là, on pourra parler de seconde majeure.</p>
    </div> 
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Enfin, il existe encore quelques particularités concernant nos intervalles adorés :</p>
        <p> ▸ Certains intervalles précis conservent malgré tout leurs noms au delà de l'octave !</p>
        <p>Les tierces, quintes et septièmes seront TOUJOURS considérées comme telles.</p>
        <p> ▸ Et dans certains contextes plus précis, vous verrez parfois certains intervalles arborer plusieurs noms.</p>
    </div> 
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Concrètement, voici donc un tableau complet des intervalles que vous allez rencontrer :</p>
    </div> 
    <div class="intervals">
        <table>
            <thead>
                <tr>
                    <th>Tons</th>
                    <th>Intervalle</th>
                    <th>Autres noms courants</th>
                </tr>
            </thead>
            <tbody>
                <tr><td>1/2</td><td>Seconde mineure</td><td>m2</td></tr>
                <tr><td>1</td><td>Seconde majeure</td><td>M2</td></tr>
                <tr><td>1 1/2</td><td>Tierce mineure</td><td>m3</td></tr>
                <tr><td>2</td><td>Tierce majeure</td><td>M3</td></tr>
                <tr><td>2 1/2</td><td>Quarte juste</td><td>P4</td></tr>
                <tr><td>3</td><td>Triton</td><td>Quarte augmentée (4#) / Quinte diminuée (5♭)</td></tr>
                <tr><td>3 1/2</td><td>Quinte juste</td><td>P5</td></tr>
                <tr><td>3 1/2</td><td>Quinte augmentée</td><td>5#</td></tr>
                <tr><td>4</td><td>Sixte mineure</td><td>m6</td></tr>
                <tr><td>4 1/2</td><td>Sixte majeure</td><td>M6</td></tr>
                <tr><td>5</td><td>Septième mineure</td><td>m7</td></tr>
                <tr><td>5 1/2</td><td>Septième majeure</td><td>M7</td></tr>
                <tr><td>6</td><td>Octave</td><td>8va</td></tr>
                <tr><td>6 1/2</td><td>Neuvième mineure</td><td>m9</td></tr>
                <tr><td>7</td><td>Neuvième majeure</td><td>M9</td></tr>
                <tr><td>7 1/2</td><td>Tierce mineure (2)</td><td>m3 (octave au-dessus)</td></tr>
                <tr><td>8</td><td>Tierce majeure (1)</td><td>M3 (octave au-dessus)</td></tr>
                <tr><td>8 1/2</td><td>Onzième diminuée</td><td>11♭</td></tr>
                <tr><td>9</td><td>Onzième</td><td>11</td></tr>
                <tr><td>9 1/2</td><td>Quinte juste (2)</td><td>P5 (octave au-dessus)</td></tr>
                <tr><td>10</td><td>Treizième mineure</td><td>m13</td></tr>
                <tr><td>10 1/2</td><td>Treizième majeure</td><td>M13</td></tr>
                <tr><td>11</td><td>Septième mineure (2)</td><td>m7 (octave au-dessus)</td></tr>
                <tr><td>11 1/2</td><td>Septième majeure (2)</td><td>M7 (octave au-dessus)</td></tr>
                <tr><td>12</td><td>Octave (2)</td><td>8va</td></tr>
            </tbody>
        </table>
    </div>
    <hr class="dialog-hr">
    <div class="article_box">
        <p>Et voilà pour les bases sur les intervalles.</p>
        <p>Dans les prochains chapitres, nous verrons que ceux-ci sont bien plus que de simples mesures.</p>
        <p>Ce sont de véritables forces en mouvement, qui attirent, repoussent et façonnent la musique...</p>
        <p>Les intervalles sont en réalité, l'essence même de ce qui nous fait vibrer !</p>
    </div>  
</div>
<app-spacer height="100px" />