.intervals {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    table {
        color: var(--colorMain);
        margin-bottom: 15px;

        tr {
            td {
                border: 1px solid var(--colorMain);
                border-radius: 5px;
                padding: 10px;
            }
        }
    }
}