<div class="scripts">
    <h1>Les Intervalles</h1>
    <div class="article_box">
        <p>Un intervalle est la distance qui sépare deux notes.</p>
        <p><u>Exemple</u> :</p>
        <p>La distance qui sépare les notes Do et Mi</p>
        <p>( Tierce Majeure )</p>
    </div>
    <div class="article_box primary">
        <p>Dans le contexte musical, l'unité de mesure qui permet de calculer cette distance est le demi ton.</p>
        <p> - La plus ' petite ' distance est donc 1/2 ton ( Seconde mineure )</p>
        <p> - La plus ' grande ' distance est 12/2 tons ( Octave )</p>
    </div>
    <div class="article_box">
        <p>Il s'agit en fait, d'un rapport fréquentiel, d'un point de vue physique ou sonore peut se traduire en Hertz.</p>
    </div>    
    <div class="article_box primary">
        <p>Dans la gamme tempérée, comme il existe 12 notes, il existe 12 intervalles.</p>
    </div>
    <div class="article_box">
        <p><u>Légende</u> :</p>
        <p><b>A</b> : Valeur en demi-tons | <b>B</b> : Valeur en tons | <b>C</b> : Appelation | <b>D</b> : Notation | <b>E</b> : Consonance | <b>F</b> : Tonique</p>
    </div>    
</div>
<div class="intervals">
    <table>
        <tr>
            <td>A</td>
            <td>B</td>
            <td>C</td>
            <td>D</td>
            <td>E</td>
            <td>F</td>
        </tr>
        <tr>
            <td>1</td>
            <td>1/2</td>
            <td>Seconde mineure</td>
            <td>m2</td>
            <td>Forte dissonance</td>
            <td>↑</td>
        </tr>
        <tr>
            <td>2</td>
            <td>1 ton</td>
            <td>Seconde majeure</td>
            <td>M2</td>
            <td>Légère dissonance</td>
            <td>↓</td>
        </tr>
        <tr>
            <td>3</td>
            <td>1 ton 1/2</td>
            <td>Tierce mineure</td>
            <td>m3</td>
            <td>Douce consonnance</td>
            <td>↑</td>
        </tr>
        <tr>
            <td>4</td>
            <td>2 tons</td>
            <td>Tierce majeure</td>
            <td>M3</td>
            <td>Douce consonnance</td>
            <td>↓</td>
        </tr>
        <tr>
            <td>5</td>
            <td>2 tons 1/2</td>
            <td>Quarte juste</td>
            <td>P4</td>
            <td>Consonnance / Dissonance</td>
            <td>-</td>
        </tr>
        <tr>
            <td>6</td>
            <td>3</td>
            <td>Triton</td>
            <td>Tr</td>
            <td>Neutre ou instable</td>
            <td>↓</td>
        </tr>
        <tr>
            <td>7</td>
            <td>3 tons 1/2</td>
            <td>Quinte juste</td>
            <td>P5</td>
            <td>Consonnance ouverte</td>
            <td>↓</td>
        </tr>
        <tr>
            <td>8</td>
            <td>3 tons 1/2</td>
            <td>Quinte augmentée</td>
            <td>5+, 5#</td>
            <td>Douce consonnance</td>
            <td>↑</td>
        </tr>
        <tr>
            <td>9</td>
            <td>4 tons</td>
            <td>Sixte</td>
            <td>M6, 6</td>
            <td>Douce consonance</td>
            <td>-</td>
        </tr>
        <tr>
            <td>10</td>
            <td>4 tons 1/2</td>
            <td>Septième mineure</td>
            <td>m7 ; 7</td>
            <td>Légère dissonance</td>
            <td>↑</td>
        </tr>
        <tr>
            <td>11</td>
            <td>5 tons</td>
            <td>Septième majeure</td>
            <td>M7</td>
            <td>Forte dissonance</td>
            <td>-</td>
        </tr>
        <tr>
            <td>12</td>
            <td>6 tons</td>
            <td>Octave</td>
            <td></td>
            <td>Consonnance Ouverte</td>
            <td>↓</td>
        </tr>
    </table>
</div>
<div class="bottom-box"></div>