<header>
    <div class="header-grid">
        <div class="grid-section-left">
            <div class="trigger">
                <img [class.img-active]="isMenuON" [src]="getImageURL('icons-main-menu', 'hamburger', 'png')"
                    (click)="handleMenuTrigger()" />
            </div>
            <img class="logo" [src]="getImageURL('images-logo', 'logo-3', 'png')" />
        </div>
        <div class="grid-section-middle">
            <!-- <p class="responsive">Search</p> -->
        </div>
        <div class="grid-section-right">
            <div class="icons">
                <img [class.img-active]="isMenuON" [src]="getImageURL('icons-header', 'toggle', 'png')" routerLink="/settings" />
                @if(userIsConnected) {
                <img [class.img-active]="isMenuON" [src]="getImageURL('icons-header', 'logout', 'png')" (click)="handleLogoutTrigger()">
                }
                @else {
                <img [class.img-active]="isMenuON" [src]="getImageURL('icons-header', 'login', 'png')" (click)="handleLoginTrigger()" />
                }
            </div>
        </div>
    </div>
</header>