<header>
    <div class="header-grid">
        <div class="grid-section-left">
            <div class="trigger">
                <img [class.img-active]="isMenuON" [src]="getImageURL('icons-main-menu', 'hamburger', 'png')"
                    (click)="handleMenuTrigger()" />
            </div>
            <img class="logo" [src]="getImageURL('images-logo', 'logo-3', 'png')" />
        </div>
        <div class="grid-section-middle">
            <!-- <p class="responsive">Search</p> -->
        </div>
        <div class="grid-section-right">
            @if(userIsConnected) {
            <!-- Logout -->
            <div class="login">
                <a (click)="handleLogoutTrigger()">
                    <img [class.img-active]="isMenuON" [src]="getImageURL('icons-header', 'logout', 'png')" />
                </a>
            </div>
            }
            @else {
            <!-- Login -->
            <div class="login">
                <a (click)="handleLoginTrigger()">
                    <img [class.img-active]="isMenuON" [src]="getImageURL('icons-header', 'login', 'png')" />
                </a>
            </div>
            }
        </div>
    </div>
</header>