.language-menu {
    position: absolute;
    top: 75px;
    right: 150px;

    width: 200px;

    padding: 5px;

    background-color: var(--colorMainOpacity4);
    border: 2px solid var(--colorMain);
    border-radius: 5px;
    backdrop-filter: blur(3px);
    box-shadow: 0 1px 4px 0px var(--colorMainOpacity2);

    z-index: 25;
    transition-duration: 300ms;

    .language {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        height: 30px;
        margin: 5px;

        padding-left: 10px;
        padding-right: 10px;

        background-color: var(--colorWhiteOpacity6);
        border: 2px solid var(--colorMainOpacity2);
        border-radius: 5px;
        box-shadow: 0 1px 4px 0px var(--colorMainOpacity2);

        font-size: 12px;
        font-weight: bold;
        letter-spacing: 1px;
        color: var(--colorMainOpacity8);

        transition-duration: 200ms;

        img {
            height: 50%;
            border: 1px solid var(--colorMainOpacity2);
            border-radius: 3px;
            margin-right: 8px;
        }
    }
    .language:hover:not(.active) {
        background-color: var(--colorWhiteOpacity8);
        border: 2px solid var(--colorMainOpacity7);
        color: var(--colorMain);
        cursor: pointer;
    }
    .active {
        background-color: var(--colorWhite);
        border: 2px solid var(--colorMainOpacity7);
    }
}

.on {
    right: 150px;
    opacity: 1;
}

.off {
    right: -215px;
    opacity: 0;
}